.well
  .row
    .col-md-4.col-sm-6.top-buffer
      .col-xs-12.no-padding-xs
        date-range-picker(dt='barchart.daterange', spin="barchart.promiseTracker.active()", on-download-cb="barchart.getInvoices()")
    .col-xs-6.col-sm-3.col-md-2.top-buffer.text-center.no-padding
      dropdown-multiselect(size="sm", pre-selected='barchart.filters.location', ng-model='barchart.filters.location', icon='fa-map-marker', options='barchart.locations', text='Locations')
    .col-xs-6.col-sm-3.col-md-2.top-buffer.text-center.no-padding
      dropdown-multiselect(size="sm", pre-selected='barchart.filters.processed_by', ng-model='barchart.filters.processed_by', icon='fa-users', options='barchart.roles', text='Users')
    .col-xs-6.col-sm-3.col-md-2.top-buffer.text-center.no-padding.col-sm-offset-6.col-xs-offset-0.col-md-offset-0.col-lg-offset-0
      dropdown-multiselect(size="sm", pre-selected='barchart.filters.day_of_week', ng-model='barchart.filters.day_of_week', icon='fa-calendar', options='barchart.day_of_week', text='Day')
    .col-xs-6.col-sm-3.col-md-2.top-buffer.text-center.no-padding
      dropdown-multiselect(size="sm", pre-selected='barchart.filters.type', ng-model='barchart.filters.type', icon='fa-cogs', options='barchart.types', text='Type')
  .row.top-buffer
    .col-sm-12
      nvd3-multi-bar-chart(data='barchart.formattedData',
                           staggerlabels='true',
                           height='575',
                           color="colorfunction()",
                           yaxistickformat='yAxisTickFormatFunction()',
                           xaxistickformat='xAxisTickFormatFunction(barchart.settings.x_axis)',
                           showxaxis='true',
                           showyaxis='true',
                           y='yFunction()',
                           x='xFunctionBar()',
                           legendcolor="colorfunction()",
                           nodata='No data for these inputs',
                           showlegend='false',
                           stacked='true',
                           interactive='true',
                           reducexticks='true',
                           tooltips='true',
                           tooltipcontent='toolTipContentFunction(barchart.settings.x_axis)')
        svg(style="margin-left:20px;")
  .row
    .col-xs-12.col-sm-6.text-center.top-buffer-xs
      dropdown-singleselect(size="sm", ng-model='barchart.settings.x_axis', icon='fa-long-arrow-right', options='barchart.x_axis_options', text='X-Axis')
    .col-xs-12.col-sm-6.text-center.top-buffer-xs
      dropdown-singleselect(size="sm", ng-model='barchart.settings.color_by', icon='fa-bar-chart-o', options='barchart.color_by_options', text='Group')
  