.well
  .row
    .col-sm-12
      date-range-picker(dt='piechart.daterange', spin='piechart.promiseTracker.active()', on-download-cb="piechart.getInvoices()")
  .row
    //- //-                   showlegend='true',??
    nvd3-pie-chart(data='piechart.formattedData',
                   height='270',
                   x='xFunction()',
                   y='yFunction()',
                   tooltipcontent='toolTipContentFunction()',
                   color="colorfunction()",
                   legendcolor="colorfunction()",
                   showlabels='true',
                   noData='No data',
                   donutlabelsoutside='true',
                   labeltype='percent',
                   donut='true',
                   tooltips='true')
      svg.text-center
  .col-xs-3.text-center.position-piecharttotal
    p(ng-show="piechart.formattedData.length") {{ piechart.getTotal() | noFractionCurrency }}
  .row(style="margin-top:-25px;")
    .col-xs-6.text-center.no-padding
      dropdown-multiselect(size="sm", pre-selected='piechart.filters.location', ng-model='piechart.filters.location', icon='fa-map-marker', options='piechart.locations', text='Locations')
    .col-xs-6.text-center.no-padding
      dropdown-multiselect(size="sm", pre-selected='piechart.filters.processed_by', ng-model='piechart.filters.processed_by', icon='fa-users', options='piechart.roles', text='Users')