div
  .page-header
    h1 Send Messages
  .well
    .row.top-buffer
      .col-xs-12.col-sm-12.col-md-7
        .col-xs-6.col-sm-4.no-padding-xs.no-padding-md
          dropdown-multiselect(ng-model="data.filters.carriers", options="data.carriers", text="Carriers", icon='fa-signal', pre-selected="data.filters.carriers", size="sm")
        .col-xs-6.col-sm-4.no-padding-xs.no-padding-md
          dropdown-multiselect(ng-model="data.filters.languages", options="data.languages", text="Languages", icon='fa-language', pre-selected="data.filters.languages", size="sm")
        .col-xs-12.top-buffer-xs-only.text-center-xs.col-sm-4.text-right.no-padding-md
          dropdown-multiselect(ng-model="data.filters.paymenttypes", options="data.paymenttypes", text="Payment Types", icon='fa-tags', pre-selected="data.filters.paymenttypes", size="sm")
        .col-xs-12.no-padding-xs.no-padding-md.top-buffer
          .form-group
            label.col-xs-12.control-label.text-center Plans
            rzslider(rz-slider-floor="data.plans.floor", rz-slider-ceil="data.plans.ceil", rz-slider-model="data.filters.plans.min", rz-slider-high="data.filters.plans.max", rz-slider-translate="translatePlan")
        .col-xs-12.col-md-8.no-padding-xs.no-padding-md.top-buffer.bottom-buffer
          .form-group
            label.col-xs-12.control-label.text-center Next Payment
            .col-xs-12.no-padding-xs.no-padding-md
              date-range-picker(dt='data.filters.dateRange', disable-cb='true')
        .col-xs-12.col-sm-12.col-md-4.text-center-xs.text-center-sm.top-buffer.bottom-buffer.text-right
          button.btn.btn-sm.btn-default(ng-click="data.getMessageList()", style="margin-top:22px;")
            i.fa.fa-download.grow-icon
            span.icon-left Get Clients
      form.col-md-5.col-xs-12.no-padding-md.top-buffer(role="form", novalidate='')
        .form-group
          label.col-xs-12.control-label Your Message:
          .col-xs-12
            textarea.form-control(rows="5", ng-model="data.message", placeholder="Write your message here.")
        .col-xs-6.top-buffer
          label  {{data.getMessageListNumbers().length}} clients selected.
        .col-xs-6.text-right.top-buffer
          button.btn.btn-sm.btn-info(ng-disabled="!data.getMessageListNumbers().length || (data.message === '')", ng-click="data.sendBulkSMS()")
            i.fa.fa-send.icon-right-xs.grow-icon
            | Send to All
  .col-xs-12.well(style="background-color:white")
    .col-xs-12.no-padding-xs
      .col-xs-5.col-sm-3.padding-xs.col-md-2.text-center
        button.btn.btn-link.btn-link-default.btn-xs(type="button", name="plan")
          label.control-label.icon-right-xs Client
          i.fa.fa-lg
      .hidden-xs.hidden-sm.col-md-2.text-center
        button.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click="sort('carrier');carriericon=false", ng-mouseenter='(carriericon = true)', ng-mouseleave='carriericon = false', name="carrier")
          label.control-label.icon-right-xs Carrier
          i.fa.fa-lg(ng-class='{"fa-sort-up": (isSortUp("carrier") || carriericon), "fa-sort-desc":isSortDown("carrier")}')
      .hidden-xs.hidden-sm.col-md-1.text-center
        button.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click="sort('plan');planicon=false", ng-mouseenter='(planicon = true)', ng-mouseleave='planicon = false', name="plan")
          label.control-label.icon-right-xs Plan
          i.fa.fa-lg(ng-class='{"fa-sort-up": (isSortUp("plan") || planicon), "fa-sort-desc":isSortDown("plan")}')
      .hidden-xs.col-sm-3.col-md-2.text-center
        buttton.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click="sort('paymenttype');displayicon=false", ng-mouseenter='(paymenttypeicon = true)', ng-mouseleave='paymenttypeicon = false', name="paymenttype")
          label.control-label.icon-right-xs Payment Type
          i.fa.fa-lg(ng-class='{"fa-sort-up": (isSortUp("paymenttype") || paymenttypeicon), "fa-sort-desc":isSortDown("paymenttype")}')
      .hidden-xs.col-sm-2.col-md-2.text-center
        button.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click="sort('language');languageicon=false", ng-mouseenter='(languageicon = true)', ng-mouseleave='languageicon = false', name="language")
          label.control-label.icon-right-xs Language
          i.fa.fa-lg(ng-class='{"fa-sort-up": (isSortUp("language") || languageicon), "fa-sort-desc":isSortDown("language")}')
      .col-xs-5.col-sm-3.padding-xs.col-md-2.text-center
        button.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click="sort('paiduntil');paiduntilicon=false", ng-mouseenter='(paiduntilicon = true)', ng-mouseleave='paiduntilicon = false', name="paiduntil")
          label.control-label.icon-right-xs Next Payment
          i.fa.fa-lg(ng-class='{"fa-sort-up": (isSortUp("paiduntil") || paiduntilicon), "fa-sort-desc":isSortDown("paiduntil")}')
    .col-xs-12.no-padding-xs.table-height
      .col-xs-12.top-border.padding.border-fade(ng-repeat='client in data.message_list | orderBy:sortField:reverse track by client._id', ng-class='{"bottom-border":$last}', ng-click="data.addToMessageList(client)")
        .col-xs-5.col-sm-4.col-md-2.xs-padding.text-center
          a(ui-sref='clientinfo.detail.info({id:client._id})',ng-bind="::client.display")
        .hidden-xs.hidden-sm.col-md-2.text-center
          span(ng-bind="::client.carrier")
        .hidden-xs.hidden-sm.col-md-1.text-center
          span(ng-bind="::client.plan | currency")
        .hidden-xs.col-sm-2.col-md-2.text-center
          span(ng-bind="::client.display_paymenttype")
        .hidden-xs.col-sm-3.col-md-2.text-center
          span(ng-bind="::client.display_language")
        .col-xs-5.col-sm-2.col-md-2.no-padding-xs.text-center
          span(ng-bind="::client.paiduntil | date:'shortDate'")
        .col-xs-2.col-sm-1.col-md-1.text-center
          i.fa(ng-class="{'fa-square-o':client.dont_send,'fa-check-square-o':!client.dont_send}")
      .col-xs-12.top-buffer(ng-if="!data.message_list.length")
        h4.text-center
          strong No Clients Selected
