a
  span(tabindex='-1', ng-show="match.model.firstname", ng-bind-html='match.model.firstname | capitalizeFirst | typeaheadHighlight:query')
  | &nbsp;
  span(tabindex='-1',ng-show="match.model.lastname", ng-bind-html='match.model.lastname | capitalizeFirst | typeaheadHighlight:query')
