a
  span(tabindex='-1', ng-show="match.model.firstname", ng-bind-html='match.model.firstname | capitalizeFirst | typeaheadHighlight:query')
  span(ng-show="match.model.firstname") &nbsp;
  span(tabindex='-1',ng-show="match.model.lastname", ng-bind-html='match.model.lastname | capitalizeFirst | typeaheadHighlight:query')
  span(ng-show="match.model.lastname || match.model.firstname") &nbsp;&mdash;&nbsp;
  span(tabindex='-1', ng-bind-html='match.model.telephone | tel | typeaheadHighlight:query')
