
.invoice-container {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 10px;
}

.padding-left {
  padding-left:15px;
}

.padding-right {
  padding-right: 15px;
}

@media only screen and (max-width : @screen-sm) {
  .invoice-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.visible-xs-inline {
  @media (max-width: @screen-xs-max) {
    display: inline !important;
  }
  @media (min-width: @screen-xs-max) {
    display: none !important;
  }
}


.animate-dailylog.ng-animate {
  overflow-y: hidden;
  // -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  // transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  // -webkit-transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  // -moz-transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  // -o-transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  // transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  @media only screen and (min-width:@screen-sm) {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.animate-dailylog.ng-leave.ng-leave-active,
.animate-dailylog.ng-enter {
  // opacity: 0.3;
  // transform: translateY(-2000px);
  max-height: 0;            
}
.animate-dailylog.ng-leave,
.animate-dailylog.ng-enter.ng-enter-active {
  // opacity: 1;
  max-height: 400px;
}

.close-buffer {
  margin-top: 10px;
  margin-bottom: -10px;
}