a
  span(tabindex='-1', ng-show="match.model.firstname", bind-html-unsafe='match.model.firstname | capitalizeFirst | typeaheadHighlight:query')
  | &nbsp;
  span(tabindex='-1',ng-show="match.model.lastname", bind-html-unsafe='match.model.lastname | capitalizeFirst | typeaheadHighlight:query')
