a
  span(tabindex='-1', ng-show="match.model.firstname", bind-html-unsafe='match.model.firstname | capitalizeFirst | typeaheadHighlight:query')
  span(ng-show="match.model.firstname") &nbsp;
  span(tabindex='-1',ng-show="match.model.lastname", bind-html-unsafe='match.model.lastname | capitalizeFirst | typeaheadHighlight:query')
  span(ng-show="match.model.lastname || match.model.firstname") &nbsp;&mdash;&nbsp;
  span(tabindex='-1', bind-html-unsafe='match.model.telephone | tel | typeaheadHighlight:query')
