.psuedo-input-focus {
  @color-rgba: rgba(red(@input-border-focus), green(@input-border-focus), blue(@input-border-focus), .6);
  border-color: @input-border-focus;
  outline: 0;
  .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @{color-rgba}");
}

.hackyhack {
  position: relative;
}
.hackyhack .dropdown-menu {
   left: auto !important;
   // right: 0px;
 }

// @media only screen and (min-width: @screen-xs-max) {
//   .hackyhack .dropdown-menu:nth-child(2) {
//     right: 0px;
//   }
// }

// @media only screen and (max-width: @screen-xs-max) {
  .hackyhack .dropdown-menu:nth-of-type(2) {
    right: 0px;
  }
// }

.hackyhack-custom {
  position: relative;
}
.hackyhack-custom .dropdown-menu {
   left: auto !important;
   right: 0px;
 }