div
  .row.page-header
    .col-sm-6.col-xs-12.text-center-xs.edit-inline-wrapper
      h2(ng-if="$state.is('store')") {{store.name}}
      h2(ng-if="$state.is('newstore')") New Store
  .row.well.well-sm
    .col-xs-12
      .form-group
        h4 Store Information
      .col-xs-12.col-sm-5.col-md-3
        .form-group
          label(for="store_name") Store Name
          div
            input.form-control(ng-model='store.name', type='text', name="store_name")
      .col-xs-12.col-sm-5.col-md-2
        .form-group
          label(for="store_slug") URL
          div
            input.form-control(ng-model='store.slug', ng-pattern="store.slugRegex", type='text', name="store_slug")
      .col-xs-8.col-sm-5.col-md-3
        .form-group
          label(for="website") Website
          div
            input.form-control(ng-model='store.website', type='text', name="website")
      .col-xs-4.col-sm-2.col-md-2
        .form-group
          label(for="taxPercentage") Sales Tax
          div
            .input-group.col-xs-7
              input.form-control(type='number', name='taxPercentage', min='0', ng-model='store.tax_fee', max='100')
              span.input-group-addon %
      .col-xs-4.col-sm-2.col-md-2
        .form-group
          label(for="twilio_number") Twilio Number
          div
            .input-group
              input.form-control(ng-pattern='store.telephoneRegex', name="telephone", ng-model='store.twilio_number',  placeholder="(555) 555-5555", type='tel')
      .col-xs-6
        .form-group
          label(for="service_agreement") Service Agreement
          div
            .input-group.col-xs-12
              textarea.form-control#service_agreement(name="service_agreement", type="text", placeholder="All sales are final, no refunds. This invoice is an integral part of the {{store.name || ''}} Service Agreement.", ng-model="store.service_agreement", rows="3")
      .col-xs-2
        .form-group
          label(for="monthly_payment") Monthly Payment
          div
            .input-group
              span.input-group-addon.hidden-xs.fa.fa-dollar
              input.form-control(ng-model='store.monthly_payment', name="amount", type='number', placeholder='100.00', required='', min='0', money='')
      .col-xs-2
        .form-group
          label(for="active") Active
          .input-group
            input(ng-model='store.active', name="active", type='checkbox')
    .col-xs-12
      .form-group
        h4 Contact Information
        .col-xs-2
          .form-group
            label(for="store_owner_firstname") Firstname
            div
              .input-group
                input.form-control#store_owner_firstname(name="store_owner_firstname", type="text", placeholder="Daniel", ng-model="store.contact.firstname")
        .col-xs-2
          .form-group
            label(for="store_owner_lastname") Lastname
            div
              .input-group
                input.form-control#store_owner_lastname(name="store_owner_lastname", type="text", placeholder="Rasinski", ng-model="store.contact.lastname")
        .col-xs-2
          .form-group
            label(for="store_owner_phone_number") Phone Number
            div
              .input-group
                input.form-control(ng-pattern='store.telephoneRegex', name="telephone", ng-model='store.contact.phone_number',  placeholder="(555) 555-5555", type='tel')
        .col-xs-4
          .form-group
            label(for="store_owner_email") Email
            div
              .input-group.col-xs-10
                input.form-control#store_owner_email(name="store_owner_email", type="email", placeholder="google@google.com", ng-model="store.contact.email")
    .col-sm-12
      .form-group
        h4 Locations ({{store.locations.length}})
        .col-xs-12.no-padding(ng-repeat="location in store.locations track by $index")
          .col-md-2.col-sm-6.col-xs-12
            .form-group
              label.control-label(for="location") Location Name
              input.form-control#name(name="location", type="text", ng-model="location.name")
          .col-md-2.col-sm-3.col-xs-6
            .form-group
              label.control-label(for="telephone") Phone Number
              input.form-control(ng-pattern='store.telephoneRegex', name="telephone", ng-model='location.phone_number',  placeholder="(555) 555-5555", type='tel')
          .col-md-6.col-sm-6.col-xs-12
            .form-group
              label.control-label(for="address") Address
              textarea.form-control#address(name="address", type="text", placeholder="123 Abc Street, Chicago IL, 60107", ng-model="location.address.formatted_address", rows="1", typeahead="address.formatted_address for address in store.$predictAddress($viewValue)", typeahead-on-select='location.onSelectAddress($item)')
          .col-md-2.text-center
            .form-group.top-buffer
              label.control-label
              button.btn.btn-link.btn-xs(type="button", ng-click="store.removeLocation(location)")
                i.fa.fa-times.fa-lg.grow.text-danger
        .col-xs-12.bottom-buffer
          button.btn.btn-default.btn-sm(type="button", ng-click="store.addLocation()")
            i.icon-right.fa.fa-plus
            | Add Location
    .col-sm-12
      .form-group
        h4 Config
        .col-xs-12
          h5
            i.fa.fa-refresh.icon-right
            | Phone Bill
          div(ng-repeat="type in types.types | filter:{category_slug:'phone-bill'}").col-xs-12
            .col-md-2.col-sm-6.col-xs-12
              .form-group
                label.control-label(for="description") Description
                input.form-control#description(name="description", type="text", ng-model="type.description")
            .col-md-2.col-sm-3.col-xs-6
              .form-group
                label.control-label(for="system") System
                input.form-control#system(name="system", ng-model='type.system', type='text')
            .col-md-2.col-sm-3.col-xs-6
              .form-group
                label.control-label(for="amount_comm") Amount Commission
                div
                  .input-group
                    input.form-control#amount_comm(ng-model='type.profit[0].amount_comm', name="amount_comm", type='number', min='0')
                    span.input-group-addon %
            .col-md-2.col-sm-3.col-xs-6
              .form-group
                label.control-label(for="fixed_cost") Fixed Cost
                div
                  .input-group
                    span.input-group-addon.fa.fa-dollar
                    input.form-control#fixed_cost(ng-model='type.profit[0].fixed_cost', name="fixed_cost", type='number', min='0')
            .col-xs-1.text-center.xs-padding
              .form-group.top-remove-padding
                button.btn.btn-link.btn-xs(type="button", ng-click="types.removeType(type)")
                  i.fa.fa-times.fa-lg.grow.text-danger
          .col-xs-12.bottom-buffer
            button.btn.btn-default.btn-sm(type="button", ng-click="types.addType('Phone Bill', 'fa-refresh')")
              i.icon-right.fa.fa-plus
              | Add Phone Bill
        .col-xs-12
          h5 
            i.fa.fa-signal.icon-right
            | Activation
          div(ng-repeat="type in types.types | filter:{category_slug:'activation'}").col-xs-12
            .col-md-2.col-sm-6.col-xs-12
              .form-group
                label.control-label(for="description") Description
                input.form-control#description(name="description", type="text", ng-model="type.description")
            .col-md-2.col-sm-3.col-xs-6
              .form-group
                label.control-label(for="system") System
                input.form-control#system(name="system", ng-model='type.system', type='text')
            .col-md-2.col-sm-3.col-xs-6
              .form-group
                label.control-label(for="amount_comm") Amount Commission
                div
                  .input-group
                    input.form-control#amount_comm(ng-model='type.profit[0].amount_comm', name="amount_comm", type='number', min='0')
                    span.input-group-addon %
            .col-md-2.col-sm-3.col-xs-6
              .form-group
                label.control-label(for="fixed_cost") Fixed Cost
                div
                  .input-group
                    span.input-group-addon.fa.fa-dollar
                    input.form-control#fixed_cost(ng-model='type.profit[0].fixed_cost', name="fixed_cost", type='number', min='0')
            .col-xs-1.text-center.xs-padding
              .form-group.top-remove-padding
                button.btn.btn-link.btn-xs(type="button", ng-click="types.removeType(type)")
                  i.fa.fa-times.fa-lg.grow.text-danger
          .col-xs-12(ng-show="((types.types | filter:{category_slug:'activation'}).length == 0)")
            h6 No activations
          .col-xs-12.bottom-buffer
            button.btn.btn-default.btn-sm(type="button", ng-click="types.addType('Activation', 'fa-signal')")
              i.icon-right.fa.fa-plus
              | Add Activation
        .col-xs-12
          h5
            i.fa.fa-wrench.icon-right
            | Services
          div(ng-repeat="type in types.types | filter:{category_slug:'services'}").col-xs-12
            .col-md-2.col-sm-6.col-xs-12
              .form-group
                label.control-label(for="description") Description
                input.form-control#description(name="description", type="text", ng-model="type.description")
            .col-md-2.col-sm-3.col-xs-6
              .form-group
                label.control-label(for="system") System
                input.form-control#system(name="system", ng-model='type.system', type='text')
            .col-md-2.col-sm-3.col-xs-6
              .form-group
                label.control-label(for="amount_comm") Amount Commission
                div
                  .input-group
                    input.form-control#amount_comm(ng-model='type.profit[0].amount_comm', name="amount_comm", type='number', min='0')
                    span.input-group-addon %
            .col-md-2.col-sm-3.col-xs-6
              .form-group
                label.control-label(for="fixed_cost") Fixed Cost
                div
                  .input-group
                    span.input-group-addon.fa.fa-dollar
                    input.form-control#fixed_cost(ng-model='type.profit[0].fixed_cost', name="fixed_cost", type='number', min='0')
            .col-xs-1.text-center.xs-padding
              .form-group.top-remove-padding
                button.btn.btn-link.btn-xs(type="button", ng-click="types.removeType(type)")
                  i.fa.fa-times.fa-lg.grow.text-danger
          .col-xs-12(ng-show="((types.types | filter:{category_slug:'services'}).length == 0)")
            h6 No Services
          .col-xs-12.bottom-buffer
            button.btn.btn-default.btn-sm(type="button", ng-click="types.addType('Services', 'fa-wrench')")
              i.icon-right.fa.fa-plus
              | Add Services
        .col-xs-12
          h5
            i.fa.fa-globe.icon-right
            | International
          div(ng-repeat="type in types.types | filter:{category_slug:'international'}").col-xs-12
            .col-md-2.col-sm-6.col-xs-12
              .form-group
                label.control-label(for="description") Description
                input.form-control#description(name="description", type="text", ng-model="type.description")
            .col-md-2.col-sm-3.col-xs-6
              .form-group
                label.control-label(for="system") System
                input.form-control#system(name="system", ng-model='type.system', type='text')
            .col-md-2.col-sm-3.col-xs-6
              .form-group
                label.control-label(for="amount_comm") Amount Commission
                div
                  .input-group
                    input.form-control#amount_comm(ng-model='type.profit[0].amount_comm', name="amount_comm", type='number', min='0')
                    span.input-group-addon %
            .col-md-2.col-sm-3.col-xs-6
              .form-group
                label.control-label(for="fixed_cost") Fixed Cost
                div
                  .input-group
                    span.input-group-addon.fa.fa-dollar
                    input.form-control#fixed_cost(ng-model='type.profit[0].fixed_cost', name="fixed_cost", type='number', min='0')
            .col-xs-1.text-center.xs-padding
              .form-group.top-remove-padding
                button.btn.btn-link.btn-xs(type="button", ng-click="types.removeType(type)")
                  i.fa.fa-times.fa-lg.grow.text-danger
          .col-xs-12(ng-show="((types.types | filter:{category_slug:'international'}).length == 0)")
            h6 No international
          .col-xs-12.bottom-buffer
            button.btn.btn-default.btn-sm(type="button", ng-click="types.addType('International', 'fa-globe')")
              i.icon-right.fa.fa-plus
              | Add International
  .row.text-center
    button.btn.btn-danger(ui-sref="stores", type="button")
      i.fa.fa-times.icon-right.grow-icon
      | Cancel
    button.btn.btn-md.btn-primary( type='button', ng-click='saveStore(store, types)', ng-disabled="!store.isValid()")
      i.fa.fa-save.icon-right.grow-icon
      | Save
  