.row.well.well-sm
  div
    .col-xs-2.top-buffer
      button.btn.btn-link.btn-xs(ng-click="move(-1, activeDate)", tooltip-placement="right", tooltip="{{leftTooltip | date:'MMM yyyy'}}", tooltip-append-to-body='true')
        i.fa.fa-lg.fa-chevron-left
    .col-xs-8.text-center
      h2
        span.hidden-xs {{activeDate | date:'MMMM yyyy' }}
        span.visible-xs-inline {{activeDate | date:'MMM yyyy' }}
        button.btn.btn-xs.btn-link(ui-sref="income({year:(activeDate | date:'yyyy')})", ui-sref-opts="{reload: true}")
          i.fa.fa-calendar.icon-sm
    .col-xs-2.text-right.top-buffer
      button.btn.btn-link.btn-xs(ng-click="move(1, activeDate)", tooltip-placement="left", tooltip="{{rightTooltip | date:'MMM yyyy'}}", tooltip-append-to-body='true')
        i.fa.fa-lg.fa-chevron-right
.row.well
  income-list-static(data="incomeData", header="Calculated Income", date="activeDate", on-save='saveIncome(incomeData)')
.row.well
  income-list-dynamic(data="incomeData.other_income", header="Other Income", on-save='saveIncome(incomeData)', locations='incomeData.store.locations')
.row.well
  income-list-dynamic(data="incomeData.expenses", header="Expenses", on-save='saveIncome(incomeData)', locations='incomeData.store.locations')
.row.well
  income-list-summary(data="incomeData", header="Summary")
