div
  .row
    .col-xs-12
      h4.margin-left.bold {{header}}
  div
    .row.top-buffer
      .col-xs-2.col-xs-offset-0.col-sm-offset-1.text-center.hidden-xs
        btn.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click="sort('name');locationicon=false", ng-disabled="(!data.summary.length)", ng-mouseenter='(locationicon = true)', ng-mouseleave='locationicon = false')
          label.control-label.icon-right-xs(for="location") Location
          i.fa.fa-lg(ng-class='{"fa-sort-up": (isSortUp("name") || locationicon), "fa-sort-desc":isSortDown("name")}')
      .col-xs-4.col-sm-2.col-xs-offset-0.col-sm-offset-1.text-center
        btn.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click="sort('income');incomeicon=false", ng-disabled="(!data.summary.length)", ng-mouseenter='(incomeicon = true)', ng-mouseleave='incomeicon = false')
          label.control-label.icon-right-xs(for="Income") Income
          i.fa.fa-lg(ng-class='{"fa-sort-up": (isSortUp("income") || incomeicon), "fa-sort-desc":isSortDown("income")}')
      .col-xs-4.col-sm-2.col-xs-offset-0.col-sm-offset-1.text-center
        btn.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click='sort("expenses");expensesicon=false', ng-disabled="(!data.summary.length)", ng-mouseenter='(expensesicon = true)', ng-mouseleave='expensesicon = false')
          label.control-label.icon-right-xs(for="Expenses") Expenses
          i.fa.fa-lg(ng-class='{"fa-sort-up": (isSortUp("expenses") || expensesicon), "fa-sort-desc":(isSortDown("expenses")&&!expensesicon)}')
      .col-xs-4.col-sm-2.col-xs-offset-0.col-sm-offset-1.text-center
        btn.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click='sort("net");neticon=false', ng-disabled="(!data.summary.length)", ng-mouseenter='(neticon = true)', ng-mouseleave='neticon = false')
          label.control-label.icon-right-xs(for="net") Net
          i.fa.fa-lg(ng-class='{"fa-sort-up": (isSortUp("net") || neticon), "fa-sort-desc":(isSortDown("net")&&!neticon)}')
    .row.top-buffer(ng-repeat="val in data.summary | orderBy:sortField:reverse track by $index")
      //- location
      .col-xs-2.col-sm-2.col-xs-offset-0.col-sm-offset-1.text-center.hidden-xs
        span.hidden-xs(ng-bind="val.name")
      //- total income / location
      .col-xs-4.col-sm-2.col-xs-offset-0.col-sm-offset-1.text-center
        span(ng-show="val.income", ng-bind="(val.income | currency)")
        span(ng-hide="val.income") &mdash;
      //- total expenses / location
      .col-xs-4.col-sm-2.col-xs-offset-0.col-sm-offset-1.text-center
        span(ng-show="val.expenses", ng-bind="(-val.expenses | currency)")
        span(ng-hide="val.expenses") &mdash;
      .col-xs-4.col-sm-2.col-xs-offset-0.col-sm-offset-1.text-center
        span(ng-show="val.net", ng-bind="(val.net | currency)")
        span(ng-hide="val.net") &mdash;
    .row.top-buffer.bottom-buffer
      .col-xs-3.col-sm-2.col-xs-offset-0.col-sm-offset-1.text-center.hidden-xs
        strong Total:
      //- total income / location
      .col-xs-4.col-sm-2.col-sm-offset-1.text-center
        span(ng-show="getTotal(data.summary,'income')", ng-bind="(getTotal(data.summary,'income') | currency)")
        span(ng-hide="getTotal(data.summary,'income')") &mdash;
      //- total expenses / location
      .col-xs-4.col-sm-2.col-xs-offset-0.col-sm-offset-1.text-center
        span(ng-show="getTotal(data.summary,'expenses')", ng-bind="(-1*getTotal(data.summary,'expenses') | currency)")
        span(ng-hide="getTotal(data.summary,'expenses')") &mdash;
      //- expenses + income / location
      .col-xs-4.col-sm-2.col-sm-offset-1.text-center
        strong(ng-show="getTotal(data.summary, 'net')", ng-bind="(getTotal(data.summary, 'net') | currency)")
