form(name="oincomeForm", novalidate='')
  .row
    .col-xs-12(ng-click="isCollapsed = !isCollapsed")
      h4.margin-left(ng-class="{'bold':!isCollapsed}") {{header}}
        button.btn.btn-link.btn-xs.pull-right
          i.fa.fa-chevron-down.base-spin(ng-class="{'spin-up':isCollapsed }")
  .top-buffer(collapse="isCollapsed")
    .row
      .col-sm-2.col-xs-3.col-sm-offset-1.col-xs-offset-0.text-center
        btn.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click="sort('locationId');locationicon=false", ng-disabled="(oincomeForm.$invalid || !data.length)", ng-mouseenter='!oincomeForm.$invalid && (locationicon = true)', ng-mouseleave='locationicon = false')
          label.control-label.icon-right-xs(for="location") Location
          i.fa.fa-lg(ng-class='{"fa-sort-up": (isSortUp("locationId") || locationicon), "fa-sort-desc":isSortDown("locationId")}')
      .col-sm-2.col-xs-4.col-sm-offset-1.col-xs-offset-0.text-center
        btn.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click="sort('description');descriptionicon=false", ng-disabled="(oincomeForm.$invalid || !data.length)", ng-mouseenter='!oincomeForm.$invalid && (descriptionicon = true)', ng-mouseleave='descriptionicon = false')
          label.control-label.icon-right-xs(for="description") Description
          i.fa.fa-lg(ng-class='{"fa-sort-up": (isSortUp("description") || descriptionicon), "fa-sort-desc":isSortDown("description")}')
      .col-sm-2.col-xs-3.col-sm-offset-1.col-xs-offset-0.text-center
        btn.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click='sort("amount");amounticon=false', ng-disabled="(oincomeForm.$invalid || !data.length)", ng-mouseenter='!oincomeForm.$invalid && (amounticon = true)', ng-mouseleave='amounticon = false')
          label.control-label.icon-right-xs(for="Amount") Amount
          i.fa.fa-lg(ng-class='{"fa-sort-up": (isSortUp("amount") || amounticon), "fa-sort-desc":(isSortDown("amount")&&!amounticon)}')
    div(ng-switch='', on="data.length > 0")
      div(ng-switch-when="true")
        .row.top-buffer(ng-repeat="oincome in data | orderBy:sortField:reverse track by $index")
          .col-sm-3.col-xs-3.col-sm-offset-1.col-xs-offset-0.col-md-2.col-md-offset-1
            select.form-control(ng-model="oincome.locationId", ng-options="l.id as l.name for l in locations", name="Location", required='')
          .col-sm-3.col-xs-4.col-sm-offset-0.col-xs-offset-0.col-md-4
            .input-group.col-xs-12
              input.form-control.input-sm(type='text', ng-model='oincome.description', name="description", required='')
          .col-sm-3.col-xs-3.col-sm-offset-0.col-xs-offset-0.col-md-2.col-md-offset-0
            .input-group.col-sm-8.col-sm-offset-2.col-md-offset-2.col-md-8.col-md-offset-2(name='amount')
              span.input-group-addon.hidden-xs.fa.fa-dollar
              input.form-control.input-sm(ng-model='oincome.amount', name="amount", placeholder='100.00', required='', min='1.00', type="number")
          .col-sm-2.col-xs-2.col-md-offset-1.col-sm-offest-0
            button.btn.btn-link.btn-xs(type="button", ng-click="removeRow($index)")
              i.fa.fa-times.fa-lg.grow.text-danger
        .row.top-buffer.bottom-buffer
          .col-xs-3.col-sm-offset-1.col-sm-2.text-center
            button.btn.btn-xs.btn-primary(ng-click='clickSave(data)', ng-class="{'invisible':!showSave(data)}", ng-disabled="oincomeForm.$invalid", type='button')
              i.fa.fa-save.grow-icon-xs
              span.icon-left-xs Save
          .col-xs-3.col-sm-2.col-sm-offset-1.text-center
            button.btn.btn-xs.btn-danger(ng-click='cancel()', ng-class="{'invisible':!showSave(data)}", type='button')
              i.fa.fa-times.grow
              span.icon-left-xs Cancel
          .hidden-xs.col-sm-2.col-md-1.col-sm-offset-0.text-right
            strong
              span &#32;Total:
          .col-xs-4.col-sm-2.text-center
            span(ng-bind="(getTotal(data) | currency)")
            span(ng-hide="getTotal(data)") &mdash;
          .col-xs-2.col-sm-offset-0.col-md-offset-1.col-xs-offset-0
            button.btn.btn-xs.btn-link(type="button", ng-click='addRow()', ng-disabled="oincomeForm.$invalid")
              i.fa.fa-lg.fa-plus.grow.text-success
      div(ng-switch-when="false")
        .row.top-buffer(ng-class="{'bottom-buffer':!showSave(data)}")
          .col-xs-3.col-sm-2.col-sm-offset-1.text-center
            h5
              i &mdash;
          .col-xs-4.col-sm-2.col-sm-offset-1.text-center
            h5
              i &mdash;
          .col-xs-3.col-sm-2.col-sm-offset-1.text-center
            h5
              i &mdash;
          .col-sm-2.col-xs-2.col-md-offset-1.col-sm-offest-0
            button.btn.btn-xs.btn-link(type="button", ng-click='addRow()', ng-disabled="oincomeForm.$invalid")
              i.fa.fa-lg.fa-plus.grow.text-success
        .row.top-buffer.bottom-buffer(ng-show="showSave(data)")
          .col-xs-3.col-sm-offset-1.col-sm-2.text-center
            button.btn.btn-xs.btn-primary(ng-click='clickSave(data)', ng-disabled="oincomeForm.$invalid", type='button')
              i.fa.fa-save.grow-icon-xs
              span.icon-left-xs Save
          .col-sm-offset-1.col-xs-3.col-sm-2.text-center
            button.btn.btn-xs.btn-danger(ng-click='cancel()', type='button')
              i.fa.fa-times.grow-icon-xs
              span.icon-left-xs Cancel

