div
  .row
    .col-xs-12(ng-click="isCollapsed = !isCollapsed")
      h4.margin-left(ng-class="{'bold':!isCollapsed}") Calculated Income
        button.btn.btn-link.btn-xs.pull-right
          i.fa.fa-chevron-down.base-spin(ng-class="{'spin-up':isCollapsed }")
  .top-buffer(collapse="isCollapsed")
    .row
      .col-sm-2.col-xs-4.col-sm-offset-1.col-xs-offset-0.text-center
        btn.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click="sort('locationName');locationIdicon=false", ng-mouseenter='!oincomeForm.$invalid && (locationIdicon = true)', ng-mouseleave='locationIdicon = false')
          label.control-label.icon-right-xs(for="locationName") Location
          i.fa.fa-lg(ng-class='{"fa-sort-up": (isSortUp("locationName") || locationIdicon), "fa-sort-desc":isSortDown("locationName")}')
      .col-sm-2.col-xs-4.col-sm-offset-1.col-xs-offset-0.text-center
        btn.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click="sort('description');descriptionicon=false", ng-mouseenter='!oincomeForm.$invalid && (descriptionicon = true)', ng-mouseleave='descriptionicon = false')
          label.control-label.icon-right-xs(for="description") Description
          i.fa.fa-lg(ng-class='{"fa-sort-up": (isSortUp("description") || descriptionicon), "fa-sort-desc":isSortDown("description")}')
      .col-sm-2.col-xs-4.col-sm-offset-1.col-xs-offset-0.text-center
        btn.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click='sort("amount");amounticon=false', ng-mouseenter='!oincomeForm.$invalid && (amounticon = true)', ng-mouseleave='amounticon = false')
          label.control-label.icon-right-xs(for="Amount") Amount
          i.fa.fa-lg(ng-class='{"fa-sort-up": (isSortUp("amount") || amounticon), "fa-sort-desc":(isSortDown("amount")&&!amounticon)}')
    .row.top-buffer(ng-repeat="income in data.income | orderBy:sortField:reverse track by $index")
      .col-sm-3.col-xs-4.col-sm-offset-1.col-xs-offset-0.col-md-2.col-md-offset-1.text-center
        span {{income.locationName}}
      .col-sm-3.col-xs-4.col-sm-offset-0.col-xs-offset-0.col-md-2.col-md-offset-1.text-center
        span
          i.fa.icon-right(ng-class="income.icon")
          | {{ income.name }}
      .col-sm-3.col-xs-4.col-sm-offset-0.col-xs-offset-0.col-md-2.col-md-offset-1.text-center
        span {{income.amount | currency}}
    .row.top-buffer.bottom-buffer
      .col-xs-5.col-sm-offset-1.col-sm-2.text-center
        button.btn.btn-xs.btn-primary(ng-click='clickSave(data)', type='button', ng-show="data.income.length")
          i.fa.fa-save.grow-icon-xs
          span.icon-left-xs Save
        //- button.btn.btn-xs.btn-default(type="button", ng-click='refreshInvoices(date)')
        //-   i.fa.fa-refresh.grow(ng-class="{'fa-spinner fa-spin':promiseTracker.active()}")
        //-   span.icon-left Refresh Data
      .col-xs-3.col-sm-3.text-right
        strong
          span Total:
      .col-xs-4.col-sm-4.text-center
        span(ng-show="getTotal(data.income)", ng-bind="getTotal(data.income) | currency")
        span(ng-hide="getTotal(data.income)") &mdash;