.row.page-header
  .col-md-6.col-sm-5.col-xs-12.col-lg-8.text-center-xs
    h3 {{PaymentDay.setclient.firstname | capitalizeFirst}} {{PaymentDay.setclient.lastname | capitalizeFirst}}
  .col-md-6.col-sm-7.col-xs-12.col-lg-4.text-center-xs.text-right
    h3
      a(ui-sref='clientinfo.detail.info({id:PaymentDay.setclient._id})') {{PaymentDay.setclient.telephone | tel}}
.row.top-buffer
  .col-xs-7.col-sm-8.col-md-9
    .form-group
      label(for="carrier") Carrier
      div
        select.form-control#carrier(ng-model='PaymentDay.setclient.carrier', text="Language", name="carrier", ng-options='carrier.id as carrier.name for carrier in PaymentDay.setclient.carriers', style="width:150px;")
  .col-xs-5.col-sm-4.col-md-3
    .form-group
      label(for="plan") Plan
      div
        .input-group
          span.input-group-addon $
          input.form-control#plan(type="number", ng-model='PaymentDay.setclient.plan', name="plan")
.row
  .form-group.col-xs-12
    label(for="message") Your Message
    message
.row.submit-container
  .col-xs-2.text-center
    a.button.btn.btn-xs.btn-link.next-button-margin(ng-click="PaymentDay.nextClient(-1)", ng-disabled="PaymentDay.isClient('first')", tooltip-enable="!PaymentDay.isClient('first')", tooltip-placement="right", tooltip="{{PaymentDay.getClientTooltipClient(-1).display}}", tooltip-append-to-body='true')
      i.fa.grow-icon.fa-chevron-left.fa-lg
  //- .col-xs-8.text-center
  //-   button.btn.btn-primary(ng-click='makePayment(client)')
  //-     i.fa.fa-pencil.icon-right.grow-icon
  //-     span Log Payment
  .col-xs-2.col-xs-offset-8.text-center
    a.button.btn.btn-xs.btn-link.next-button-margin(ng-click="PaymentDay.nextClient(1)", ng-disabled="PaymentDay.isClient('last')", tooltip-enable="!PaymentDay.isClient('last')", tooltip-placement="left", tooltip="{{PaymentDay.getClientTooltipClient(1).display}}", tooltip-append-to-body='true')
      i.fa.grow-icon.fa-chevron-right.fa-lg
