.row.page-header
  .col-md-6.col-sm-5.col-xs-12.col-lg-8.text-center-xs
    h3 {{invoice.client.firstname | capitalizeFirst}} {{invoice.client.lastname | capitalizeFirst}}
  .col-md-6.col-sm-7.col-xs-12.col-lg-4.text-center-xs.text-right
    h3
      a(ui-sref='clientinfo.detail.info({id:invoice.client._id})') {{invoice.client.telephone | tel}}
.row
  .form-group.top-buffer-lg
    label.col-sm-2.control-label(for="notes") Notes:
    .col-xs-12.col-sm-10
      textarea.form-control#notes(ng-model='invoice.client.notes', rows='3', name="notes", placeholder="Please input some notes about this client", analytics-on="blur", analytics-event="Change Notes", analytics-category="Client", analytics-label="{{invoice.client.notes}}")
.row.top-buffer
  .col-xs-7.padding
    h4(ng-click="invoice.newInvoiceNumber()") &#35;{{invoice.invoice_number}}
  .col-xs-5.padding
    .col-xs-12.col-sm-9.col-sm-offset-3.col-md-7.col-md-offset-5
      select.form-control.input-sm#location(ng-model="invoice.store.locationId", ng-options="l.id as l.name for l in invoice.store.locations", name="location", ng-show="isAdmin()")
      span(ng-show="!isAdmin()") {{invoice.store.locationId}}
.row.v-center(ng-repeat-start='transaction in invoice.transactions track by $index')
  .col-xs-2.col-sm-4.padding.text-center
    i.fa.fa-refresh
    span.hidden-xs.icon-left {{transaction.inventoryId.description || transaction.category }}
  .col-xs-5.col-sm-3.padding
    div.input-group
      select.form-control.input-sm(ng-model='transaction.typeId.description', name="description", type="text", ng-options='s.description as s.description for s in transaction.getChoices()', ng-change="transaction.setTypeId();invoice.client.watchClientCarrier(transaction)", required='')
  .col-xs-1.padding
    div(ng-click="transaction.addRemoveTax()", ng-disabled="!transaction.isValidDescAmount()").text-center
      i.fa.ease-color.grow(ng-class="{'fa-plus-square text-success':!transaction.hasTax(), 'fa-minus-square text-danger':transaction.hasTax() }")
  .col-xs-1.padding
    div(ng-click="transaction.addRemoveSrvcCharge()", ng-disabled="!transaction.isValidDescAmount()").text-center
      i.fa.ease-color.grow(ng-class="{'fa-plus-square text-success':!transaction.hasSrvcCharge(), 'fa-minus-square text-danger':transaction.hasSrvcCharge() }")
  .col-xs-3.padding
    .input-group.col-xs-8.col-xs-offset-4.col-sm-12.col-sm-offset-0.col-md-10.col-md-offset-2.col-lg-7.col-lg-offset-4(name='amount', ng-if="!transaction.hasAmountPrediction()")
      span.input-group-addon.hidden-xs
        i.fa.fa-dollar
      input.form-control.input-sm(ng-model='transaction.amount', type="number", name="amount", placeholder='100.00', min='1.00', ng-change="invoice.client.watchClientPlan(transaction)", required='')
    .input-group.col-xs-8.col-xs-offset-4.col-sm-12.col-sm-offset-0.col-md-10.col-md-offset-2.col-lg-7.col-lg-offset-4(name='amount', ng-if="transaction.hasAmountPrediction()")
      span.input-group-addon.hidden-xs
        i.fa.fa-dollar
      input.form-control.input-sm(ng-model='transaction.amount', typeahead-min-length='0', typeahead="amt.amount as amt.amount for amt in transaction.typeId.prediction | orderBy:'amount'", typeahead-on-select='transaction.setPrediction($item);invoice.client.watchClientPlan(transaction);', typeahead-template-url='helperDirectives/templates/typeahead-tpls/amount.html', name="amount", placeholder='100.00', required='', min='1.00', type="number")
.row(ng-show="transaction.hasTax()")
  .col-xs-9.padding.text-right.no-top
    strong Tax:
  .col-xs-3.padding.no-top
    .input-group.col-xs-6.col-xs-offset-5.col-sm-offset-5.col-md-offset-6
      span(ng-show="transaction.isValidAmount('taxtotal')") +{{transaction.taxtotal | currency}}
      span(ng-show="!transaction.isValidAmount('taxtotal')").align-dash-short &mdash;
.row.v-center(ng-show="transaction.hasSrvcCharge()")
  .col-xs-9.padding.text-right.no-top
    strong Service Charge:
  .col-xs-3.padding.no-top
    .input-group.col-xs-8.col-xs-offset-4.col-sm-12.col-sm-offset-0.col-md-10.col-md-offset-2.col-lg-7.col-lg-offset-4(name='servicecharge')
      span.input-group-addon.hidden-xs.fa.fa-dollar
      input.form-control.input-sm(ng-model='transaction.servicecharge', placeholder='100.00', type="number")
.row(ng-repeat-end) 
  .col-xs-8.no-padding-xs.text-center-xs.col-sm-7
    payment-method-multiple
  .col-xs-2.col-sm-3.padding.text-center
    strong Total:
  .col-xs-2.padding.text-center
    span(ng-bind="(invoice.grandtotal | currency)")
.row.submit-container
  .col-xs-2.text-center
    a.button.btn.btn-xs.btn-link.next-button-margin(ng-click="PaymentDay.nextClient(-1)", ng-disabled="PaymentDay.isClient('first')", type="button", tooltip-enable="!PaymentDay.isClient('first')", tooltip-placement="right", tooltip="{{PaymentDay.getClientTooltipClient(-1).display}}", tooltip-append-to-body='true')
      i.fa.grow-icon.fa-chevron-left.fa-lg
  .col-xs-8.text-center
    button.btn.btn-primary(ng-click='submitInvoice(invoice)', ng-disabled="invoice.isInvalid()")
      i.fa.fa-check.icon-right.grow-icon
      span Submit
      span.hidden-xs &#32;Invoice
  .col-xs-2.text-center
    a.button.btn.btn-xs.btn-link.next-button-margin(ng-click="PaymentDay.nextClient(1)", ng-disabled="PaymentDay.isClient('last')", type="button", tooltip-enable="!PaymentDay.isClient('last')", tooltip-placement="left", tooltip="{{PaymentDay.getClientTooltipClient(1).display}}", tooltip-append-to-body='true')
      i.fa.grow-icon.fa-chevron-right.fa-lg
