h1.page-header
  | Configuration
.row
  .col-xs-12.col-sm-12.col-md-4
    .col-xs-12.well.well-sm.border-fade-well(ng-class="{'active':$state.is('config.store')}")
      .col-xs-12.text-center(ng-click='goStore()')
        h4(ng-class="{'bold':$state.is('config.store')}") {{ store.name }}
    .col-xs-12.well.well-sm(ng-repeat="(category,types) in config.types", style="background-color:white", ng-controller="CategoriesCtrl")
      .col-xs-12(ng-click="triggerCollapse()")
        h4
          ui-iconpicker(groups="font-awesome", value="{{initIcon}}", ng-model="icon")
          span(ng-class="{'bold':isCollapsed}") {{ category }}
          button.btn.btn-link.btn-xs.pull-right(ng-click="isNewCategory() && removeCategory(config, category)")
            i.fa(ng-class="{'spin-up':(isCollapsed&&!isNewCategory()), 'fa-chevron-down base-spin':!isNewCategory(), 'fa-close text-danger grow fa-lg':isNewCategory() }")
      .col-xs-12(collapse="!isCollapsed")
        .row.top-buffer
          .col-xs-6.col-sm-offset-2.col-xs-offset-2.col-md-offset-2
            btn.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click="sort('description');descriptionicon=false", ng-mouseenter='(descriptionicon = true)', ng-mouseleave='descriptionicon = false')
              label.control-label.icon-right-xs Description
              i.fa.fa-lg(ng-class='{"fa-sort-up": (isSortUp("description") || descriptionicon), "fa-sort-desc":isSortDown("description")}')
          .col-xs-3.col-xs-offset-1.col-sm-2.text-right
            btn.btn.btn-link.btn-link-default.btn-xs(type="button")
              label.control-label Active
        div(ng-repeat="type in types | orderBy:sortField:reverse track by $index", ng-class='{"selected bold":isSelected(type), "bottom-border":$last }' , ng-click="selectType(type)").col-xs-12.padding.top-border.border-fade
          .col-xs-2
            span {{$index + 1}}
          .col-xs-8
            span {{type.description}}
          .col-xs-2.text-right
            i.fa.icon-right(ng-class="{'fa-check':type.active}")
        .col-xs-12.col-md-6.padding.top-buffer-xs
          .form-group
            button.btn.btn-default.btn-xs(type="button", ng-click="addType(config, category)", ng-disabled="config.isThereNewType(category)")
              i.icon-right-xs.fa.fa-plus.grow
              | New {{ category }}
    .col-xs-12.col-sm-6.col-sm-offset-3.col-md-12.col-md-offset-0
      .input-group
        span.input-group-btn
          ui-iconpicker#category(groups="font-awesome", value="fa fa-info" , ng-model="newicon")
        input.form-control(type="text", placeholder="Category Name", ng-model="newcategory_name", ng-enter='addCategory(config, newcategory_name, newicon)', style="height:38px;")
        span.input-group-btn
          button.btn.btn-default(type="button", ng-click="addCategory(config, newcategory_name, newicon)", ng-disabled="config.isInvalidCategory(newcategory_name)", style="height:38px;")
            i.icon-right-xs.fa.fa-plus.grow
            | Add
  .col-xs-12.col-sm-12.col-md-8.top-buffer-xs-sm-only(ui-view='')
    .row
      h3.text-center Nothing Selected