.row.well.well-sm
  .col-xs-12
    h4
      span Information
  .col-xs-12
    .col-xs-12.col-sm-5.col-md-5
      .form-group
        label(for="store_name") Store Name
        div
          input.form-control(ng-model='store.name', type='text', name="store_name")
    .col-xs-8.col-sm-5.col-md-4.col-lg-5
      .form-group
        label(for="website") Website
        div
          input.form-control(ng-model='store.website', type='text', name="website")
    .col-xs-4.col-sm-2.col-md-3.col-lg-2
      .form-group
        label(for="taxPercentage") Sales Tax
        div
          .input-group
            input.form-control(name='taxPercentage', min='0', ng-model='store.tax_fee', max='100')
            span.input-group-addon %
    .col-xs-12
      .form-group
        label(for="service_agreement") Service Agreement
        div
          .input-group.col-xs-12
            textarea.form-control#service_agreement(name="service_agreement", type="text", placeholder="Service Agreement", ng-model="store.service_agreement", rows="3")
  .col-sm-12
    .col-xs-12(ng-repeat="location in store.locations")
      .form-group
        h5
          u {{ location.name }}:
      .col-xs-12
        .col-sm-6.col-xs-12.no-padding-xs
          .form-group
            label.control-label(for="address") Address
            textarea.form-control#address(name="address", type="text", placeholder="123 Abc Street, Chicago IL, 60107", ng-model="location.address.formatted_address", rows="2", typeahead="address.formatted_address for address in store.$predictAddress($viewValue)", typeahead-on-select='location.onSelectAddress($item)')
        .col-sm-3.col-xs-6.no-padding-xs
          .form-group
            label.control-label(for="telephone") Phone Number
            input.form-control(ng-pattern='store.telephoneRegex', name="telephone", ng-model='location.phone_number',  placeholder="(555) 555-5555", type='tel')
.row.text-center
  button.btn.btn-danger(ng-click='cancel(store)', type="button")
    i.fa.fa-times.icon-right.grow-icon
    | Cancel
  button.btn.btn-md.btn-primary( type='button', ng-click='saveStore(store)', ng-disabled="!store.isValid()")
    i.fa.fa-save.icon-right.grow-icon
    | Save
