div
  .col-xs-12.top-buffer-sm
    .col-xs-5.col-sm-2.col-md-3.col-lg-2
      .form-group
        label(for="amount_fixed", ng-class="{'bold':(bold_cost||isFocusedFixedCost)}") Cost
        div
          .input-group(ng-class="{'has-success':(bold_cost||isFocusedFixedCost)}")
            span.input-group-addon $
            input.form-control#cost(type="number", min="0", ng-focus="bold_cost=true", ng-blur="bold_cost=false", ng-model='profit.fixed_cost', name="cost", focus-me="isFocusedFixedCost")
    .col-xs-12.col-sm-10.col-md-9.col-lg-10
      .form-group
        label(for="example", ng-class="{'bold':bold_profit}") Total Profit
        pre.text-center.default-cursor
          span
            span(ng-show="profit.has_amount")
              span(tooltip-placement="top", ng-class="{'text-success bold':bold_amount_profit}", tooltip="Amount Profit",ng-mouseenter="bold_amount_profit = true", ng-mouseleave="bold_amount_profit = false", tooltip-append-to-body='false') {{(referenceAmount-profit.amount_fixed)*(profit.amount_comm/100) | currency}}
            span(ng-show="(profit.hasAmount() === 2) || (profit.hasAmount() === 3)") &nbsp;+&nbsp;
            span(ng-show="profit.has_servicecharge")
              span(tooltip-placement="top",ng-class="{'text-success bold':bold_charge_profit}", tooltip="Charge Profit",ng-mouseenter="bold_charge_profit = true", ng-mouseleave="bold_charge_profit = false", tooltip-append-to-body='false') {{(referenceServicecharge-profit.servicecharge_fixed)*(profit.servicecharge_comm/100) | currency}}
            span(ng-show="(profit.hasAmount() === 3)") &nbsp;+&nbsp;
            span(ng-show="profit.has_tax")
              span(tooltip-placement="top",ng-class="{'text-success bold':bold_tax_profit}", ng-mouseenter="bold_tax_profit = true", ng-mouseleave="bold_tax_profit = false", tooltip="Tax Profit", tooltip-append-to-body='false') {{(referceTax-profit.tax_fixed)*(profit.tax_comm/100) | currency}}
            span(ng-hide="(profit.hasAmount() === 0)") &nbsp;-&nbsp;
            em.mark(tooltip-placement="top",ng-class="{'text-success bold':(bold_cost||isFocusedFixedCost)}", ng-mouseenter="bold_cost = true", ng-mouseleave="bold_cost = false", tooltip="Cost", tooltip-append-to-body='false', ng-click="isFocusedFixedCost = true") {{ profit.fixed_cost | currency}}
            span &nbsp;&equals;&nbsp;
            span(tooltip-placement="top", ng-class="{'text-success bold':bold_profit}", ng-mouseenter="bold_profit = true", ng-mouseleave="bold_profit = false", tooltip="Total Profit", tooltip-append-to-body='false') {{ getProfit(profit) | currency}}
