.row.well.well-sm
  .col-xs-12
    h4 Information
  .col-xs-6.col-sm-3
    .form-group
      label(for="category") Category
      div
        select.form-control#category(ng-model='editType.category', type='text', name="description", ng-options='s.category as s.category for s in config.categories', required='')
  .col-xs-6.col-sm-3
    .form-group
      label(for="description") Description
      div
        input.form-control#description(ng-model='editType.description', focus-me="isFocusedNew", type='text', name="description", required='')
  .col-xs-6.col-sm-3
    .form-group
      label(for="system") System
      div
        input.form-control(typeahead="i for i in config.systems", name='system', type='text', ng-model='editType.system', required='')
  .col-xs-6.col-sm-3
    .form-group
      label(for="active") Currently Active
      div.top-buffer-xs
        button.btn.btn-default.btn-xs(type="button", btn-checkbox='', ng-model="editType.active")
          i.fa.grow-icon-xs(ng-class="{'fa-square-o':!editType.active,'fa-check-square-o':editType.active}")
          span.icon-left-xs Active
.row.well.well-sm
  .col-xs-12
    h4 Profit Calculation
  div.col-xs-12.bottom-border.no-padding-xs(ng-repeat="profit in editType.profit | filter:editType.checkCurrent | orderBy:'end_date' track by $index")
    .col-xs-2.col-sm-2.col-lg-1.no-padding-xs.top-buffer.bottom-buffer
      button.btn.btn-link.btn-xs.top-buffer-xs(type="button", name="remove_profit", ng-click="editType.removeProfitCacl(profit)")
        i.fa.fa-times.fa-lg.grow.text-danger
    .col-xs-8.col-sm-7.input-group.hackyhack.pull-left.top-buffer.bottom-buffer
      input.form-control.text-center(type='text', ng-class="{'psuedo-input-focus':open_start_date}", datepicker-popup='dd-MMM-yyyy', ng-model='profit.start_date', max-date='maxDate', show-weeks='false', min-date="minDate")
      span.input-group-addon
        icon.fa.fa-long-arrow-right(style="width:12px;")
      input.form-control.text-center(type='text',ng-class="{'psuedo-input-focus':open_end_date}", ng-click="$last && (open_end_date = !open_end_date)", datepicker-popup='dd-MMM-yyyy', ng-model='profit.end_date', is-open='open_end_date', ng-change="editType.changeStartDate(profit, '{{profit.end_date}}')", show-weeks='false', min-date="profit.end_date_min")
    .col-xs-2.col-sm-2.col-sm-offset-1.col-lg-offset-2.no-padding-xs.top-buffer.bottom-buffer
      button.btn.btn-link.btn-sm.pull-right(ng-click="isCollapsed = !isCollapsed")
        i.fa.fa-chevron-down.base-spin(ng-class="{'spin-up':!isCollapsed }")
    div.col-xs-12.no-padding-xs(collapse="!isCollapsed")
      type-profit.col-xs-12(label="Amount", cost="profit.amount_fixed", commission="profit.amount_comm", reference='{{reference_amount}}', bold="bold_amount_profit", result="result_amount", active="profit.has_amount")
      type-profit.col-xs-12.top-buffer-sm(label="Charge", cost="profit.servicecharge_fixed", commission="profit.servicecharge_comm", reference='{{reference_servicecharge}}', bold="bold_charge_profit", result="result_servicecharge", active="profit.has_servicecharge")
      type-profit.col-xs-12.top-buffer-sm(label="Tax", cost="profit.tax_fixed", commission="profit.tax_comm", reference='{{reference_tax}}', bold="bold_tax_profit", result="result_tax", active="profit.has_tax")
      type-total-profit.top-buffer(profit="profit", reference-tax="reference_tax", reference-amount="reference_amount", reference-servicecharge="reference_servicecharge")
  type-profit.col-xs-12.top-buffer(label="Amount", cost="editType.currentProfitCalc.amount_fixed", commission="editType.currentProfitCalc.amount_comm", reference='{{reference_amount}}', bold="bold_amount_profit", result="result_amount", active="editType.currentProfitCalc.has_amount")
  type-profit.col-xs-12.top-buffer-sm(label="Charge", cost="editType.currentProfitCalc.servicecharge_fixed", commission="editType.currentProfitCalc.servicecharge_comm", reference='{{reference_servicecharge}}', bold="bold_charge_profit", result="result_servicecharge", active="editType.currentProfitCalc.has_servicecharge")
  type-profit.col-xs-12.top-buffer-sm(label="Tax", cost="editType.currentProfitCalc.tax_fixed", commission="editType.currentProfitCalc.tax_comm", reference='{{reference_tax}}', bold="bold_tax_profit", result="result_tax", active="editType.currentProfitCalc.has_tax")
  type-total-profit.top-buffer(profit="editType.currentProfitCalc", reference-tax="reference_tax", reference-amount="reference_amount", reference-servicecharge="reference_servicecharge")
  .col-xs-12.top-buffer-sm.bottom-buffer-sm
    .col-xs-12.text-right
      button.btn.btn-default.btn-xs(type="button", ng-click="editType.addProfitCalc();isCollapsed=false", ng-disabled="editType.newProfitCalcIsDisabled()")
        i.icon-right-xs.fa.fa-plus.grow
        | New Profit Calculation
.row.well.well-sm
  .col-xs-12
    h4 Presets
  type-prediction
.row.text-center
  button.btn.btn-danger(ng-click='cancel(config, editType)', type="button")
    i.fa.fa-times.icon-right.grow-icon
    | Cancel
  button.btn.btn-md.btn-primary( type='button', ng-click='saveType(editType)', ng-disabled="!editType.isValid()||!config.isValidType(editType)")
    i.fa.fa-save.icon-right.grow-icon
    | Save