div
  .input-group
    button.btn.btn-default.btn-xs(type="button", btn-checkbox='', ng-model="active")
      i.fa.grow-icon-xs(ng-class="{'fa-square-o':!active,'fa-check-square-o':active}")
      span.icon-left-xs {{label}}
  form(name="newForm", role="form", novalidate='')
    .col-xs-12.no-padding.top-buffer-xs(ng-show="active")
      .col-xs-5.col-sm-2.col-md-3.col-lg-2
        //- .form-group
        label(for="costForm", ng-class="{'bold':bold_cost||isFocusedCost}") Cost
        div
          .input-group(ng-class="{'has-success':(bold_cost||isFocusedCost), 'has-error':newForm.costForm.$invalid}")
            span.input-group-addon $
            input.form-control#cost(type="number", min="0", ng-model='cost', name="costForm", ng-focus="bold_cost=true", ng-blur="bold_cost=false", focus-me="isFocusedCost")
      .col-xs-5.col-xs-offset-2.col-sm-2.col-sm-offset-0.col-md-3.col-md-offset-6.col-lg-offset-0.col-lg-2
        //- .form-group
        label(for="commissionForm", ng-class="{'bold':bold_commission||isFocusedCommision}") Commission
        div
          .input-group(ng-class="{'has-success':(bold_commission||isFocusedCommision), 'has-error':newForm.commissionForm.$invalid}")
            input.form-control#commission(name='commissionForm', min='0', ng-model='commission', max='100', ng-focus="bold_commission = true", ng-blur="bold_commission = false", focus-me="isFocusedCommision", type="number")
            span.input-group-addon %
      .col-sm-8.col-xs-12.col-md-12.col-lg-8
        //- .form-group
        label(for="example", ng-class='{"bold":bold}') {{label}} Profit
        pre.text-center.default-cursor
          span
            span (
            span(tooltip-placement="top", tooltip="Sample {{label}}", tooltip-append-to-body='false') {{reference | currency}}
            span &nbsp;&minus;&nbsp;
            em.mark(tooltip-placement="top", ng-class="{'text-success bold':bold_cost||isFocusedCost, 'text-error bold':newForm.cost.$invalid}", ng-mouseenter="bold_cost = true", ng-mouseleave="bold_cost = false", tooltip="Cost", tooltip-append-to-body='false', ng-click="isFocusedCost = true") {{ cost | currency }}
            span ) &#215;&nbsp;
            em.mark(tooltip-placement="top",ng-class="{'text-success bold':(bold_commission||isFocusedCommision),'text-error bold':newForm.commission.$invalid}", ng-mouseenter="bold_commission = true", ng-mouseleave="bold_commission = false", tooltip="Commission", tooltip-append-to-body='false', ng-click="isFocusedCommision = true") {{ commission }}%
            span &nbsp;&equals;&nbsp;
            span(tooltip-placement="top", ng-class="{'text-success bold':bold}", ng-mouseenter="bold = true", ng-mouseleave="bold = false", tooltip="{{label}} Profit", tooltip-append-to-body='false') {{(reference-cost)*(commission/100) | currency}}