form(name="predictionForm").top-buffer-xs
  .col-xs-12.no-padding-xs
    .col-xs-3.col-lg-2.col-md-3.col-sm-2.text-center
      btn.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click="sort('amount');amounticon=false", ng-disabled="(predictionForm.$invalid || !editType.prediction.length)", ng-mouseenter='!predictionForm.$invalid && (amounticon = true)', ng-mouseleave='amounticon = false')
        label.control-label.icon-right-xs(for="amount") Amount
        i.fa.fa-lg(ng-class='{"fa-sort-up": (isSortUp("amount") || amounticon), "fa-sort-desc":isSortDown("amount")}')
    .col-xs-3.col-lg-2.col-lg-offset-1.col-md-3.col-md-offset-0.col-sm-2.col-sm-offset-1.text-center
      btn.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click="sort('servicecharge');servicechargeicon=false", ng-disabled="(predictionForm.$invalid || !editType.prediction.length)", ng-mouseenter='!predictionForm.$invalid && (servicechargeicon = true)', ng-mouseleave='servicechargeicon = false')
        label.control-label.icon-right-xs(for="servicecharge") Charge
        i.fa.fa-lg(ng-class='{"fa-sort-up": (isSortUp("servicecharge") || servicechargeicon), "fa-sort-desc":isSortDown("servicecharge")}')
    .col-xs-2.no-padding-xs.col-md-2.col-md-offset-0.col-sm-2.col-sm-offset-1.col-lg-2.col-lg-offset-1.text-center
      btn.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click="sort('tax');taxicon=false", ng-disabled="(predictionForm.$invalid || !editType.prediction.length)", ng-mouseenter='!predictionForm.$invalid && (taxicon = true)', ng-mouseleave='taxicon = false')
        label.control-label.icon-right-xs(for="tax") Tax
        i.fa.fa-lg(ng-class='{"fa-sort-up": (isSortUp("tax") || taxicon), "fa-sort-desc":isSortDown("tax")}')
    .col-xs-2.visible-xs.no-padding-xs.text-center
      btn.btn.btn-link.btn-link-default.btn-xs(type="button")
        label.control-label.icon-right-xs(for="default") Default
  div(ng-switch='', on="editType.prediction.length > 0")
    div(ng-switch-when="true")
      .col-xs-12.no-padding-xs.top-buffer-sm.bottom-buffer-sm(ng-repeat="pred in editType.prediction | orderBy:sortField:reverse track by $index ")
        .col-xs-3.col-lg-2.col-md-3.col-sm-2
          .input-group
            span.input-group-addon.hidden-xs $
            input.form-control#cost( ng-model='pred.amount', name="amout_pred", ng-focus="bold_cost=true", ng-blur="bold_cost=false", required='', min='0', type="number")
        .col-xs-3.col-lg-2.col-lg-offset-1.col-md-3.col-sm-2.col-sm-offset-1.col-md-offset-0
          .input-group
            span.input-group-addon.hidden-xs $
            input.form-control#cost( ng-model='pred.servicecharge', name="servicecharge_pred", ng-focus="bold_cost=true", ng-blur="bold_cost=false", min='0', required='', type="number")
        .col-xs-2.col-md-2.col-lg-2.col-lg-offset-1.col-sm-2.col-sm-offset-1.top-buffer-xs.col-md-offset-0.text-center
          button.btn.btn-default.btn-xs(type="button", btn-checkbox='', ng-model="pred.tax")
            i.fa.grow-icon-xs(ng-class="{'fa-square-o':!pred.tax,'fa-check-square-o':pred.tax}")
            span.icon-left-xs.hidden-xs Add Tax
        .col-xs-2.col-md-2.col-lg-2.col-lg-offset-1.col-sm-2.col-sm-offset-1.top-buffer-xs.col-md-offset-0.text-center
          button.btn.btn-default.btn-xs(type="button", btn-checkbox='', ng-model="pred.default_pred", ng-change="editType.setDefaultPred(pred)")
            i.fa.grow-icon-xs(ng-class="{'fa-square-o':!pred.default_pred,'fa-check-square-o':pred.default_pred}")
            span.icon-left-xs.hidden-xs Default
        .col-xs-2.col-md-1.col-sm-1.col-md-offset-1.col-lg-offset-0.text-center.top-buffer-xs
          button.btn.btn-link.btn-xs(type="button", name="remove_prediction", ng-click="editType.removePred(pred)")
            i.fa.fa-times.fa-lg.grow.text-danger
      .col-xs-12.top-buffer-sm.bottom-buffer-sm.no-padding-xs
        .col-md-1.text-center.col-sm-1.col-md-offset-11.col-sm-offset-11.col-sm-1.col-xs-2.col-xs-offset-10
          button.btn.btn-xs.btn-link(type="button", name="add_prediction", ng-disabled="predictionForm.$invalid || !editType.isValidPredictions()", ng-click="editType.addPred();sortField=false")
            i.fa.fa-lg.fa-plus.grow.text-success
    div(ng-switch-when="false")
      .col-xs-12.no-padding-xs.top-buffer-sm.bottom-buffer-sm
        .col-xs-3.col-md-3.col-sm-2.col-lg-2.text-center
          h5
            i &mdash;
        .col-xs-3.col-md-3.col-lg-2.col-sm-2.col-sm-offset-1.col-md-offset-0.col-lg-offset-1.text-center
          h5
            i &mdash;
        .col-xs-2.col-md-2.col-lg-2.col-sm-2.col-sm-offset-1.col-lg-offset-1.col-md-offset-0.text-center
          h5
            i &mdash;
        .col-xs-2.visible-xs.text-center
          h5
            i &mdash;
        .col-xs-2.col-sm-1.col-lg-offset-3.col-md-1.col-md-offset-3.col-sm-offset-3.text-center.top-buffer-xs
          .input-group
            button.btn.btn-xs.btn-link(type="button", name="add_prediction", ng-click="editType.addPred()")
              i.fa.fa-lg.fa-plus.grow.text-success
