.modal-header
  button.close.grow(type="button", ng-click="cancel()") &times;
  h3.modal-title {{header}}
.modal-footer.no-modal-content
  button.btn.btn-danger(ng-click='cancel()', type="button")
    i.fa.fa-times.icon-right.grow-icon
    | Cancel
  button.btn.btn-success(focus-this='true', ng-click='submit()', type="button")
    i.fa.fa-check.icon-right.grow-icon
    | Confirm
