<!DOCTYPE html>
<html ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle || 'Sign in'"></title>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- Bootstrap -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="public_admin/assets/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="public_admin/assets/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="public_admin/assets/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="public_admin/assets/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="public_admin/assets/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="public_admin/assets/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="public_admin/assets/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="public_admin/assets/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="public_admin/assets/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="public_admin/assets/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="public_admin/assets/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="public_admin/assets/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="public_admin/assets/favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
    <base href="/">

    <!-- inject:css -->
    <!-- endinject -->

    <!--[if IE 7>
    <link rel="stylesheet" href="public_admin/assets/font-awesome-ie7.min.css />
    <![endif]-->

    <!-- inject:js -->
    <!-- endinject -->

  </head>
  <body>
    <div snap-drawer class="hidden-print" id="sidebar-wrapper">
      <nav>
         <ul class="sidebar-nav nav" ng-show="isAuthenticated()" ng-switch on="isAdmin()">
           <li class="sidebar-brand">
             <a snap-close>
               <span>
                 {{currentUser.firstname}} {{currentUser.lastname}}
               </span>
             </a>
           </li>
          <li>
            <a ui-sref='edit({username:currentUser.username})' ui-sref-active="active" snap-close>
                <span>
                  <i class="fa fa-user icon-right"></i>
                  Profile
                </span>
            </a>
          </li>
          <li ng-switch-when="true">
            <a ui-sref="users" snap-close ui-sref-active="active">
              <span>
                <i class="fa fa-users icon-right"></i>
                Users
              </span>
            </a>
          </li>
          <li>
            <a ng-click='logout()' snap-close>
              <span>
                <i class="fa fa-sign-out icon-right"></i>
                Log out
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <snap-content id="snap-wrapper">
    <header snap-dragger ng-cloak>
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header text-center">
              <a class="navbar-brand" ng-class="{'hidden-xs':isAuthenticated()}">
              <span ng-show="isAuthenticated()&&!pageLoad.active()">
                Cell Better
              </span>
              <div ng-show="pageLoad.active() && isAuthenticated()" class="hidden-xs text-center"> <i class="fa fa-circle-o-notch fa-spin"></i> </div>
              </a>
              <a ng-show="isAuthenticated()" type='button' class="btn navbar-btn visible-xs pull-left" ng-class="{'active':snapActive}" ng-click="!pageLoad.active() && snapToggle('left')">
                <i ng-class="{'fa-circle-o-notch fa-spin':pageLoad.active(), 'fa-bars':!pageLoad.active() }" class="fa "></i>
              </a>
              <button type="button" class="navbar-btn navbar-right btn btn-primary visible-xs" ng-click="login()" ng-class="{'ng-hide':isAuthenticated()}"> Sign in </button>
                <a ng-init="searchCollapsed = true" type="button" ng-click="searchCollapsed = !searchCollapsed" ng-show="isAuthenticated()" class="btn navbar-btn visible-xs pull-right" ng-class="{'active':!searchCollapsed}">
                  <i class="fa" ng-class='{"fa-search-plus":searchCollapsed,"fa-search-minus":!searchCollapsed}'></i>
                </a>
              <ul class="nav navbar-xs navbar-nav" ng-show="isAuthenticated()">
                <li ui-sref-active="active">
                  <a ui-sref="payments({year:year, month:month})">
                    <span>
                      <i class="fa fa-calendar-o "></i>
                    </span>
                  </a>
                </li>
                <li ui-sref-active="active">
                  <a ui-sref="dailylog">
                    <span>
                      <i class="fa fa-book "></i>
                    </span>
                  </a>
                </li>
                <li ui-sref-active="active">
                  <a ui-sref="invoice">
                    <span>
                      <i class="fa fa-file-text-o "></i>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
              <ul class="nav navbar-nav hidden-xs" ng-show="isAuthenticated()">
                <li class="navbar-hide" ui-sref-active="active">
                  <a ui-sref="stores">
                    <span>
                      <i class="fa fa-building-o "></i>
                      <span class="hidden-sm icon-left-xs"> Stores </span>
                    </span>
                  </a>
                </li>
                <li class="navbar-hide" ui-sref-active="active" ng-show="isAdmin()">
                  <a ui-sref="users">
                    <span>
                      <i class="fa fa-users"></i>
                      <span class="hidden-sm icon-left-xs"> Users </span>
                    </span>
                  </a>
                </li>
              </ul>
               <ul class="nav navbar-right hidden-xs" ng-hide="isAuthenticated()">
                <button type="button" class="navbar-btn btn btn-primary" ng-click="login()"> Sign in </button>
               </ul>
               <ul class="nav navbar-right navbar-nav hidden-xs" ng-show="isAuthenticated()">
                <li class="dropdown">
                  <a class="dropdown-toggle"> 
                    <span> {{currentUser.firstname}} {{currentUser.lastname}} </span>
                    <i class="fa fa-caret-down icon-left-xs"></i> 
                  </a>
                  <ul class="dropdown-menu", style="min-width:100px;">
                    <li ui-sref-active="active">
                      <a ui-sref="edit({username:currentUser.username})" class="text-center">
                        <span> 
                          <i class="fa fa-user icon-right-xs"></i>
                          Profile 
                        </span>
                      </a>
                    </li>
                    <li>
                      <a ng-click='logout()' class="text-center">
                        <span>
                          <i class="fa fa-sign-out icon-right-xs"></i>
                          Log out
                        </span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
          </div>
        </nav>
    </header>
    <div class="container">
      <div ng-show="isAuthenticated()" ui-view="main"></div>

      <footer class="footer hidden-print">
        <div>
          <div class="footer-inner">
            <div class="col-xs-5">
                <a href="http://cellbetter.com" target="_blank">
                  <img class="img-responsive" style="height:40px" src="public_admin/assets/cellbetterfinal-horizontal-01.svg">
                </img>
                </a>
            </div>
            <div class="col-xs-7 text-right top-buffer-xs">
              <p>
                <small>
                  &copy; 2015 Cell Better, Inc.
                </small>
              </p>
            </div>
           </div>
        </div>
      </footer>
  </div>
  </snap-content>
  <script type="text/javascript">
    angular.bootstrap(document, ['cellbetter-admin']);
  </script>
</html>
