.btn-group(name="paymenttype")
  label.btn.btn-default.btn-xs(ng-repeat="paymenttype in client.paymenttypes track by $index", ng-model="client.paymenttype", btn-radio='paymenttype.id', analytics-category="{{analyticsCategory}}", analytics-event="{{analyticsEvent}}", analytics-label="{{paymenttype.id}}", analytics-on="click")
    i.fa.icon-right-xs.grow-icon(ng-class="paymenttype.icon")
    span(ng-bind="::paymenttype.name")