// add grow effect

.btn {
  .ease-background;
  // .grow-icon, .grow-icon-xs {
  //   .grow;
  // }
  &:hover, &:focus, &:active {
    // .grow-icon {
    //   .grow-hover-helper;
    // }
    // .grow-icon-xs {
    //   .grow-hover-helper-icon-xs;
    // }
  }
}

.btn-link {
  &:hover, &:focus {
    outline:0px;
  }
  &,
  &:active,
  &.active {
    outline:0px;
    &:focus {
      outline:0px;
    }
  }
}

.close {
  &:hover, &:focus {
    outline:0px;
  }
  &,
  &:active,
  &.active {
    outline:0px;
    &:focus {
      outline:0px;
    }
  }
}

.btn-link-default {
  color: @btn-default-color;
  &:hover,
  &:focus {
    color: @btn-default-color;
  } 
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      .opacity(.65);
    }
  }
}



// .grow-icon {
//   .grow;
//   .grow-hover-helper-icon;
// }

/* Change the icon links on the xs navbar to white */

// .btn-link {
//   color:@navbar-default-toggle-icon-bar-bg;
//   &:hover,
//   &:focus,
//   &:active {
//     border-color: transparent;
//     color: @navbar-default-link-active-hover-color;
//     text-decoration: none;
//   }
// }
