/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

// Core variables and mixins
@import "../../vendor/bootstrap/less/variables.less";
@import "../../vendor/bootstrap/less/mixins.less";

// Reset
@import "../../vendor/bootstrap/less/normalize.less";
@import "../../vendor/bootstrap/less/print.less";

// Core CSS
@import "../../vendor/bootstrap/less/scaffolding.less";
@import "../../vendor/bootstrap/less/type.less";
@import "../../vendor/bootstrap/less/code.less";
@import "../../vendor/bootstrap/less/grid.less";
@import "../../vendor/bootstrap/less/tables.less";
@import "../../vendor/bootstrap/less/forms.less";
@import "../../vendor/bootstrap/less/buttons.less";

// Components
@import "../../vendor/bootstrap/less/component-animations.less";
@import "../../vendor/bootstrap/less/dropdowns.less";
@import "../../vendor/bootstrap/less/button-groups.less";
@import "../../vendor/bootstrap/less/input-groups.less";
@import "../../vendor/bootstrap/less/navs.less";
@import "../../vendor/bootstrap/less/navbar.less";
@import "../../vendor/bootstrap/less/breadcrumbs.less";
@import "../../vendor/bootstrap/less/pagination.less";
@import "../../vendor/bootstrap/less/pager.less";
@import "../../vendor/bootstrap/less/labels.less";
@import "../../vendor/bootstrap/less/badges.less";
@import "../../vendor/bootstrap/less/jumbotron.less";
@import "../../vendor/bootstrap/less/thumbnails.less";
@import "../../vendor/bootstrap/less/alerts.less";
@import "../../vendor/bootstrap/less/progress-bars.less";
@import "../../vendor/bootstrap/less/media.less";
@import "../../vendor/bootstrap/less/list-group.less";
@import "../../vendor/bootstrap/less/panels.less";
@import "../../vendor/bootstrap/less/wells.less";
@import "../../vendor/bootstrap/less/close.less";

// Components w/ JavaScript
@import "../../vendor/bootstrap/less/modals.less";
@import "../../vendor/bootstrap/less/tooltip.less";
@import "../../vendor/bootstrap/less/popovers.less";
@import "../../vendor/bootstrap/less/carousel.less";

// Utility classes
@import "../../vendor/bootstrap/less/utilities.less";
@import "../../vendor/bootstrap/less/responsive-utilities.less";


/**
 * This is our main variables file. It inc turn imports the `variables` file from
 * Twitter Bootstrap. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';
@import 'bootswatch.less';
@import 'animations.less';

body {
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

@media print {

  body {
    position: static;
  }

  .table {
    page-break-inside:auto
    tr,
    td,
    th {
      page-break-inside:avoid; page-break-after:auto
    }
  }
  // This fixes printing for angular-snap
  snap-content,
  [snap\:content],
  [snap-content],
  [data-snap-content],
  [x-snap-content],
  .snap-content,
  .x-snap-content,
  snap-drawers,
  [snap\:drawers],
  [snap-drawers],
  [data-snap-drawers],
  [x-snap-drawers],
  .snap-drawers,
  .x-snap-drawers {
    position: static !important;
  }
}

.ng-hide {
  display:block!important;
  position:absolute;
  top:-9999px;
  left:-9999px;
}

// Fixes dropdown prediction bug still showing
.dropdown-menu.ng-hide {
  display: none !important;
}

span[disabled] {
    pointer-events: none;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.icon-right, .margin-right {
  margin-right: 10px;
}

.default-cursor {
  cursor: default;
}

.icon-left, .margin-left {
  margin-left: 10px;
}

.icon-right-xs {
  margin-right: 5px;
}

.icon-left-xs {
  margin-left: 5px;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.top-buffer-md {
  margin-top: 30px;
}

.top-buffer { 
  margin-top:20px;
}

.top-buffer-sm {
  margin-top: 15px
}

.top-buffer-sm-xs {
  margin-top: 10px;
}

.top-buffer-xs { 
  margin-top:5px;
}

.top-buffer-lg {
  margin-top: 40px;
}

.bottom-buffer {
  margin-bottom: 20px;
}

.bottom-buffer-sm {
  margin-bottom: 10px;
}

.bottom-buffer-xs {
  margin-bottom: 5px;
}

.bottom-top-buffer {
  margin-bottom: 10px;
  margin-top: 10px;
  .btn-xs {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

pre {
  margin-bottom: 0px;
}

/* remove the little spinner for all inputs with type="number" */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

span:focus {
  outline:0;
}

.bold {
  font-weight: bold;
}

// .navbar-btn-xs.active {
    // color: @navbar-default-link-active-hover-color;
    // box-shadow: none;
    // -webkit-box-shadow: none;
// }

.v-center div[class*='col-'] {
    display: table-cell;
    vertical-align:middle;
    float:none;

    .input-group {
      display:table;
    }

    @media only screen and (max-width : @screen-xs-max) {
      margin-top: 10px;
      margin-bottom: 10px;
    }

}

.v-center {
  display:table;
}

.bottom-buffer-no-xs {
  margin-bottom: 10px;
}

.no-padding {
  padding-left:0px;
  padding-right: 0px;
}

.top-remove-padding {
  margin-top:28px;
}

@media only screen and (max-width : @screen-xs-max) {
  .text-center-xs {
    text-align: center;
  }
  .text-right-xs {
    text-align: right;
  }
  .top-buffer-xs-only {
    margin-top: 9px;
    margin-bottom: 9px;
  }
  .no-margin-xs {
    margin-top:0px !important;
    margin-bottom: 0px !important;
  }
  .no-padding-xs {
    padding-left:0px;
    padding-right: 0px;
  }
  .bottom-buffer-no-xs {
    margin-bottom: 0px;
  }
  .xs-padding {
    padding-left:5px;
    padding-right:5px;
  }
}

@media (max-width: @screen-sm-max) {
  .top-buffer-xs-sm-only {
    margin-top:20px
  }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .text-center-sm {
      text-align: center;
  }
  
}


.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.no-modal-content {
  border-top: none;
  margin-top: 0px;
}

.line-through {
  text-decoration: line-through;
}

.text-link {
  .ease-color;
  &:hover {
    color: #008cba;
  }
}

.input-group-addon-daterangepicker {
  padding: 8px 8px;
}

.no-margin {
  margin-bottom: 0px;
}

.no-margin-top {
  margin-top: 0px;
}

.padding {
  padding: @table-cell-padding;
  @media only screen and (max-width : @screen-xs-max) {
    padding-left:0px;
    padding-right:0px;
  }
}

.top-border {
  // border-top: 1px solid @table-border-color;
  border-top: 1px solid @well-border;
}

.bottom-border {
  border-bottom: 1px solid @well-border;
  // border-bottom: 1px solid @table-border-color; 
}

.left-border {
  // border-left: 1px solid @table-border-color; 
  border-left: 1px solid @well-border;
}

.right-border {
  // border-right: 1px solid @table-border-color;  
  border-right: 1px solid @well-border;
}

.no-top {
  border-top: 0;
}

.text-right-md {
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    text-align: right
  }
}

/* This is for the address dropdown menu prediction scheme so then they dont take up so much space */
.dropdown-menu {
  min-width:70px;
  // min-width: 120px;
  .divider {
    margin: 0px;
  }
  > li > a {
    white-space: normal; // prevent links from randomly breaking onto new lines
  }
}

.col-lg-4-6 {
  .make-lg-column(1.714285)
}
.col-md-4-6 {
  .make-md-column(1.714285)
}
.col-sm-4-6 {
  .make-sm-column(1.714285)
}
.col-xs-4-6 {
  .make-xs-column(1.714285)
}

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.margin-top-login {
  margin-top:24px;
}


// .ng-hide{display:none !important;}

@import 'navbar.less';
@import 'buttons.less';
@import 'sidebar.less';
@import 'footer.less';
@import '../common/notify/notify.less';
@import '../common/helperDirectives/templates/date-tpls/daterangepicker.less';
@import '../app/admin/users/userslist.less';
