@sidebar-width: 266px;

.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}

.overflow-scrolling(@scrolling) {
  -webkit-overflow-scrolling: @scrolling;
     -moz-overflow-scrolling: @scrolling;
       -o-overflow-scrolling: @scrolling;
          overflow-scrolling: @scrolling;
}

.translate3d(@x, @y, @z) {
  -webkit-transform: translate3d(@x, @y, @z);
     -moz-transform: translate3d(@x, @y, @z);
       -o-transform: translate3d(@x, @y, @z);
          transform: translate3d(@x, @y, @z);
}

.smooth-scroll() {
  overflow: auto;
  .transition(top .2s linear);
  .transition(bottom .2s linear);
  .overflow-scrolling(touch);
}

#sidebar-wrapper {
  width: @sidebar-width;
  background: @navbar-default-bg;
  height: 100%;
  overflow-y: auto;
  transition: all 0.4s ease 0s;
}

.snap-content {
  z-index: 2;
  .translate3d(0, 0, 0);
  overflow: auto;
  .overflow-scrolling(touch);
}

.snap-drawer-left {
  left: 0;
  z-index: 1;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    line-height: 40px;
    text-indent: 20px;
    > a {
      .ease-background;
      background-color: @navbar-default-bg;
      color: @navbar-default-link-color;
      display: block;
      text-decoration: none;
      padding-left: 15px;
      .grow-icon {
        .grow;
      }
      &:hover,&:active,&:focus {
        .grow-icon {
          .grow-hover-helper;
        }
        background: @navbar-default-link-active-bg;
        text-decoration: none;  
      }
    }
    .active {
      color: @navbar-default-link-active-color;
      background: @navbar-default-link-active-bg;
      text-decoration: none;
      > a {
        .ease-background;
        .grow-icon {
          .grow;
        }
        &,
        &:hover,
        &:focus {
          .grow-icon {
            .grow-hover-helper;
          }
          color: @navbar-default-link-active-color;
          background-color: @navbar-default-link-active-bg
        }
      }
    }
  }
  .sidebar-brand {
    background-color: @navbar-default-bg;
    height: 65px;
    line-height: 60px;
    font-size: ceil((@font-size-base * 1.25));
    a {
      color: @navbar-default-brand-color;
      text-align: center;
      &:hover {
        background-color: @navbar-default-link-hover-bg;
        color: @navbar-default-brand-hover-color;
        background: @navbar-default-brand-hover-bg;
      }
    }
  }
}


// .sidebar-nav li a span:before {
//   position: absolute;
//   left: 0;
//   text-align: center;
//   width: 20px;
//   line-height: 18px;
// }