.month-height {
  height: 150px;
  @media only screen and (max-width : @screen-xs-max) {
    height: 200px;
  }
}

/* Upcoming/Recurring/Prepaid/Mail-In tabs get squished one mobile */
@media only screen and (max-width : @screen-xs-max) {
  .nav {
    > li {
      > a {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}