
// .pulse {
//   display: inline-block;
//   -webkit-transform: translateZ(0);
//   transform: translateZ(0);
//   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
//   &:hover, &:focus, &:active, .pulse-hover {
//     -webkit-animation-name: pulse;
//     animation-name: pulse;
//     -webkit-animation-duration: 1s;
//     animation-duration: 1s;
//     -webkit-animation-timing-function: linear;
//     animation-timing-function: linear;
//     -webkit-animation-iteration-count: infinite;
//     animation-iteration-count: infinite;
//   }
// }

// .pulse-hover {
//   .pulse;
//   .pulse-hover
// }

.ease-background {
  -webkit-transition: background-color 0.7s ease;
  -moz-transition: background-color 0.7s ease;
  -ms-transition: background-color 0.7s ease;
  -o-transition: background-color 0.7s ease;
  transition: background-color 0.7s ease;
}

.ease-color {
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.pulse-grow {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  &:hover, &:focus, &:active, .pulse-grow-hover {
    -webkit-animation-name: pulse-grow;
    animation-name: pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
}

.pulse-shrink {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  &:hover, &:focus, &:active, .pulse-shrink-hover {
    -webkit-animation-name: pulse-shrink;
    animation-name: pulse-shrink;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
}

/* Pulse Shrink */
@-webkit-keyframes pulse-shrink {
  to {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}

@keyframes pulse-shrink {
  to {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}


/* Pulse Grow */
@-webkit-keyframes pulse-grow {
  to {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

@keyframes pulse-grow {
  to {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

/* Shrink */
.shrink {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  .shrink-hover-helper,
  &:hover,
  &:focus,
  &:active {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

/* BORDER TRANSITIONS */
/* Border Fade */
.border-fade {
  border-left: 1px solid white;
  border-right: 1px solid white;
  .ease-background;
  &:hover,&:focus,&:active {
    // border-color: @table-border-color;
    // background-color: @table-bg-accent;
    background-color: @well-bg;
    border-color: @well-border;
  }
}

.border-fade-well {
  .ease-background;
  background-color: white;
  &:hover,&:focus,&:active,&.active {
    background-color: @well-bg;
    // border-color: @table-border-color;
    // background-color: @table-bg-accent;
  }  
}

.select-invoice {
  .selected;
  .left-border;
  .right-border;
  .bold;
}

.select-invoice-add, .select-invoice-remove {
  .ease-background;
}


/* Pulse */
@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

/* Disable grow event on mobile, just looks clunky */
.grow-hover-helper {
  @media (min-width: @screen-xs-max) {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }
}

/* Disable grow event on mobile, just looks clunky */
.grow-hover-helper-icon-xs {
  @media (min-width: @screen-xs-max) {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
}

.grow {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  &:hover,
  &:focus,
  &:active {
    .grow-hover-helper;
  }
}

.glow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }
}

.select-invoice {
  .selected;
  .left-border;
  .right-border;
}

.select-invoice-add, .select-invoice-remove {
  .ease-background;
}

.base-spin {
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.spin-up, .base-spin .spin-up-add {
  transform:rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}


.base-spin .spin-up-remove {
  transform:rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
}

