// add grow effect

.btn {
  .ease-background;
}

.btn-link {
  &:hover, &:focus {
    outline:0px;
  }
  &,
  &:active,
  &.active {
    outline:0px;
    &:focus {
      outline:0px;
    }
  }
}

.close {
  &:hover, &:focus {
    outline:0px;
  }
  &,
  &:active,
  &.active {
    outline:0px;
    &:focus {
      outline:0px;
    }
  }
}

.btn-link-default {
  color: @btn-default-color;
  &:hover,
  &:focus {
    color: @btn-default-color;
  } 
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      .opacity(.65);
    }
  }
}

