/**
 * Footer
 */

.footer {
  margin-top: 80px;
  margin-bottom: 40px;

  .footer-inner {
    padding: 40px 0;
    border-top: 1px solid #DDD;
  }

  // .social {
  //   float: right;
  //   margin: 0;
  //   list-style: none;

  //   li {
  //     float: left;
  //     margin-left: 20px;

  //     a, a:visited {
  //       text-decoration: none;
  //       font-size: 40px;
  //       .transition( 250ms ease-in-out );

  //       &:hover {
  //         color: @gray;
  //       }
  //     }
  //   }
  // }
}