@navbar-default-link-active-hover-color: #b3b3b3;
@navbar-default-link-active-color: #b3b3b3;

.navbar-right { 
  .pull-right();
  margin-right:0px;
}

.text-white {
  color:white;
}

.nav.navbar-xs {

  font-size:0px;

  li {
    display: inline-block;
    font-size: 15px;
  }

  li > a {
    padding-top: 14.5px;
    padding-bottom: 14.5px;
    padding-left: 20px;
    padding-right: 20px;
  }

  display: none;
  @media (max-width: @screen-xs-max) {
    display: inline-block;
    margin: 0 auto;
  }
}

.navbar-btn {
  color:@navbar-default-toggle-icon-bar-bg;
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
    color: @navbar-default-link-active-hover-color;
    text-decoration: none;
    box-shadow: none;
    -webkit-box-shadow: none;  
    /* This fixes mobile :hover event being active on touch events */
    /* For mobile we rely on .active to determine state i.e. search box */
    @media only screen and (max-width : @screen-xs-max) {
      color: @navbar-default-toggle-icon-bar-bg;
    }
  }
}

.navbar-brand {
  min-width: 180px;
}

.navbar-btn.active {
  color: @navbar-default-link-active-hover-color;
  box-shadow: none;
  -webkit-box-shadow: none;  
}

#snap-wrapper {
  width:100%;
  height:100%;
  background-color:#fff;
}

.container,
.container-fluid {
    > .navbar-header,
    > .navbar-collapse {
      @media (max-width: @grid-float-breakpoint) {
        margin-left:0px;
        margin-right:0px;
      }
  }
}

.nav-tabs > li.active > a {
  font-weight: bold;
}

.navbar-header {
  @media (max-width: @grid-float-breakpoint) {
    float: none;
  }
}

/* Basically grow-icon code on hover + ease-background mixin */
.navbar-default {
  .navbar-nav {
    > li > a {
      .ease-background;
      .grow-icon {
        .grow;
      }
      &:hover,
      &:focus {
        .grow-icon {
          .grow-hover-helper;
        }
      }
    }
  }
  .navbar-toggle .icon-bar {
    .ease-background;
  }
  .navbar-nav {
    > .open > a {
      .ease-background;
      .grow-icon {
        .grow;
      }
      &,
      &:hover,
      &:focus {
        .grow-icon {
          .grow-hover-helper;
        }
      }
    }
  }
  .dropdown-menu {
    .active {
      a {
        color: @navbar-default-link-active-hover-color;
      }
    }
    li > a {
      .ease-background;
      .grow-icon {
        .grow;
      }
      &:hover,
      &:focus {
        .grow-icon {
          .grow-hover-helper;
        }
      }
    }
  }
}

.navbar-nav {
  .ease-background;
  @media (max-width: @grid-float-breakpoint-max) {
    // Dropdowns get custom display when collapsed
    .open .dropdown-menu {
      > li > a {
        .ease-background;
        .grow-icon {
          .grow;
        }
        &:hover,
        &:focus {
          .grow-icon {
            .grow-hover-helper;
          }
        }
      }
    }
  }
}

#navbar-search {
  padding-left: 15px;
  padding-right: 15px;
}


/* addhover to dropdowns */
@media only screen and (min-width:@screen-xs) {
  .dropdown {
    &:hover {
      .dropdown-menu {
        display:block;
      }
      .dropdown-toggle {
        color: @navbar-default-link-active-hover-color;
        background-color: @navbar-default-link-active-bg;
      }
    }
  }
}

/* This forces the 'collapse' JS to be turned off on screen sizes greater than xs */
@media (min-width: @screen-xs-max) {
  #collapse-xs {
    height: @navbar-height !important;
    display: block !important;
    visibility: visible !important;
  }
}

.navbar-form {
  @media (max-width: @screen-xs-max) {
    margin-top:0px;
    margin-bottom: 0px;
  }
  background-color: @navbar-default-bg;
}
