/**
 * Angular JS slider directive
 *
 * (c) Rafal Zajac <rzajac@gmail.com>
 * http://github.com/rzajac/angularjs-slider
 *
 * Licensed under the MIT license
 */

.rounded(@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

/* Slider colors */
@handleActiveColor: darken(@btn-info-bg, 10%);
@handleHoverColor: darken(@btn-info-bg, 10%);
@labelTextColor: @text-color;
@handleBgColor: @btn-info-bg;
@handleInnerColor: @btn-info-bg;
@limitLabelTextColor: @labelTextColor;
@barFillColor: @btn-info-bg;
@barNormalColor: @table-border-color;

/* Slider size parameters */
@handleSize: 16px;
@handlePointerSize: 8px;
@bubblePadding: 1px 3px;
@barHeight: 4px;

rzslider {
  display: inline-block;
  position: relative;
  height: @barHeight;
  width: 100%;
  margin: 30px 0 15px 0;
  vertical-align: middle;
}

rzslider span {
  white-space: nowrap;
  position: absolute;
  display: inline-block;
}

rzslider span.rz-base {
  width: 100%;
  height: 100%;
  padding: 0;
}

rzslider span.rz-bar {
  width: 100%;
  height: 100%;
  z-index: 0;
  background: @barNormalColor;
  .rounded(@barHeight/2);
}

rzslider span.rz-bar.rz-selection {
  width: 0%;
  z-index: 1;
  background: @barFillColor;
  .rounded(@barHeight/2);
}

rzslider span.rz-pointer {
  cursor: pointer;
  width: @handleSize;
  height: @handleSize;
  top: -@handleSize/2 + @barHeight/2;
  background-color: @handleBgColor;
  z-index: 2;
  .rounded(@handleSize/2);
//  -webkit-transition:all linear 0.15s;
//  -moz-transition:all linear 0.15s;
//  -o-transition:all linear 0.15s;
//  transition:all linear 0.15s;
}

rzslider span.rz-pointer:after {
  content: '';
  width: @handlePointerSize;
  height: @handlePointerSize;
  position: absolute;
  top: @handleSize/2 - @handlePointerSize/2;
  left: @handleSize/2 - @handlePointerSize/2;
  .rounded(@handlePointerSize/2);
  background: @handleInnerColor;
}

rzslider span.rz-pointer:hover {
  background-color: @handleHoverColor;
  &:after {
    background-color: @handleHoverColor;
  }
}

rzslider span.rz-pointer:hover:after {
  background-color: @handleHoverColor;
}

rzslider span.rz-pointer.rz-active:after {
  background-color: @handleActiveColor;
}

rzslider span.rz-bubble {
  font-size: @font-size-small;
  cursor: default;
  top: -28px;
  padding: @bubblePadding;
  color: @labelTextColor;
}

rzslider span.rz-bubble.rz-selection {
  top: @handleSize/2;
}

rzslider span.rz-bubble.rz-limit {
  color: @limitLabelTextColor;
}
