.invoice-container-clientinfo {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.client-table {
  min-height: 550px;
}

.edit-inline-padding {
  padding: 7px;
}

.edit-inline-wrapper .edit-inline {
  // margin-right:10px !important;
}

.map {
  height: 300px;
  margin: auto;
}

.pagination {
  margin: 0px;
}