div
.row.page-header
  .col-sm-3.col-xs-7
    h1 Inventory
  .col-sm-3.hidden-xs
    .input-group.header-margin
      input.form-control(placeholder='Search Phone Name', ng-model='invSearch', name='inventorySearch', type='search')
      span.input-group-btn
        button.btn.btn-md.btn-default(type="submit")
          i.fa.fa-search.grow-icon
  .col-md-4.col-sm-3.hidden-xs.text-center
    .header-margin
      dropdown-multiselect(ng-model="filters.locs", options="filters.locOptions", text="Locations", icon='fa-map-marker', pre-selected="filters.locOptions", size="sm")
  .col-xs-5.col-sm-3.col-md-2.text-right
    button.btn.btn-primary.btn-sm.header-margin(type="button", ng-click='addPhone(currentUser.store)')
      i.fa.fa-plus.icon-right-xs.grow-icon-xs
      span New Phone
.col-xs-7.visible-xs.bottom-buffer
  .input-group
    input.form-control(placeholder='Search', ng-model='invSearch', name='inventorySearch', type='search')
    span.input-group-btn
      button.btn.btn-md.btn-default(type="submit")
        i.fa.fa-search.grow-icon
.col-xs-5.visible-xs.bottom-buffer.no-padding-xs.text-center
  dropdown-multiselect(ng-model="filters.locs", options="filters.locOptions", text="Locations", icon='fa-map-marker', pre-selected="filters.locOptions", size="sm")
.row
  .col-xs-12.col-md-6.small-padding-xs(ng-repeat="v in inventory track by $index")
    div(ng-repeat="x in v")
      div(ng-repeat="item in x", ng-show="searchFilter(invSearch,item.phonename)")
        inventory-item
