form(name="inventoryItemForm", novalidate='').well.well-sm
  .row
    .col-xs-12(ng-click="isCollapseditem = !isCollapseditem")
      h4.margin-left(ng-class="{'bold':!isCollapseditem}") {{item.phonename}} ({{item.phonesLength(filters.locs)}})
        button.btn.btn-link.btn-xs.pull-right
          i.fa.fa-chevron-down.base-spin(ng-class="{'spin-up':isCollapseditem }")
  .top-buffer(collapse="isCollapseditem", stop-event='')
    .row
      .col-xs-3.text-center.xs-padding
        btn.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click="item.sort('store.locationId')", ng-disabled="(inventoryItemForm.$invalid || !item.phones.length)", ng-mouseenter='(item.icons["store.locationId"] = true)', ng-mouseleave='item.icons["store.locationId"] = false')
          label.control-label.icon-right-xs(for="location") Location
          i.fa.fa-lg(ng-class='{"fa-sort-up": item.isSortUp("store.locationId"), "fa-sort-desc":item.isSortDown("store.locationId")}')
      .col-xs-3.text-center.xs-padding
        btn.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click="item.sort('imei')", ng-disabled="(inventoryItemForm.$invalid || !item.phones.length)", ng-mouseenter='(item.icons.imei = true)', ng-mouseleave='item.icons.imei = false')
          label.control-label.icon-right-xs(for="imei") IMEI
          i.fa.fa-lg(ng-class='{"fa-sort-up": item.isSortUp("imei"), "fa-sort-desc":item.isSortDown("imei")}')
      .col-xs-2.text-center.xs-padding
        btn.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click='item.sort("fixed_cost")', ng-disabled="(inventoryItemForm.$invalid || !item.phones.length)", ng-mouseenter='(item.icons.fixed_cost = true)', ng-mouseleave='item.icons.fixed_cost = false')
          label.control-label.icon-right-xs(for="Amount") Our Cost
          i.fa.fa-lg(ng-class='{"fa-sort-up": item.isSortUp("fixed_cost"), "fa-sort-desc":(item.isSortDown("fixed_cost")&&!item.icons.fixed_cost)}')
      .col-xs-2.text-center.xs-padding
        btn.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click="item.sort('amount')", ng-disabled="(inventoryItemForm.$invalid || !item.phones.length)", ng-mouseenter='item.icons.amount', ng-mouseleave='item.icons.amount = false')
          label.control-label.icon-right-xs(for="amount") Price
          i.fa.fa-lg(ng-class='{"fa-sort-up": item.isSortUp("amount"), "fa-sort-desc":item.isSortDown("amount")}')
    div(ng-switch='', on="item.phones.length > 0")
      div(ng-switch-when="true")
        .row.top-buffer-sm(ng-repeat="phone in item.phones | orderBy:item.sortField:item.reverse track by $index", ng-show="item.containsLoc(filters.locs, phone)")
          .col-xs-3.xs-padding
            select.form-control(ng-model="phone.store.locationId", ng-options="l.id as l.name for l in phone.store.locations", name="Location", required='')
          .col-xs-3.xs-padding
            .input-group(name="imei")
              input.form-control.input-sm(type='tel', ng-model='phone.imei', name="imei", required='')
          .col-xs-2.xs-padding
            .input-group(name='fixed_cost')
              span.input-group-addon.hidden-xs.fa.fa-dollar.amt-padding.hidden-md.hidden-lg
              input.form-control.input-sm(ng-model='phone.fixed_cost', name="fixed_cost", placeholder='100', required='', min='0', type="number")
          .col-xs-2.xs-padding
            .input-group(name='amount')
              span.input-group-addon.hidden-xs.fa.fa-dollar.amt-padding.hidden-md.hidden-lg
              input.form-control.input-sm(ng-model='phone.amount', name="amount", placeholder='100', required='', min='0', type="number")
          .col-xs-2.text-center.xs-padding
            button.btn.btn-link.btn-xs(type="button", ng-click="item.removePhone(phone)")
              i.fa.fa-times.fa-lg.grow.text-danger
      div(ng-switch-when="false")
        .row.top-buffer-sm
          .col-xs-3.text-center
            h5
              i &mdash;
          .col-xs-3.text-center
            h5
              i &mdash;
          .col-xs-2.text-center
            h5
              i &mdash;
          .col-xs-2.text-center
            h5
              i &mdash;
    .row.top-buffer.bottom-buffer
      .col-xs-5.text-center(ng-show="item.hasChanged()")
        button.btn.btn-xs.btn-primary(ng-click='savePhone(item)', ng-disabled="inventoryItemForm.$invalid || !item.isValid()", type='button')
          i.fa.fa-save.grow-icon-xs
          span.icon-left-xs Save
      .col-xs-5.text-center(ng-show="item.hasChanged()")
        button.btn.btn-xs.btn-danger(ng-click='item.cancel()', type='button')
          i.fa.fa-times.grow-icon-xs
          span.icon-left-xs Cancel
      .col-xs-2.text-center(ng-class="{'col-xs-offset-10':!item.hasChanged()}")
        button.btn.btn-xs.btn-link(type="button", ng-click='item.addPhone()')
          i.fa.fa-lg.fa-plus.grow.text-success
