div(ui-view='')
  .row.well.well-sm(style="margin-bottom:0px;border-bottom:0px;")
    div
      .col-xs-2.top-buffer
        a.button.btn.btn-link.btn-xs(ng-click="move(-1, data.date)", tooltip-placement="right", tooltip="{{data.leftTooltip | date:'yyyy'}}", tooltip-append-to-body='true')
          i.fa.fa-lg.fa-chevron-left
      .col-xs-8.text-center
        h2
          a(ui-sref="income.year") {{data.date | date:'yyyy' }}
      .col-xs-2.text-right.top-buffer
        a.button.btn.btn-link.btn-xs(ng-click="move(1, data.date)", tooltip-placement="left", tooltip="{{data.rightTooltip | date:'yyyy'}}", tooltip-append-to-body='true')
          i.fa.fa-lg.fa-chevron-right
  div
    .row(ng-repeat="row in rows track by $index")
      .col-xs-4.left-border.right-border.bottom-border.top-border.border-fade.month-height.text-link(ng-repeat="month in row track by $index", ng-click="goMonth(month.date)")
        .vertical-align.row
          h3.text-center.no-margin-top(ng-class="{'text-info':month.isThisMonthAndYear()}",)
            span.hidden-xs {{ month.date | date:'MMMM' }}
            span.visible-xs {{ month.date | date:'MMM' }}
          small.text-center.col-xs-12 Income: {{month.income_total | noFractionCurrency}}
          small.text-center.col-xs-12 Expenses: {{month.expenses_total | noFractionCurrency}}
          small.text-center.col-xs-12
            span Net:
              strong &nbsp;{{month.net_total | noFractionCurrency}}
      
