div
  .row
    .col-xs-12
      h4.margin-left.bold Summary
  div
    .row.top-buffer
      .col-xs-6.col-sm-2.col-sm-offset-1.text-center
        btn.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click="sort('name');locationicon=false", ng-disabled="(!incomeData.summary.length)", ng-mouseenter='(locationicon = true)', ng-mouseleave='locationicon = false')
          label.control-label.icon-right-xs(for="location") Location
          i.fa.fa-lg(ng-class='{"fa-sort-up": (isSortUp("name") || locationicon), "fa-sort-desc":isSortDown("name")}')
      .hidden-xs.col-sm-2.col-xs-offset-0.col-sm-offset-1.text-center
        btn.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click="sort('income');incomeicon=false", ng-disabled="(!incomeData.summary.length)", ng-mouseenter='(incomeicon = true)', ng-mouseleave='incomeicon = false')
          label.control-label.icon-right-xs(for="Income") Income
          i.fa.fa-lg(ng-class='{"fa-sort-up": (isSortUp("income") || incomeicon), "fa-sort-desc":isSortDown("income")}')
      .hidden-xs.col-sm-2.col-xs-offset-0.col-sm-offset-1.text-center
        btn.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click='sort("expenses");expensesicon=false', ng-disabled="(!incomeData.summary.length)", ng-mouseenter='(expensesicon = true)', ng-mouseleave='expensesicon = false')
          label.control-label.icon-right-xs(for="Expenses") Expenses
          i.fa.fa-lg(ng-class='{"fa-sort-up": (isSortUp("expenses") || expensesicon), "fa-sort-desc":(isSortDown("expenses")&&!expensesicon)}')
      .col-xs-6.col-sm-2.col-xs-offset-0.col-sm-offset-1.text-center
        btn.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click='sort("net");neticon=false', ng-disabled="(!incomeData.summary.length)", ng-mouseenter='(neticon = true)', ng-mouseleave='neticon = false')
          label.control-label.icon-right-xs(for="net") Net
          i.fa.fa-lg(ng-class='{"fa-sort-up": (isSortUp("net") || neticon), "fa-sort-desc":(isSortDown("net")&&!neticon)}')
    .row.top-buffer.bottom-buffer(ng-repeat="val in incomeData.summary | orderBy:sortField:reverse track by $index")
      .col-xs-6.col-sm-2.col-xs-offset-0.col-sm-offset-1.text-center
        span(ng-bind="val.name")
      .hidden-xs.col-sm-2.col-sm-offset-1.text-center
        span(ng-show="val.income",ng-bind="(val.income | currency)") 
        span(ng-hide="val.income") &mdash;
      .hidden-xs.col-sm-2.col-xs-offset-0.col-sm-offset-1.text-center
        span(ng-show="val.expenses", ng-bind="(-1*val.expenses | currency)")
        span(ng-hide="val.expenses") &mdash;
      .col-xs-6.col-sm-2.col-sm-offset-1.text-center
        span(ng-show="val.net", ng-bind="(val.net | currency)")
    .row.top-buffer.bottom-buffer
      .col-xs-6.col-sm-2.col-xs-offset-0.col-sm-offset-1.text-center
        strong Total:
      .hidden-xs.col-sm-2.col-sm-offset-1.text-center
        span(ng-show="::incomeData.income_total",ng-bind="::incomeData.income_total | currency")
        span(ng-hide="::incomeData.income_total", ng-bind="incomeData.income_total") &mdash;
      .hidden-xs.col-sm-2.col-xs-offset-0.col-sm-offset-1.text-center
        span(ng-show="::incomeData.expenses_total", ng-bind="::-1*incomeData.expenses_total | currency")
        span(ng-hide="::incomeData.income_total", ng-bind="::incomeData.expenses_total") &mdash;
      .col-xs-6.col-sm-2.col-sm-offset-1.text-center
        strong(ng-show="::incomeData.net_total",ng-bind="::incomeData.net_total | currency")
    