div
  .row
    .col-xs-12(ng-click="isCollapsed = !isCollapsed")
      h4.margin-left(ng-class="{'bold':!isCollapsed}") Net Income
        button.btn.btn-link.btn-xs.pull-right
          i.fa.fa-chevron-down.base-spin(ng-class="{'spin-up':isCollapsed }")
  .row.top-buffer(collapse="isCollapsed")
    .col-sm-10.col-sm-offset-1.col-xs-12.text-center
      nvd3-line-chart(data="incomeData.graph",
        xAxisTickFormat="xAxisTickFormatFunction()",
        yAxisTickFormat="yAxisTickFormatFunction()",
        height="300",
        showXAxis="true",
        noData="No Data.",
        showLegend="true",
        interactive="true",
        tooltips="true",
        color="colorFunction()",
        legendcolor="colorFunction()",
        x="xFunction()",
        y="yFunction()",
        forcex="[12]",
        useInteractiveGuideLine="true",
        showYAxis="true")
          svg(style="margin-left:20px;")