.row.well.well-sm
  div
    .col-xs-2.top-buffer
      a.button.btn.btn-link.btn-xs(ng-click="move(-1, incomeData.date)", tooltip-placement="right", tooltip="{{incomeData.leftTooltip | date:'yyyy'}}", tooltip-append-to-body='true')
        i.fa.fa-lg.fa-chevron-left
    .col-xs-8.text-center
      h2
        span {{incomeData.date | date:'yyyy' }}
        button.btn.btn-xs.btn-link(ui-sref="income({year:(incomeData.date | date:'yyyy')})", ui-sref-opts="{reload: true}")
          i.fa.fa-calendar.icon-sm
    .col-xs-2.text-right.top-buffer
      a.button.btn.btn-link.btn-xs(ng-click="move(1, incomeData.date)", tooltip-placement="left", tooltip="{{incomeData.rightTooltip | date:'yyyy'}}", tooltip-append-to-body='true')
        i.fa.fa-lg.fa-chevron-right
.row.well
  income-year-graph
.row.well
  income-year-summary(income-data="incomeData")
