form.hidden-print(name="invoiceForm", novalidate='')
  .row.page-header
    .col-sm-6.col-sm-offset-0.col-xs-10.col-xs-offset-1.text-center-xs
      h2(ng-click='invoice.newInvoiceNumber()', analytics-on="click", analytics-category="New Invoice", analytics-event="New Invoice Number") &#35;{{ invoice.invoice_number }}
    .col-md-2.col-md-offset-4.col-xs-5.col-xs-offset-3.col-sm-3.col-sm-offset-3.text-center-xs.top-buffer
      h4.text-right {{invoice.store.locationInfo.name}}
  .row
    .col-sm-5.col-xs-12.col-md-4
      .input-group.top-buffer-xs
        .col-md-6.col-xs-6(style="padding-right:2.5px;")
          input.form-control(type='text', ng-model='invoice.client.firstname', placeholder='Firstname', capitalize-first='')
        .col-md-6.col-xs-6(style="padding-left:2.5px;")
          input.form-control(type='text', typeahead='invoice.client.lastname for client in clientsFilter({lastname:$viewValue})', typeahead-loading="loadingClientsName", ng-model='invoice.client.lastname', placeholder='Lastname', capitalize-first='', typeahead-on-select='invoice.addClient($item)', typeahead-template-url='helperDirectives/templates/typeahead-tpls/nameitem.html')
      .col-lg-6.col-xs-7.col-md-8.col-sm-8.top-buffer-xs(style="padding-right:5px;")
        .input-group
          input.form-control(ng-pattern='invoice.client.telephoneRegex', name="telephone", ng-model='invoice.client.telephone',  placeholder="(555) 555-5555",typeahead-loading="loadingClientsTel", typeahead-template-url='helperDirectives/templates/typeahead-tpls/telephoneitem.html', typeahead='client.telephone for client in clientsFilter({telephone:$viewValue})', type='tel', typeahead-min-length='2', typeahead-on-select='invoice.addClient($item)')
          span.input-group-btn
            button.btn.btn-default(ng-disabled="!invoice.client.isExistingClient()", ui-sref='clientinfo.detail.invoices({id:invoice.client._id, page:1})', type="button", analytics-category='New Invoice', analytics-event="Go To Client", analytics-label="Page", analytics-on="click")
              i.fa.grow-icon.text-primary(ng-class="{'fa-user text-primary':(!loadingClientsTel&&!loadingClientsName), 'fa-spinner fa-spin text-default':(loadingClientsTel||loadingClientsName)}")
      .col-xs-5.col-md-4.col-sm-4.top-buffer-xs(style="padding-left:0px;")
        button.btn.btn-sm.btn-default(type="button", ng-click="invoice.newPayment()", ng-show="invoice.client.isExistingClient()&&invoice.client.hasPlanAndCarrier()", popover="{{invoice.client.getRechargePopover()}}", popover-append-to-body="true", popover-placement="bottom" , popover-trigger="mouseenter",analytics-on="click", analytics-category="New Invoice", analytics-event="Recharge")
          i.fa.fa-refresh.grow-icon-xs(ng-class="{'text-danger':invoice.client.paymentOverdue()}")
          span.icon-left(ng-class="{'text-danger bold':invoice.client.paymentOverdue()}") Recharge
      .col-xs-12.top-buffer-xs(ng-show="invoice.client.isClient()")
        payment-type(client="invoice.client", analytics-category="New Invoice", analytics-event="Change Payment Type")
    .col-sm-3.col-md-4.col-xs-12.bottom-buffer-no-xs
      .top-buffer-xs(ng-show="invoice.client.isClient()")
        label.col-md-3.control-label.hidden-sm(for="notes") Client Notes:
        .col-xs-12.col-md-9
          textarea.form-control#notes(ng-model='invoice.client.notes', rows='4', name="notes", placeholder="Please input some notes about this client", analytics-on="blur", analytics-event="Change Notes", analytics-category="New Invoice", analytics-label="{{invoice.client.notes}}")
    .col-sm-4.col-xs-12.bottom-buffer-no-xs
      .input-group.top-buffer-xs.col-xs-12
        label.col-md-3.control-label.hidden-sm(for="address") Address:
        .col-xs-12.col-md-9.col-sm-12
          textarea.form-control#address(name="address", type="text", placeholder="123 Abc Street, Chicago IL, 60107", ng-model="invoice.client.address.formatted_address", rows="4", typeahead="address.formatted_address for address in invoice.client.$predictAddress($viewValue)", typeahead-on-select='invoice.client.onSelectAddress($item)', analytics-on="blur", analytics-event="Add Address", analytics-category="New Invoice")
  .top-buffer
    .row
      .col-sm-1.hidden-xs
      .col-sm-2.hidden-xs
        h5 Type
      .col-sm-3.col-xs-4.col-xs-offset-1.col-sm-offset-0
        h5 Details
      .col-sm-2.text-center.hidden-xs
        h5 Amount
      .col-sm-1.hidden-xs.text-center
        h5 Tax
      .col-sm-1.hidden-xs.text-center
        h5 Charge
      .col-sm-1.hidden-xs.text-center
        h5 Sale
      .col-xs-2.col-xs-offset-4.col-sm-1.text-right.col-sm-offset-0
        h5
    .row.top-border(ng-show="invoice.transactions.length==0")
      .col-sm-1.hidden-xs.padding
      .col-sm-2.hidden-xs.padding
        span(style="margin-left:14px;") &mdash;
      .col-sm-3.text-center-xs.col-xs-6.padding
        span.align-information-dash &mdash;
      .col-sm-2.hidden-xs.padding.text-center
        span &mdash;
      .col-sm-1.hidden-xs.text-center.padding
        span &mdash;
      .col-sm-1.hidden-xs.text-center.padding
        span &mdash;
      .col-sm-1.hidden-xs.text-center.padding
        span &mdash;
      .col-xs-6.col-sm-1.text-right.padding
        span.align-dash-short &mdash;
    .row.v-center.top-border(ng-repeat-start='transaction in invoice.transactions track by $index', ng-form="transactionForm")
      .col-xs-1.padding
        button.btn.btn-link.btn-xs.text-primary(ng-click='invoice.removeTransaction(transaction)')
          i.fa.fa-lg.fa-times.text-danger.grow
      .col-xs-1.col-sm-2.padding
        span
          i.fa(ng-class='transaction.icon')
          span.icon-left.hidden-xs {{transaction.inventoryId.description || transaction.category }}
      .col-xs-4.col-md-3.padding
        div(ng-switch='', on='transaction.category_slug')
          .input-group.col-xs-12.col-md-9(ng-switch-when='phone-sale')
            select.form-control.input-sm(name="description" , ng-model='transaction.inventoryId', ng-options='p.imei group by p.description for p in invoice.getPhoneSaleChoices(transaction) track by p._id', ng-change="transaction.setPrice()", required='', style="width:80%", analytics-category="New Invoice", analytics-event="Select {{transaction.category}}", analytics-label="{{transaction.inventoryId.description}}", analytics-on="change")
            i.fa.fa-plus-circle.icon-left.text-primary.grow-icon(ng-click='addPhone(invoice.store, transaction)', style="line-height:30px", ng-show="isAdmin()")
          .input-group(ng-switch-when='other')
            input.form-control.input-sm(type='text', ng-model='transaction.otherId.description', name="description", typeahead='pred for pred in transaction.getChoices() | filter:$viewValue | limitTo:8', required='', analytics-on="blur", analytics-category="New Invoice", analytics-event="Select Other", analytics-label="{{transaction.otherId.description}}")
          .input-group(ng-switch-default='')
            select.form-control.input-sm(ng-model='transaction.typeId.description', name="description", type="text", ng-options='s.description as s.description for s in transaction.getChoices()', ng-change="transaction.setTypeId();invoice.client.watchClientCarrier(transaction)", analytics-category="New Invoice", analytics-event="Select {{transaction.category}}", analytics-label="{{transaction.typeId.description}}", analytics-on="change", required='')
      .col-xs-3.col-sm-2.padding
        .input-group.col-xs-8.col-xs-offset-2.col-sm-12.col-sm-offset-0.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3(name='amount', ng-if="!transaction.hasAmountPrediction()")
          span.input-group-addon.hidden-xs.fa.fa-dollar
          input.form-control.input-sm(ng-model='transaction.amount', name="amount", placeholder='100.00', required='', min='0', type="number", replace='true', ng-change="invoice.client.watchClientPlan(transaction)")
        .input-group.col-xs-8.col-xs-offset-2.col-sm-12.col-sm-offset-0.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3(name='amount', ng-if="transaction.hasAmountPrediction()")
          span.input-group-addon.hidden-xs.fa.fa-dollar
          input.form-control.input-sm( ng-model='transaction.amount',typeahead-min-length='0', typeahead="amt.amount as amt.amount for amt in transaction.typeId.prediction | orderBy:'amount'", typeahead-on-select='transaction.setPrediction($item);invoice.client.watchClientPlan(transaction);', typeahead-template-url='helperDirectives/templates/typeahead-tpls/amount.html', name="amount", placeholder='100.00', required='', min='0', type="number",  replace='true')
      .col-xs-1.padding.text-center
        button.btn.btn-link.btn-xs(ng-click="transaction.addRemoveTax()", ng-disabled="!transaction.isValidDescAmount()").text-center
          i.fa.fa-lg.grow(ng-class="{'fa-plus-square text-success':!transaction.hasTax(), 'fa-minus-square text-danger':transaction.hasTax() }")
      .col-xs-1.padding.text-center
        button.btn.btn-link.btn-xs(ng-click="transaction.addRemoveSrvcCharge()", ng-disabled="!transaction.isValidDescAmount()").text-center
          i.fa.fa-lg.grow(ng-class="{'fa-plus-square text-success':!transaction.hasSrvcCharge(), 'fa-minus-square text-danger':transaction.hasSrvcCharge() }")
      .col-xs-1.padding.text-center
        button.btn.btn-link.btn-xs(ng-click="transaction.addRemoveSale()", ng-disabled="!transaction.isValidDescAmount()").text-center
          i.fa.fa-lg.grow(ng-class="{'fa-plus-square text-success':!transaction.hasSale(), 'fa-minus-square text-danger': transaction.hasSale()}")
      .col-sm-1.hidden-xs.padding.text-right
        span(ng-show="transaction.isValidAmount('amount')") {{transaction.amount | currency}}
        span(ng-show="!transaction.isValidAmount('amount')").align-dash-short &mdash;
    .row(ng-show="transaction.isOther() || transaction.hasTax()")
      .col-xs-3.col-sm-3.padding.text-right(ng-show="transaction.isOther()")
        strong Our Cost:
      .col-xs-3.col-sm-2.padding(ng-show="transaction.isOther()")
        .input-group.col-xs-7.col-xs-offset-2.col-sm-12.col-md-8.col-lg-6(name='fixed_cost')
          span.input-group-addon.hidden-xs.fa.fa-dollar
          input.form-control.input-sm(ng-model='transaction.otherId.fixed_cost', placeholder='100.00', type="number",  replace='true')
      .padding.text-right.no-top(ng-class="{'col-xs-9 col-sm-7':!transaction.isOther(),'col-xs-3 col-sm-2':transaction.isOther()}")
        strong(ng-show="transaction.hasTax()") Tax:
      .col-sm-2.hidden-xs.padding.text-center
        div(ng-show="transaction.hasTax()")
          span(ng-show="transaction.isValidAmount('taxtotal')") +&nbsp;{{transaction.taxtotal | currency}}
          span(ng-show="!transaction.isValidAmount('taxtotal')").align-dash-short &mdash;
      .col-xs-3.padding.text-right
        div(ng-show="transaction.hasTax()")
          span(ng-show="transaction.isValidAmount('taxtotal')") +&nbsp;{{transaction.taxtotal | currency}}
          span(ng-show="!transaction.isValidAmount('taxtotal')").align-dash-short &mdash;
    .row.v-center(ng-show='transaction.hasSrvcCharge()')
      .col-xs-6.col-sm-7.col-md-7.padding.text-right
        strong Service Charge:
      .col-xs-3.col-sm-2.padding
        .input-group.col-xs-10.col-xs-offset-1.col-sm-12.col-md-8.col-lg-6(name='servicecharge')
          span.input-group-addon.fa.fa-dollar
          input.form-control.input-sm(ng-model='transaction.servicecharge', placeholder='100.00', type="number",  replace='true')
      .col-xs-4.col-md-3.padding.text-right.no-top
        span(ng-show="transaction.isValidAmount('servicecharge')") +&nbsp;{{ transaction.servicecharge | currency}}
        span(ng-show="!transaction.isValidAmount('servicecharge')").align-dash-short &mdash;
    .row.v-center(ng-repeat-end, ng-show='transaction.hasSale()')
      .col-xs-6.col-sm-7.col-md-7.col-md-offset-3.padding.text-right
        strong Sale:
      .col-xs-3.col-sm-2.padding
        .input-group.col-xs-10.col-xs-offset-1.col-sm-12.col-md-8.col-lg-6(name='amtsale')
          span.input-group-addon.fa.fa-dollar
          input.form-control.input-sm(ng-model='transaction.amtsale', placeholder='100.00', type="number",  replace='true')
      .col-xs-4.col-md-3.padding.text-right
        span(ng-show="transaction.isValidAmount('amtsale')") {{ -1*transaction.amtsale | currency}}
        span(ng-show="!transaction.isValidAmount('amtsale')").align-dash-short &mdash;
    .row
      .btn-group.btn-group-justified
        .btn-group(ng-repeat="(category_slug,types) in invoice.choices", ng-switch='::category_slug')
          button.btn.btn-sm.btn-default.no-padding-xs(ng-switch-when="phone-sale", type='button', ng-click='invoice.addTransaction({inventoryId:{category_slug:"phone-sale", category: "Phone Sale", icon:"fa-mobile-phone"}})', analytics-category='New Invoice', analytics-event="Add Transaction", analytics-label="Phone Sale", analytics-on="click")
            i.fa.fa-mobile-phone
            span.hidden-xs.icon-left-xs Phone Sale
          button.btn.btn-sm.btn-default.no-padding-xs(ng-switch-when="other", type='button', ng-click='invoice.addTransaction({otherId:{category_slug:"other", category: "Other", fixed_cost:0, icon:"fa-question"}})', analytics-category='New Invoice', analytics-event="Add Transaction", analytics-label="Other", analytics-on="click")
            i.fa.fa-question
            span.hidden-xs.icon-left-xs Other
          button.btn.btn-sm.btn-default.no-padding-xs(ng-switch-default='', type='button', ng-click='invoice.addTransaction({typeId:{category_slug:category_slug, category: types[0].category, icon: types[0].icon}})', analytics-category='New Invoice', analytics-event="Add Transaction", analytics-label="{{types[0].category}}", analytics-on="click")
            i.fa(ng-class="::types[0].icon")
            span.hidden-xs.icon-left-xs(ng-bind="::types[0].category")
    .row.top-border
      .col-xs-9.col-sm-11.padding.text-right
        strong Sub Total:
      .col-xs-3.col-sm-1.padding.text-right
        span(ng-show="invoice.isValidAmount('subtotal')", ng-bind="(invoice.subtotal | currency)")
        span(ng-show="!invoice.isValidAmount('subtotal')").align-dash-short &mdash;
    .row.top-border(ng-show="invoice.hasSrvcCharge()")
      .col-xs-9.col-sm-11.padding.text-right
        strong Service Charge Total:
      .col-xs-3.col-sm-1.padding.text-right
        span(ng-show="invoice.isValidAmount('servicecharge')", ng-bind="(invoice.servicecharge | currency)")
        span(ng-show="!invoice.isValidAmount('servicecharge')").align-dash-short &mdash;
    .row.top-border(ng-show="invoice.hasSale()")
      .col-xs-9.col-sm-11.padding.text-right
        strong Sale Total:
      .col-xs-3.col-sm-1.padding.text-right
        span(ng-show="invoice.isValidAmount('saletotal')", ng-bind="(-1*invoice.saletotal) | currency")
        span(ng-show="!invoice.isValidAmount('saletotal')").align-dash-short &mdash;
    .row.top-border(ng-show='invoice.hasTax()')
      .col-xs-9.col-sm-11.padding.text-right
        strong Tax Total:
      .col-xs-3.col-sm-1.padding.text-right
        span(ng-show="invoice.isValidAmount('taxtotal')", ng-bind="(invoice.taxtotal | currency)")
        span(ng-show="!invoice.isValidAmount('taxtotal')").align-dash-short &mdash;
    .row.top-border
       .col-xs-8.padding.col-sm-4.col-md-3
          payment-method-multiple.margin-left(size='xs', invoice="invoice")
       .col-sm-3.padding.hidden-xs
         div(ng-hide="!(invoice.typeofpayment.length===3)")
           label.col-md-5.col-sm-4.no-padding.top-buffer-xs.control-label(for="credit_amount")
             span Check
             span.hidden-sm &nbsp;Total
             span :
           .col-md-7.col-sm-8.no-padding-sm
             .input-group.col-sm-12.col-md-12.col-lg-9(name='check_amount', ng-class='{"has-error":!invoice.isValidPayment(invoice.check_total)}')
               span.input-group-addon.fa.fa-dollar
               input.form-control.input-sm(ng-model='invoice.check_total', name="amount", placeholder='100.00', required='', min='0', type="number",  replace='true')
       .col-sm-3.padding.hidden-xs
         div(ng-hide="!invoice.hasMultiplePaymentMethods()")
           label.col-md-5.col-sm-4.no-padding.top-buffer-xs.control-label
             span {{ (invoice.paymentInfo.Credit&&!invoice.paymentInfo.Check)||(invoice.typeofpayment.length===3) ? 'Credit' : 'Check' }}
             span.hidden-sm &nbsp;Total
             span :
           .col-md-7.col-sm-8.no-padding-sm
             .input-group.col-sm-12.col-md-12.col-lg-9(name='credit_amount', ng-class='{"has-error":!invoice.isValidPayment(invoice.credit_total)}', ng-show="(invoice.paymentInfo.Credit&&!invoice.paymentInfo.Check)||(invoice.paymentInfo.Credit&&invoice.paymentInfo.Check&&invoice.paymentInfo.Cash)")
               span.input-group-addon.fa.fa-dollar
               input.form-control.input-sm(ng-model='invoice.credit_total', name="amount", placeholder='100.00', required='', min='0', type="number",  replace='true')
             .input-group.col-sm-12.col-md-12.col-lg-9(name='check_amount', ng-class='{"has-error":!invoice.isValidPayment(invoice.check_total)}', ng-show="(invoice.paymentInfo.Check&&!invoice.paymentInfo.Credit) || (invoice.paymentInfo.Check&&invoice.paymentInfo.Credit&&!invoice.paymentInfo.Cash)")
               span.input-group-addon.fa.fa-dollar
               input.form-control.input-sm(ng-model='invoice.check_total', name="amount", placeholder='100.00', required='',  min='0', type="number",  replace='true')
       .col-xs-1.col-sm-1.col-md-2.padding.text-right(ng-show="invoice.hasMultiplePaymentMethods()")
         strong
           span {{ invoice.paymentInfo.Cash ? 'Cash' : 'Credit' }}
           span.hidden-xs &nbsp;Total
           span :
       .col-xs-3.col-sm-1.padding.text-right(ng-show="invoice.hasMultiplePaymentMethods()")
         span(ng-bind="(invoice.paymentInfo.Cash ? invoice.getCashTotal() : invoice.getCreditTotal()) | currency")
         span(ng-show="invoice.paymentInfo.Cash ? (!invoice.getCashTotal()&&(invoice.getCashTotal()!==0)) : (!invoice.getCreditTotal()&&(invoice.getCreditTotal()!==0))").align-dash-short &mdash;
       .col-xs-1.col-sm-2.padding.text-right(ng-hide="invoice.hasMultiplePaymentMethods()")
         strong Total:
       .col-xs-3.col-sm-1.padding.text-right(ng-hide="invoice.hasMultiplePaymentMethods()")
         u(ng-show="invoice.isValidAmount('grandtotal')", ng-bind="(invoice.grandtotal | currency)")
         span(ng-show="!invoice.isValidAmount('grandtotal')").align-dash-short &mdash;
    .row.v-center.top-border(ng-show="invoice.hasMultiplePaymentMethods()")
      .col-xs-6.padding.hidden-sm.hidden-md.hidden-lg
        div(ng-hide="!(invoice.typeofpayment.length===3)")
          label.col-xs-5.top-buffer-xs.control-label(for="credit_amount")
            span Check:
          .col-xs-7.no-padding
            .input-group.col-xs-10(name='check_amount', ng-class='{"has-error":!invoice.isValidPayment(invoice.check_total)}', style="margin-top:0px;margin-bottom:0px;")
              span.input-group-addon.fa.fa-dollar
              input.form-control.input-sm(ng-model='invoice.check_total', name="amount", placeholder='100.00', required='', min='0', type="number",  replace='true')
      .col-xs-6.padding.hidden-sm.hidden-md.hidden-lg
        label.text-center.col-xs-5.top-buffer-xs.control-label
          span {{ (invoice.paymentInfo.Credit&&!invoice.paymentInfo.Check)||(invoice.typeofpayment.length===3) ? 'Credit' : 'Check' }}:
        .col-xs-7.no-padding
          .input-group.col-xs-10.col-xs-offset-1(name='credit_amount', ng-class='{"has-error":!invoice.isValidPayment(invoice.credit_total)}', style="margin-top:0px;margin-bottom:0px;", ng-show="(invoice.paymentInfo.Credit&&!invoice.paymentInfo.Check)||(invoice.paymentInfo.Credit&&invoice.paymentInfo.Check&&invoice.paymentInfo.Cash)")
            span.input-group-addon.fa.fa-dollar
            input.form-control.input-sm(ng-model='invoice.credit_total', name="amount", placeholder='100.00', required='', min='0', type="number",  replace='true')
          .input-group.col-xs-10.col-xs-offset-1(name='check_amount', ng-class='{"has-error":!invoice.isValidPayment(invoice.check_total)}', style="margin-top:0px;margin-bottom:0px;", ng-show="(invoice.paymentInfo.Check&&!invoice.paymentInfo.Credit) || (invoice.paymentInfo.Check&&invoice.paymentInfo.Credit&&!invoice.paymentInfo.Cash)")
            span.input-group-addon.fa.fa-dollar
            input.form-control.input-sm(ng-model='invoice.check_total', name="amount", placeholder='100.00', required='',  min='0', type="number",  replace='true')
    .row.top-border(ng-show="invoice.hasMultiplePaymentMethods()")
      .col-xs-9.col-sm-11.padding.text-right
         strong Total:
      .col-xs-3.col-sm-1.padding.text-right
         u(ng-show="invoice.isValidAmount('grandtotal')", ng-bind="(invoice.grandtotal | currency)")
         span(ng-show="!invoice.isValidAmount('grandtotal')").align-dash-short &mdash;
    .row.text-center.top-buffer-md
      .col-md-6.col-md-offset-3
        button.btn.btn-primary.icon-right-xs(ng-click='submitInfo(invoice)', ng-disabled="invoiceForm.$invalid || invoice.isInvalid()")
          i.fa.fa-check.icon-right.grow-icon
          span Submit
          span.hidden-xs &#32;Invoice
        button.btn.btn-warning.icon-left-xs.icon-right-xs(ng-click='invoice.clear()', analytics-on="click", analytics-event="Clear", analytics-category='New Invoice')
          i.fa.fa-eraser.grow-icon
          span.hidden-xs.icon-left Clear
        button.btn.btn-default.icon-left-xs(ng-click='printInfo()', analytics-on="click", analytics-category='New Invoice', analytics-event="Print Main", ng-show="isAdmin()")
          i.fa.fa-print.grow-icon
          span.hidden-xs.icon-left Print
print-invoice(invoice="invoice")
