.row
  form(role='form', novalidate='')
    .col-sm-12
      div.input-group.hackyhack
        label.sr-only(for='daterange')
        input.form-control.text-center(type='text', ng-class="{'psuedo-input-focus':open_start_date}", ng-click="open_start_date = !open_start_date", datepicker-popup='dd-MMM-yyyy', ng-model='dt.startDate', is-open='open_start_date', max-date='maxDate', min-date="minDate")
        span.input-group-addon(ng-click="executeCb(dt);", ng-mouseenter="(!spin()&&!isChanged(dt)&&!disableCb) && (refresh = true)", ng-mouseleave="refresh = false")
          icon.fa(ng-class="{'fa-arrows-h':(!spin()&&!isChanged(dt)&&!refresh)||disableCb, 'fa-download grow':(isChanged(dt)&&!spin()), 'fa-spinner fa-spin':spin(), 'fa-refresh grow':refresh }", style="width:12px;")
        input.form-control.text-center(type='text',ng-class="{'psuedo-input-focus':open_end_date}", ng-click="open_end_date = !open_end_date", datepicker-popup='dd-MMM-yyyy', ng-model='dt.endDate', is-open='open_end_date', max-date='today', min-date="minDate_two")