div(ui-view='')
  .row
    .well.well-sm.glow.col-sm-3.col-xs-12(style='cursor:pointer;', ng-repeat='user in users track by user._id')
      button.close.grow(type="button", ng-click="removeUser(user)", stop-event='click') &times;
      div
        .col-xs-10
          h4
            | {{user.firstname}} {{user.lastname}}
          p.truncate-string
            i.fa.fa-user.icon-right
            i.fa.fa-wrench.icon-right(ng-show='user.admin')
            | {{user.username}}
            br
            a(stop-event='click', ng-href='mailto:{{user.email}}')
              i.fa.fa-envelope-o.icon-right
              | {{user.email}}
  .row
    .col-xs-12
      button.btn.btn-default(type="button", ui-sref="new")
        i.icon-right.fa.fa-user-plus.grow
        | Add User
