.btn-group(ng-class='{open:o}')
  button.btn.btn-default(class="btn-{{size}}")
    i.fa.icon-right-xs(class="{{icon}}")
    span {{label()}}
  button.btn.btn-default(ng-click='openDropdown()', class="btn-{{size}}")
    i.fa.fa-caret-down
  ul.dropdown-menu(aria-labelledby='dropdownMenu', style="min-width:120px;")
    li(ng-repeat='option in options')
      a(a-disabled='isDisabled(option.id)', ng-click='setSelectedItem(option)').text-center
        | {{option.name}}
        i.fa(ng-class='{"fa-check icon-left":isChecked(option.id)}')
    li(ng-show="options.length == 0")
      a.text-center No Options

