.btn-group(ng-class='{open:o}')
  button.btn.btn-default(class="btn-{{size}}", ng-click='selectAll()')
    i.fa.icon-right-xs(class="{{icon}}")
    | {{ text }}
  button.btn.btn-default(ng-click='openDropdown()', class="btn-{{size}}")
    i.fa.fa-caret-down
  ul.dropdown-menu(aria-labelledby='dropdownMenu', style="min-width:120px;")
    li
      a(ng-click='selectAll()').text-center
        i.fa.fa-check.icon-right.grow
        | Check All
    li.divider
    li(ng-repeat='option in options')
      a(ng-click='setSelectedItem()').text-center
        | {{option.name}}
        i.fa(ng-class='{"fa-check icon-left":isChecked(option.id)}')
    li(ng-show="options.length == 0")
      a.text-center No Options

