.cg-notify-message.alert.alert-dismissable.hidden-print(ng-class='$classes')
  button.close.grow(type='button', ng-click='$close()')
    span &times;
  div(ng-show='!$messageTemplate') {{$message}}
  .cg-notify-message-template(ng-show='$messageTemplate')

//- .alert.alert-dismissable(ng-class='$classes')
//-   button.close.grow(type='button', ng-click='$close()')
//-     span(aria-hidden='true') &times;
//-     span.cg-notify-sr-only Close
//-   div(ng-show='!$messageTemplate') {{$message}}
//-   .cg-notify-message-template(ng-show='$messageTemplate')
