.cg-notify-message {
    position:fixed;
    right:4%;
    top:0px;
    z-index: 9999;
    max-width:400px;
    text-align: center;

    -webkit-transition: top 0.5s ease-out,opacity 0.2s ease-out;
    -moz-transition: top 0.5s ease-out,opacity 0.2s ease-out;
    -o-transition: top 0.5s ease-out,opacity 0.2s ease-out;
    transition: top 0.5s ease-out,opacity 0.2s ease-out;    

    visibility:hidden;

    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

@media only screen and (max-width : @screen-xs-max) {
  .cg-notify-message {
    right: 12%;
  }
}
