.input-group
  input.form-control(ng-class="{'psuedo-input-focus':opened}", type="text", show-weeks='false', datepicker-popup='dd-MMM-yyyy', ng-click="opened = !opened", ng-model="date", is-open="opened")
  span.input-group-btn
    button.btn.btn-default(type="button", ng-click="$event.preventDefault();$event.stopPropagation();opened=!opened")
      i.fa.fa-calendar.grow(ng-class="{'grow grow-hover-helper-icon':opened}")
