.modal-header
  button.close.grow(type="button", ng-click="cancel()") &times;
  h3.modal-title Submit Payment on ePay
.modal-body
  iframe.iframe-epay(srcdoc="{{::iFrameHtml() | toTrusted}}", frameborder="0")
.modal-footer
  button.btn.btn-danger#close-button(ng-click='cancel()', type="button")
    i.fa.fa-times.icon-right
    | Close

//- <input type='hidden' name='Body.CallbackUrl' value='javascript:window.parent.document.getElementById(\"close-button\").click();'/> \
