form(name="invoiceForm", novalidate='')
  .row
    .col-sm-6.col-xs-8
      h4 &#35;
        span(ng-bind="::invoice.invoice_number")
        small &nbsp;(
        small(ng-bind="::invoice.user.username")
        small )
    .col-sm-6.col-xs-4.text-right
      h4(ng-bind="::invoice.created_date | date:'shortTime'")
  .row.hidden-xs
    .col-sm-1.col-sm-offset-1.text-center
      h5 Type
    .col-sm-2.col-sm-offset-1.text-center
      h5 Details
    .hidden-xs.hidden-sm.col-md-1.col-md-offset-2.text-center
      h5 Tax
    .hidden-xs.hidden-sm.col-md-1.text-center
      h5 Charge
    .hidden-xs.hidden-sm.col-md-1.text-center
      h5 Sale
    .col-sm-2.col-sm-offset-5.col-xs-offset-0.col-md-offset-0.col-lg-offset-0.text-center
      h5 Amount
  .row.v-center.top-border(ng-repeat-start='transaction in invoice.transactions track by $index')
    .col-xs-1.padding
      button.btn.btn-link.btn-xs(ng-click='invoice.removeTransaction(transaction)', ng-hide="(transaction.category_slug === 'phone-sale') && !isAdmin()")
        i.fa.fa-lg.fa-times.text-danger.grow
    .col-xs-1.col-sm-2.padding.text-left
      span
        i.fa(ng-class='transaction.icon')
        span.icon-left.hidden-xs(ng-bind="transaction.inventoryId.description || transaction.category ")
    .col-xs-5.col-sm-4.padding
      div(ng-switch='', on="transaction.category_slug")
        .input-group.col-xs-12.col-md-9(ng-switch-when="phone-sale")
          select.form-control.input-sm(name="description" , ng-model='transaction.inventoryId', ng-options='p.imei group by p.description for p in invoice.getPhoneSaleChoices(transaction) track by p._id', ng-change="transaction.setPrice()", required='', style="width:80%")
            i.fa.fa-plus-circle.icon-left.text-primary(ng-click='addPhone(invoice.store, transaction)', style="line-height:30px")
        .col-xs-10.col-sm-8.col-md-6.col-xs-offset-1.input-group(ng-switch-when='other')
          input.form-control.input-sm(type='text', ng-model='transaction.otherId.description', name="description", typeahead='pred for pred in transaction.getChoices() | filter:$viewValue | limitTo:8', required='')
        .input-group.col-xs-10.col-sm-8.col-md-6.col-xs-offset-1(ng-switch-default='')
          select.form-control.input-sm(ng-model='transaction.typeId.description', name="description" , ng-options='s.description as s.description for s in transaction.getChoices()', ng-change="invoice.client.watchClientCarrier(transaction);transaction.setTypeId()", required='')
    .col-xs-1.padding.text-center
      button.btn.btn-link.btn-xs(ng-click="transaction.addRemoveTax()", ng-disabled="!transaction.isValidDescAmount()")
        i.fa.fa-lg.ease-color.grow(ng-class="{'fa-plus-square text-success':!transaction.hasTax(), 'fa-minus-square text-danger':transaction.hasTax() }")
    .col-xs-1.padding.text-center
      button.btn.btn-link.btn-xs(ng-click="transaction.addRemoveSrvcCharge()", ng-disabled="!transaction.isValidDescAmount()")
        i.fa.fa-lg.ease-color.grow(ng-class="{'fa-plus-square text-success':!transaction.hasSrvcCharge(), 'fa-minus-square text-danger':transaction.hasSrvcCharge() }")
    .col-xs-1.padding.text-center
      button.btn.btn-link.btn-xs(ng-click="transaction.addRemoveSale()", ng-disabled="!transaction.isValidDescAmount()")
        i.fa.fa-lg.ease-color.grow(ng-class="{'fa-plus-square text-success':!transaction.hasSale(), 'fa-minus-square text-danger': transaction.hasSale()}")
    .col-xs-2.padding
      .input-group.col-xs-10.col-xs-ofset-1.col-sm-12.col-md-9.col-md-offset-1(name='amount')
        span.input-group-addon.hidden-xs
          i.fa.fa-dollar
        input.form-control.input-sm(ng-model='transaction.amount',  placeholder='100.00', required='', min='0.00', type="number")
  .row(ng-show="transaction.hasTax()||transaction.isOther()")
    .col-xs-3.col-sm-4.padding.text-right
      strong(ng-show="transaction.isOther()") Our Cost:
    .col-xs-3.col-sm-2.padding
      .input-group.col-xs-7.col-xs-offset-2.col-sm-12.col-md-8(name='fixed_cost', ng-show="transaction.isOther()")
        span.input-group-addon.hidden-xs.fa.fa-dollar
        input.form-control.input-sm(ng-model='transaction.otherId.fixed_cost',  placeholder='100.00', type="number")
    .col-xs-4.padding.padding-right.text-right.no-top
      strong(ng-show="transaction.hasTax()") Tax:
    .col-xs-2.padding.no-top.text-center
      div(ng-show="transaction.hasTax()")
        span(ng-show="transaction.isValidAmount('taxtotal')") +&nbsp;{{transaction.taxtotal | currency}}
        span(ng-show="!transaction.isValidAmount('taxtotal')").align-dash-short &mdash;
  .row.v-center( ng-show='transaction.hasSrvcCharge()')
    .col-xs-10.padding.padding-right.text-right.no-top
      strong Service Charge:
    .col-xs-2.padding.no-top
      .input-group.col-xs-10.col-sm-12.col-md-9.col-md-offset-1(name='servicecharge')
        span.input-group-addon.hidden-xs.fa.fa-dollar
        input.form-control.input-sm(ng-model='transaction.servicecharge',  placeholder='100.00', type="number")
  .row.v-center(ng-repeat-end, ng-show='transaction.hasSale()')
    .col-xs-10.padding.padding-right.text-right.no-top
      strong Sale:
    .col-xs-2.padding.no-top
      .input-group.col-xs-10.col-sm-12.col-md-9.col-md-offset-1(name='amtsale')
        span.input-group-addon.hidden-xs.fa.fa-dollar
        input.form-control.input-sm(ng-model='transaction.amtsale',  placeholder='100.00', type="number")
  .row.top-border
    .col-xs-3.col-md-3.col-sm-3.padding
      div(ng-hide="!(invoice.typeofpayment.length===3)")
        label.text-center.col-xs-12.col-sm-4.col-sm-offset-0.col-md-5.no-padding.top-buffer-xs.control-label(for="check_amount")
          span Check
          span.hidden-sm.hidden-xs &nbsp;Total
          span :
        .col-xs-12.col-sm-8.col-md-7.no-padding
          .input-group.col-xs-8.col-xs-offset-2.col-sm-12.col-md-11.col-lg-9.no-margin-xs(name='check_amount', ng-class='{"has-error":!invoice.isValidPayment(invoice.check_total)}')
            span.input-group-addon.fa.fa-dollar.hidden-xs
            input.form-control.input-sm(ng-model='invoice.check_total', name="amount",  placeholder='100.00', required='', min='0', type="number")
    .col-xs-3.col-md-3.col-sm-3.padding
      div(ng-hide="!invoice.hasMultiplePaymentMethods()")
        label.text-center.col-xs-12.col-sm-4.col-sm-offset-0.col-md-5.no-padding.top-buffer-xs.control-label
          span {{ (invoice.paymentInfo.Credit&&!invoice.paymentInfo.Check)||(invoice.typeofpayment.length===3) ? 'Credit' : 'Check' }}
          span.hidden-sm.hidden-xs &nbsp;Total
          span :
        .col-xs-12.col-sm-8.col-md-7.no-padding
          .input-group.col-xs-8.col-xs-offset-2.col-sm-12.col-md-11.col-lg-9.no-margin-xs(name='credit_amount', ng-class='{"has-error": !invoice.isValidPayment(invoice.credit_total)}', ng-show="(invoice.paymentInfo.Credit&&!invoice.paymentInfo.Check)||(invoice.paymentInfo.Credit&&invoice.paymentInfo.Check&&invoice.paymentInfo.Cash)")
            span.input-group-addon.fa.fa-dollar.hidden-xs
            input.form-control.input-sm(ng-model='invoice.credit_total', name="amount",  placeholder='100.00', required='', min='0', type="number")
          .input-group.col-xs-8.col-xs-offset-2.col-sm-12.col-md-11.col-lg-9.no-margin-xs(name='check_amount', ng-class='{"has-error":!invoice.isValidPayment(invoice.check_total)}', ng-show="(invoice.paymentInfo.Check&&!invoice.paymentInfo.Credit) || (invoice.paymentInfo.Check&&invoice.paymentInfo.Credit&&!invoice.paymentInfo.Cash)")
            span.input-group-addon.fa.fa-dollar.hidden-xs
            input.form-control.input-sm(ng-model='invoice.check_total', name="amount",  placeholder='100.00', required='',  min='0', type="number")
    .col-xs-3.col-sm-3.col-md-3.col-lg-3.padding
      label.text-center.col-xs-12.col-sm-4.col-lg-5.no-padding.top-buffer-xs.control-label(ng-show="invoice.hasMultiplePaymentMethods()")
        span {{ invoice.paymentInfo.Cash ? 'Cash' : 'Credit' }}
        span.hidden-sm.hidden-xs &nbsp;Total
        span :
      .col-xs-12.col-sm-1.text-center
        div(ng-show="invoice.hasMultiplePaymentMethods()", style="padding-top:4.5px;padding-bottom:4.5px;")
          span(ng-bind="(invoice.paymentInfo.Cash ? invoice.getCashTotal() : invoice.getCreditTotal()) | currency")
          span(ng-show="(invoice.paymentInfo.Cash) ? (!invoice.getCashTotal()&&(invoice.getCashTotal()!==0)) : (!invoice.getCreditTotal()&&(invoice.getCreditTotal()!==0))").align-dash-short &mdash;
    .col-xs-1.col-sm-1.col-md-1.col-lg-1.padding.text-right
      div.top-buffer-xs.bottom-buffer-xs
        strong Total:
    .col-xs-2.col-sm-2.text-center.padding
      div.top-buffer-xs.bottom-buffer-xs
        u(ng-show="invoice.isValidAmount('grandtotal')", ng-bind="(invoice.grandtotal | currency)")
        span(ng-show="!invoice.isValidAmount('grandtotal')").align-dash-short &mdash;
  .row.v-center
    .btn-group.btn-group-justified
      .btn-group(ng-repeat="(category_slug,types) in invoice.choices", ng-switch='::category_slug')
        button.btn.btn-sm.btn-default.no-padding-xs(ng-switch-when="phone-sale", type='button', ng-click='invoice.addTransaction({inventoryId:{category_slug:"phone-sale", category: "Phone Sale", icon:"fa-mobile-phone"}})')
          i.fa.fa-mobile-phone.grow-icon
          span.hidden-xs.icon-left-xs Phone Sale
        button.btn.btn-sm.btn-default.no-padding-xs(ng-switch-when="other", type='button', ng-click='invoice.addTransaction({otherId:{category_slug:"other", category: "Other", fixed_cost:0, icon:"fa-question"}})')
          i.fa.fa-question.grow-icon
          span.hidden-xs.icon-left-xs Other
        button.btn.btn-sm.btn-default.no-padding-xs(ng-switch-default='', type='button', ng-click='invoice.addTransaction({typeId:{category_slug:category_slug, category: types[0].category, icon: types[0].icon}})')
          i.fa.grow-icon(ng-class="::types[0].icon")
          span.hidden-xs.icon-left-xs(ng-bind="::types[0].category")
  .row.top-buffer-xs-sm-only
    .col-xs-8.col-sm-7.padding
      payment-method-multiple.margin-left
    .col-xs-4.col-sm-5.padding.text-right
      .padding.form-inline.margin-right
        div
          label.control-label.hidden-xs.icon-right(for="location") Location:
          select.form-control.input-sm(ng-model="invoice.store.locationId", ng-options="l.id as l.name for l in invoice.store.locations", name="location", ng-show="isAdmin()", analytics-on="change", analytics-event="Change Location", analytics-category="Invoice")
          span(ng-show="!isAdmin()", ng-bind="::invoice.store.locationInfo.name")
  .row.text-center.top-buffer-xs-sm-only
    .col-xs-12
      button.btn.btn-sm.btn-primary.margin-right(ng-click='saveInvoice(invoice)', ng-disabled="invoiceForm.$invalid || invoice.isInvalid()", type='button')
        i.fa.fa-save.grow-icon
        span.icon-left-xs Save
      button.btn.btn-sm.btn-info.margin-right(type="button", ng-show="invoice.client.isClient()", ng-disabled="invoiceForm.$invalid || invoice.isInvalid()", ng-click='smsInvoice(invoice)', analytics-on="click", analytics-event="Send Invoice SMS", analytics-category="Invoice")
        i.fa.fa-send.grow-icon.icon-right-xs
        span Send
        span.hidden-xs &#32;Receipt
      button.btn.btn-sm.btn-default.margin-right(ng-click='printInfo(invoice)', type='button', analytics-on="click", analytics-event="Print Invoice", analytics-category="Invoice")
        i.fa.fa-print.grow-icon
        span.hidden-xs.icon-left-xs Print
      button.btn.btn-sm.btn-danger.margin-right(ng-click='delInvoice(invoice)', type='button', ng-show="isAdmin()")
        i.fa.fa-trash-o.grow-icon
        span.hidden-xs.icon-left-xs Delete
      //- button.btn.btn-sm.btn-warning(ng-class="{'invisible':!showUndo(invoice)}", ng-click='undo()', type='button')
      //-   i.fa.fa-undo.grow-icon
      //-   span.icon-left.hidden-xs Undo
