div.visible-print
  .col-md-12.text-center
    h3 {{invoice.store.name}}
  table.table
    tbody
      tr
        td
          address.text-left
            span(ng-show="invoice.client.firstname || invoice.client.lastname")
              | {{invoice.client.firstname | capitalizeFirst}} {{invoice.client.lastname | capitalizeFirst}} 
              br
            span(ng-show="invoice.client.telephone")
              | {{invoice.client.telephone | tel}}
              br
            span(ng-show="invoice.client.address.formatted_address",style="white-space: pre;")
              | {{invoice.client.address.formatted_address | address}}
        td
          address.text-right
            span(ng-show="invoice.store.locationInfo.phone_number") 
              strong {{invoice.store.locationInfo.phone_number | tel}}
            span(ng-show="invoice.store.website")
              br
              | {{invoice.store.website}}
            span(ng-show="invoice.store.locationInfo.address.formatted_address", style="white-space: pre;")
              br
              | {{invoice.store.locationInfo.address.formatted_address | address}}
  .row
    .col-md-12
      h6.pull-left Order &#35;{{ invoice.invoice_number }}
        small &nbsp;&nbsp;({{invoice.user.username}})
      h6.pull-right {{ (invoice.created_date || today) | date:'MMM d, y h:mm a' }}
  .row.panel.panel-default
    .panel-heading Invoice Summary
      table.table
        thead
          tr
            th(colspan="2").text-center Details
            th.text-center Cost
            th.text-center 
              span.hidden-sm.hidden-xs Service&nbsp;
              span Charge
            th.text-center Sale
            th.text-center Tax
            th.text-right Total
        tbody
          tr(ng-repeat='transaction in invoice.transactions track by $index')
            td(ng-if="transaction.category_slug=='phone-sale'", colspan='2').text-center
              span {{transaction.inventoryId.description}}
              br
              strong IMEI:
              span {{transaction.inventoryId.imei}}
            td(ng-if="transaction.category_slug!=='phone-sale'").text-center
              span {{transaction.category}}
            td(ng-if="transaction.category_slug!=='phone-sale'").text-center
              span {{ transaction.typeId.description || transaction.otherId.description }}
            td.text-center
              span {{transaction.amount | currency}}
            td.text-center
              span(ng-show="transaction.hasSrvcCharge()") &#43;{{transaction.servicecharge | currency}}
              span(ng-show="!transaction.hasSrvcCharge()") &mdash;
            td.text-center
              span(ng-show="transaction.hasSale()") &minus;{{transaction.amtsale | currency}}
              span(ng-show="!transaction.hasSale()") &mdash;
            td.text-center
              span(ng-show="transaction.hasTax()") &#43;{{transaction.taxtotal | currency}}
              span(ng-show="!transaction.hasTax()") &mdash;
            td.text-right
              span {{transaction.total | currency}}
          tr(ng-show='invoice.hasTax()')
            td.text-right(colspan='6')
              strong Tax Total&nbsp;
              span ({{invoice.store.tax_fee}}%):
            td.text-right(colspan='1')
              | {{invoice.taxtotal | currency}}
          tr
            td
              div(ng-show="invoice.paymentInfo.Cash && invoice.hasMultiplePaymentMethods()")
                small Cash Tendered:&nbsp;&nbsp;{{invoice.getCashTotal() | currency}}
            td
              div(ng-show="invoice.paymentInfo.Credit && invoice.hasMultiplePaymentMethods()")
                small Credit Card:&nbsp;&nbsp;
                small {{ (invoice.paymentInfo.Cash ? invoice.credit_total : invoice.getCreditTotal()) | currency }}
            td
              div(ng-show="invoice.paymentInfo.Check && invoice.hasMultiplePaymentMethods()")
                small Check:&nbsp;&nbsp;{{ invoice.check_total | currency }}
            td.text-right(colspan='3')
              span ( {{ invoice.typeofpayment | formatpayment }} )&nbsp;
              strong.text-right Grand Total:
            td.text-right(colspan='1')
              strong
                u {{invoice.grandtotal | currency}}
  .well.well-sm(style="width:200px;")
    p(style="font-size:9px;")
      small
        | {{invoice.store.service_agreement}}
        br
        br
        | Thank You,
        br
        | {{invoice.store.name}}