//- .grow-icon bugs out in Chrome
.modal-header
  button.close.grow(type="button", ng-click="cancel()") &times;
  h3.modal-title Confirm Invoice
.modal-body
  div(ng-if="invoice.client.isClient()")
    .row
      .col-md-6.col-sm-7.col-xs-12.text-center-xs
        h3 {{invoice.client.firstname}} {{invoice.client.lastname}}
      .col-md-6.col-sm-5.col-xs-12.text-center-xs.text-right
        h3
          a(ng-click='goToClientPage(invoice)', analytics-on="click", analytics-category="New Invoice", analytics-event="Go To Client", analytics-label='Modal') {{invoice.client.telephone | tel}}
    .row
      .col-sm-8.col-xs-12.top-buffer
        .form-group.col-xs-7.no-padding.col-sm-offset-0.col-sm-12
          label(for="date") Next Payment Due
          .datepicker-container.hidden-xs
            datepicker.well.well-sm.text-center-xs(ng-model="invoice.client.paiduntil", min-date="minDate", analytics-on="click", analytics-category="New Invoice", analytics-event="Change Payment Due")
          .visible-xs
            .input-group
              input.form-control(ng-class="{'psuedo-input-focus':opened}", type="text", show-weeks='false', min-date="minDate", datepicker-popup='dd-MMM-yyyy', ng-click="opened = !opened", ng-model="invoice.client.paiduntil", is-open="opened", analytics-category="New Invoice", analytics-event="Change Payment Due", analytics-on="click")
              span.input-group-btn
                button.btn.btn-default(type="button", ng-click="$event.preventDefault();$event.stopPropagation();opened=!opened")
                  i.fa.fa-calendar.grow(ng-class="{'grow grow-hover-helper-icon':opened}")
      .col-sm-4.col-xs-12.top-buffer
        form(role="form", novalidate='').row
          .col-xs-5.col-sm-12
            .form-group
              label(for="carrier") Carrier
              div
                select.form-control#carrier(ng-model='invoice.client.carrier', name="carrier", ng-options='carrier.id as carrier.name for carrier in invoice.client.carriers', analytics-on="change", analytics-category="New Invoice", analytics-event="Change Carrier", analytics-label="{{invoice.client.carrier}}")
            .form-group
              label(for="plan") Plan
              .input-group.col-sm-9
                span.input-group-addon $
                input.form-control#plan( ng-model='invoice.client.plan', ng-bind name="plan", analytics-category="New Invoice", analytics-on="blur", analytics-event="Change Plan", analytics-label="{{invoice.client.plan}}")
          .col-xs-7.col-sm-12
            .form-group
              label(for="language") Language
              div
                dropdown-singleselect(size='sm', ng-model="invoice.client.language", icon="fa-language", options="invoice.client.languages", analytics-on="change", analytics-category="New Invoice", analytics-event="Change Language", analytics-label="{{invoice.client.language}}")
          .col-xs-3.col-sm-12.text-center-xs
            .form-group
              button.btn.btn-default.btn-sm.margin-top-xs(type="button", ng-model='onModalClose.printFlag', btn-checkbox='', btn-checkbox-true="true", btn-checkbox-false="false")
                i.fa.icon-right(ng-class="{'fa-square-o':!onModalClose.printFlag,'fa-check-square-o':onModalClose.printFlag}")
                i.fa.fa-print.icon-right-xs
                span.hidden-xs Print
          .col-xs-4.col-sm-12.text-center-xs
            .form-group
              button.btn.btn-info.btn-sm.margin-top-xs(type="button", ng-model='onModalClose.options.smsInvoice', btn-checkbox='', btn-checkbox-true="true", btn-checkbox-false="false", analytics-on="click", analytics-category="New Invoice", analytics-event="SMS Checkbox")
                i.fa.icon-right(ng-class="{'fa-square-o':!onModalClose.options.smsInvoice,'fa-check-square-o':onModalClose.options.smsInvoice}")
                i.fa.fa-send.icon-right-xs
                span.hidden-xs Send&#32;Receipt
  .row(ng-if="!invoice.client.isClient()")
    .hidden-xs.col-sm-7.text-center
      payment-type.margin-left(size='sm', invoice="invoice")
    .col-xs-12.col-sm-5.text-center
      button.btn.btn-default.btn-sm(type="button", ng-model='onModalClose.printFlag', btn-checkbox='', btn-checkbox-true="true", btn-checkbox-false="false", analytics-on="click", analytics-category="New Invoice", analytics-event="Print Checkbox")
        i.fa.icon-right(ng-class="{'fa-square-o':!onModalClose.printFlag,'fa-check-square-o':onModalClose.printFlag}")
        i.fa.fa-print.icon-right-xs
        span Print
  .row(ng-show="onModalClose.options.smsInvoice")
    .col-sm-12
      label(for="sms_content") Your Message:
      textarea.form-control(ng-model="invoice.invoiceSMS", name="sms_content", rows="5", analytics-on="select", analytics-category="New Invoice", analytics-event="Change SMS Content")
.modal-footer
  button.btn.btn-danger(ng-click='cancel()', type="button")
    i.fa.fa-times.icon-right
    | Cancel
  button.btn.btn-success(focus-this='true', ng-click='submit(onModalClose)', type="button", analytics-on="click", analytics-category="New Invoice", analytics-event="Confirm Invoice", analytics-label="{{ invoice.typeofpayment | formatpayment }}")
    i.fa.fa-check.icon-right
    | Confirm