.btn-group(style="padding:1px;")
   button.btn.btn-default.btn-xs(hm-tap="invoice.setSinglePaymentMethod('Credit')",hm-hold="invoice.setDoublePaymentMethod('Credit')", hm-hold-opts="{tap: false}", type="button", ng-class="{'active':invoice.paymentInfo.Credit}")
    i.fa.icon-right-xs.fa-credit-card
    | Credit
   button.btn.btn-default.btn-xs(hm-tap="invoice.setSinglePaymentMethod('Check')",hm-hold="invoice.setDoublePaymentMethod('Check')", hm-hold-opts="{tap: false}", type="button", ng-class="{'active':invoice.paymentInfo.Check}")
    i.fa.icon-right-xs.fa-ticket
    | Check
   button.btn.btn-default.btn-xs(hm-tap="invoice.setSinglePaymentMethod('Cash')",hm-hold="invoice.setDoublePaymentMethod('Cash')", hm-hold-opts="{tap: false}", type="button", ng-class="{'active':invoice.paymentInfo.Cash}")
    i.fa.icon-right-xs.fa-money
    | Cash