h1.page-header
  | Stats
.row
  .col-sm-6.col-xs-12.col-md-6.col-lg-4
    pie-chart(colorfunction="colorFunction()", piechart='piechart.day')
  .col-xs-12.col-sm-6.col-md-6.col-lg-4
    pie-chart(colorfunction="colorFunction()", piechart='piechart.week')
  .col-xs-12.hidden-sm.hidden-md.col-lg-4
    pie-chart(colorfunction="colorFunction()", piechart='piechart.month')
.row
  .col-xs-12.top-buffer
    bar-chart(colorfunction="colorFunction()", barchart='barchart')
