.hidden-print
  .page-header
    h1 Invoices
  //- .row
    //- .col-xs-12
      //- .alert.alert-dismissible(ng-class='{"alert-success":!afterMsg.error,"alert-danger":afterMsg.error}', ng-show='afterMsg.error', role="alert")
      //-   button.close.grow(type='button', ng-click='afterMsg={}')
      //-     span &times;
      //-     span.sr-only Close
      //-   span {{afterMsg.message}}
      //-     strong {{afterMsg.invoice}}
  .well.well-sm
    .row
      .col-md-3.col-xs-6.col-sm-4.col-sm-offset-2.top-buffer-xs.col-md-offset-0.text-right-md.text-center.no-padding-xs
        dropdown-multiselect(ng-model="data.filters.locs", ng-show="isAdmin()", options="data.locations", text="Locations", icon='fa-map-marker', pre-selected="data.filters.locs", size="sm")
        span(ng-show="!data.currentUser.admin") {{data.currentUser.store.locationInfo.name}}
      .col-md-3.col-md-offset-0.col-xs-6.col-sm-4.col-sm-offset-1.top-buffer-xs.text-center.no-padding-xs
        dropdown-multiselect(size="sm", pre-selected='data.filters.users', ng-model='data.filters.users', icon='fa-users', options='data.userroles', text='Users')
        //- form( ng-submit='searchInvoice(invSearch)', novalidate='', name='inv_search_form')
        //-   .input-group(ng-class="{'has-error':afterMsg.error}")
        //-     input.form-control(placeholder='1386348585644', ng-model='invSearch', name='invoiceSearch', type='search', ng-pattern='/[0-9]{13}/', required='', ng-minlength='13', ng-maxlength='13')
        //-     span.input-group-btn
        //-       button.btn.btn-md.btn-default(type="submit",ng-class="{'btn-danger':afterMsg.error}", ng-disabled='inv_search_form.$invalid')
        //-         i.fa.fa-search.grow-icon
      .col-md-4.col-sm-6.col-xs-12.top-buffer-xs.col-sm-offset-1.col-md-offset-0
        date-range-picker(dt='data.myDateRange', on-download-cb="changeDates(data)", use-download-cb="true", spin="data.promiseTracker.active()")
      .col-xs-2.col-xs-offset-0.hidden-xs.col-md-2.col-sm-offset-2.col-sm-2.col-md-offset-0.top-buffer-xs
        button.btn.btn-default.btn-sm(type='button', ng-click='printInfo()', analytics-category='Dailylog', analytics-event="Print", analytics-on="click")
          i.fa.fa-print.grow-icon
          span.hidden-xs.icon-left-xs Print
    .row(ng-cloak='')
      .col-xs-6.col-sm-3.text-center.top-buffer-xs(ng-show="(data.invoices | contains:data.filters).length")
        span
          strong Invoices:&nbsp;
          span(ng-bind="(data.invoices | contains:data.filters).length")
      .col-xs-6.col-sm-3.text-center.top-buffer-xs(ng-repeat="key in ['Total','Cash','Credit','Check']", ng-show="(data.invoices | contains:data.filters | total:key)")
        span
          strong {{key}}:&nbsp;
          span(ng-bind="(data.invoices | contains:data.filters | total:key | currency)")
      .col-xs-6.col-sm-4.text-center.top-buffer-xs(ng-repeat="s in (data.invoices | contains:data.filters) | system")
        span
          strong {{s.system}}:&nbsp;
          span(ng-bind="(s.total | currency)")
  div(ui-view='')
    div(ng-repeat='(key,val) in data.invoices | groupByInvoices:"day"', ng-cloak='')
      h3.text-center {{key | date:'fullDate'}}
      div(ng-switch='', on='(val | contains:data.filters).length>0')
        div(ng-switch-when='true')
          .row
            .col-sm-1.col-sm-offset-1.hidden-xs
              h4 Time
            .col-sm-2.col-sm-offset-1.hidden-xs.text-center
              h4 Telephone
            .col-sm-1.col-sm-offset-1.hidden-xs
              h4 Name
            .col-sm-2.col-sm-offset-1.hidden-xs.text-center
              h4 Method
            .col-xs-11.col-sm-1.text-right
              h4 Total
            .col-sm-1.hidden-xs
          div(ng-controller='viewInvoiceCtrl', ng-repeat='invoice in val | contains:data.filters track by invoice._id', ng-switch='', on="isSelected()")
            .row.top-border.border-fade(ng-class="{'select-invoice':isSelected()}", ng-click='toggleSelected()')
              .col-sm-1.padding.hidden-xs.bottom-top-buffer.padding-left
                span(ng-bind="$index+1")
              .col-sm-2.padding.hidden-xs.bottom-top-buffer
                span {{invoice.created_date | date:'shortTime'}}
              .col-xs-5.col-sm-2.text-center.bottom-top-buffer.padding
                a(ui-sref='clientinfo.detail.info({id:invoice.client._id})', stop-event='click', ng-hide="editTel") {{invoice.client.telephone | tel}}
                //- a(edit-in-place='', on-blurr="editTel=false", ng-click="!editTel && $state.go('clientinfo.detail',{telephone:invoice.telephone})", id="tel-sel-{{$index}}", input-placeholder="1234567890", value="invoice.telephone", prevent-click="!isSelected()", stop-event="click") {{invoice.telephone | tel}}
                //- input.form-control.input-sm(ng-model="invoice.telephone", edit-inline='', placeholder="7737747000", ng-show="editTel")
                //- span(ng-show='!invoice.telephone && !isSelected()') -
                //- span(ng-show="isSelected()&&!editTel", stop-event="click", ng-click="editTelephone(editTel, $index)", ng-init="editTel = !invoice.telephone").icon-left
                  i.fa.fa-pencil
              .col-xs-4.col-sm-3.text-center.bottom-top-buffer.padding
                span
                  span(ng-class='{"hidden-xs":!isSelected()}') {{invoice.client.firstname | capitalizeFirst}}&#32;
                  span {{invoice.client.lastname | capitalizeFirst }}
              .col-sm-2.padding.hidden-xs.text-center.bottom-top-buffer
                span {{invoice.typeofpayment | formatpayment }} 
              .col-xs-2.col-sm-1.padding.text-right.bottom-top-buffer
                span(ng-bind="(invoice.grandtotal | currency)")
              .col-xs-1.col-sm-1.padding.text-right.bottom-top-buffer
                button.btn.btn-link.btn-xs
                  i.fa.fa-chevron-down.base-spin(ng-class="{'spin-up':isSelected() }")
            .row.invoice-container.selected.left-border.right-border.animate-dailylog(ng-switch-when='true', stop-event='click')
              invoice
          .row.top-border
        div(ng-switch-when="false")
          h4.text-center
            strong No Invoices
    div(ng-show="data.invoices.length === 0", ng-repeat="d in data.dateRange track by $index")
      h3.text-center {{d | date:'fullDate'}}
      h4.text-center
        strong No Invoices
.visible-print(ng-include='"dailylog/templates/dailylog-print.html"')
