.row.left-border.right-border.top-border.bottom-border.selected
  div
    .col-xs-12
      button.close.close-buffer.grow(type="button", ng-click="changeState()") &times;
    .col-xs-5
      h3.visible-xs(ng-show="findinvoice.firstname") {{findinvoice.firstname[0] | capitalizeFirst}}. {{findinvoice.lastname}}
      h3.hidden-xs(ng-show="findinvoice.firstname") {{findinvoice.firstname}} {{findinvoice.lastname}}
    .col-xs-7.text-right
      h3
        a(ui-sref='clientinfo.detail.info({telephone:findinvoice.telephone})') {{findinvoice.telephone | tel}}
  div
    .invoice-container
      invoice(invoice='findinvoice', remove='deleteInvoice(findinvoice);changeState()')
