div
  .row
    h2.page-header.text-center
      | {{ data.currentUser.store.name }} Invoices&#32;
      small(style="font-size:50%")
        span (&#32;
        span(ng-repeat="s in data.filters.locs") {{s}}&#32;
        span )
  .row
    .col-xs-4
      strong Invoices: 
      | &#32;{{ (data.invoices | contains:data.filters).length }}
    .col-xs-4
      strong Total:  
      | &#32;{{ data.invoices | contains:data.filters | total:'Total' | currency }}
    .col-xs-4
      strong Cash:
      | &#32;{{ data.invoices | contains:data.filters | total:'Cash' | currency}}
    .col-xs-4
      strong Credit:
      | &#32;{{ data.invoices | contains:data.filters | total:'Credit' | currency}}
    .col-xs-4
      strong Check:
      | &#32;{{ data.invoices | contains:data.filters | total:'Check' | currency}}
    .col-xs-4(ng-repeat="s in data.invoices | contains:data.filters | system")
      strong {{s.system}}:
      | &#32;{{s.total | currency}}
  .row(ng-repeat='(key,val) in data.invoices | groupByInvoices:"day"')
    div(ng-switch='', on='(val | contains:data.filters).length>0')
      h3.text-center {{key | date:'fullDate'}}
      table.table(ng-switch-when='true')
        thead
          tr
            th  
            th Time 
            th By 
            th.text-center Telephone
            th.text-center Payment Method
            th Total 
        tbody
          tr(ng-repeat='inv in val | contains:data.filters | orderBy:created_date:false track by inv._id')
            td {{$index + 1}}
            td {{inv.created_date | date:'shortTime'}} 
            td {{inv.user.username}}
            td.text-center {{inv.client.telephone | tel}}
              span.text-center(ng-show='!inv.client.telephone') -
            td.text-center {{ inv.typeofpayment | formatpayment }} 
            td {{inv.grandtotal | currency }} 
      div(ng-switch-when='false')
        h4.text-center  No Invoices