
@media (min-width: @screen-sm-min) {
  .right-margin:nth-child(odd) {
    width:47%;
    margin-right: 5px;
  }
  .right-margin:nth-child(even) {
    width:47%;
    margin-left: 5px;
  }
}

.truncate-string {
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.margin-top-user {
  // @media only screen and (max-width : @screen-xs-max) {
    margin-top:29px;
  // }
}