.icon-sm {
  font-size:20px;
}

.top-padding-calendar {
  padding-top:10px;
}

.padding-left-right-client {
  padding-left:30px;
  padding-right:30px;
}

.selected {
  // background-color: @table-bg-accent;
  // border-left: 1px solid @table-border-color;
  // border-right: 1px solid @table-border-color;
  background-color: @well-bg;;
  border-left: 1px solid @well-border;
  border-right: 1px solid @well-border;
  // font-weight: bold;
}

.no-padding {
  padding-left:0px;
  padding-right:0px;
}

.popover {
  min-width: 300px;
}

@media only screen and (max-width : @screen-xs-max) {
  .no-padding-xs {
    .no-padding;
  }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .no-padding-sm {
    .no-padding;
  }
}

.margin-top-client-list {
  margin-top:50px;
  margin-bottom: 0px;
}

.submit-container {
  border-top: 1px solid @table-border-color;
  padding-top:20px;
  margin-top:30px;
}

.next-button-margin {
  margin-top:10px
}

.bottom-padding {
  padding-bottom:20px;
}

.day-height {
  height: 150px;
  @media only screen and (max-width : @screen-xs-max) {
    height: 75px;
  }
}

.align-button {
  margin-top:25px;
}

.padding-payments {
  padding-left:2px;
  padding-right:2px;
}

.popover-payment-day {
  vertical-align: middle;
  font-size: @font-size-small
}

.table-height {
  // @media only screen and (max-width : @screen-xs-max) {  
  //   overflow-y: visible;
  // }
  overflow-y:scroll;
  max-height:545px !important;
  display:block;
}

.top-buffer-calendar {
  margin-top:20px;
  @media only screen and (max-width : @screen-xs-max) {  
    margin-top:30px;
  }
}