<!DOCTYPE html>
<html ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle || 'Sign in'"></title>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- Bootstrap -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="public_store/assets/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="public_store/assets/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="public_store/assets/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="public_store/assets/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="public_store/assets/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="public_store/assets/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="public_store/assets/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="public_store/assets/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="public_store/assets/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="public_store/assets/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="public_store/assets/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="public_store/assets/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="public_store/assets/favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
    <base href="/">

    <!-- inject:css -->
    <!-- endinject -->

    <!--[if IE 7>
    <link rel="stylesheet" href="public_store/assets/font-awesome-ie7.min.css />
    <![endif]-->
    
    <!-- inject:js -->
    <!-- endinject -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-60722520-1', 'auto');
    </script>
  </head>
  <body>
    <chat-box ng-if="isAuthenticated()"></chat-box>
    <div snap-drawer class="hidden-print" id="sidebar-wrapper">
      <nav>
         <ul class="sidebar-nav nav" ng-show="isAuthenticated()" ng-switch on="isAdmin()">
           <li class="sidebar-brand">
             <a snap-close>
               <span>
                 {{currentUser.firstname}} {{currentUser.lastname}}
               </span>
             </a>
           </li>
          <li>
            <a ui-sref='edit({username:currentUser.username})' ui-sref-active="active" snap-close>
                <span>
                  <i class="fa fa-user icon-right"></i>
                  Profile
                </span>
            </a>
          </li>
          <li ng-switch-when="true">
            <a ui-sref="graphs" snap-close ui-sref-active="active">
              <span>
                <i class="fa fa-bar-chart-o icon-right"></i>
                Stats
              </span>
            </a>
          </li>
          <li ng-switch-when="true">
            <a ui-sref="inventory" snap-close ui-sref-active="active">
              <span>
                <i class="fa fa-list-ul icon-right"></i>
                Inventory
              </span>
            </a>
          </li>
          <li ng-switch-when="true">
            <a ui-sref="messages" snap-close ui-sref-active="active">
              <span>
                <i class="fa fa-send icon-right"></i>
                Messages
              </span>
            </a>
          </li>
          <li ng-switch-when="true">
            <a ui-sref="income({year:year})" snap-close ui-sref-active="active">
              <span>
                <i class="fa fa-money icon-right"></i>
                Income
              </span>
            </a>
          </li>
          <li ng-switch-when="true">
            <a ui-sref="config" snap-close ui-sref-active="active">
              <span>
                <i class="fa fa-gears icon-right"></i>
                Config
              </span>
            </a>
          </li>
          <li ng-switch-when="true">
            <a ui-sref="users" snap-close ui-sref-active="active">
              <span>
                <i class="fa fa-users icon-right"></i>
                Users
              </span>
            </a>
          </li>
          <li>
            <a ng-click='logout()' snap-close>
              <span>
                <i class="fa fa-sign-out icon-right"></i>
                Log out
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <snap-content id="snap-wrapper">
    <header snap-dragger ng-cloak>
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header text-center">
              <a class="navbar-brand" style="min-width:180px" ng-class="{'hidden-xs':isAuthenticated()}">
              <span ng-show="isAuthenticated()&&!pageLoad.active()">
                <!-- <i class="fa fa-chevron-right icon-right"></i> -->
                {{currentUser.store.name}}
              </span>
              <div ng-show="pageLoad.active() && isAuthenticated()" class="hidden-xs text-center"> <i class="fa fa-circle-o-notch fa-spin"></i> </div>
              </a>
              <a ng-show="isAuthenticated()" type='button' class="btn navbar-btn visible-xs pull-left" ng-class="{'active':snapActive}" ng-click="!pageLoad.active() && snapToggle('left')">
                <i ng-class="{'fa-circle-o-notch fa-spin':pageLoad.active(), 'fa-bars':!pageLoad.active() }" class="fa "></i>
              </a>
              <button type="button" class="navbar-btn navbar-right btn btn-primary visible-xs" ng-click="login()" ng-class="{'ng-hide':isAuthenticated()}"> Sign in </button>
                <a ng-init="searchCollapsed = true" type="button" ng-click="searchCollapsed = !searchCollapsed" ng-show="isAuthenticated()" class="btn navbar-btn visible-xs pull-right" ng-class="{'active':!searchCollapsed}">
                  <i class="fa" ng-class='{"fa-search-plus":searchCollapsed,"fa-search-minus":!searchCollapsed}'></i>
                </a>
              <ul class="nav navbar-xs navbar-nav" ng-show="isAuthenticated()">
                <li ui-sref-active="active">
                  <a ui-sref="payments({year:year, month:month})">
                    <span>
                      <i class="fa fa-calendar-o "></i>
                    </span>
                  </a>
                </li>
                <li ui-sref-active="active">
                  <a ui-sref="dailylog">
                    <span>
                      <i class="fa fa-book "></i>
                    </span>
                  </a>
                </li>
                <li ui-sref-active="active">
                  <a ui-sref="invoice">
                    <span>
                      <i class="fa fa-file-text-o "></i>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
              <ul class="nav navbar-nav hidden-xs" ng-show="isAuthenticated()">
                <li class="navbar-hide" ui-sref-active="active">
                  <a ui-sref="payments({year:year, month:month})">
                    <span>
                      <i class="fa fa-calendar-o "></i>
                      <span class="hidden-sm icon-left-xs"> Payments </span>
                    </span>
                  </a>
                </li>
                <li class="navbar-hide" ui-sref-active="active">
                  <a ui-sref="dailylog">
                    <span>
                      <i class="fa fa-book"></i>
                      <span class="hidden-sm icon-left-xs"> Daily Log </span>
                    </span>
                  </a>
                </li>
                <li class="navbar-hide" ui-sref-active="active">
                  <a ui-sref="invoice">
                    <span>
                      <i class="fa fa-file-text-o"></i>
                      <span class="hidden-sm icon-left-xs "> New Invoice </span>
                    </span>
                  </a>
                </li>
                <li class="dropdown" ng-if="isAdmin()">
                  <a class="dropdown-toggle">
                    <b class="fa fa-caret-down"></b>
                  </a>
                  <ul class="dropdown-menu", style="min-width:120px">
                    <li ui-sref-active="active">
                      <a ui-sref="graphs">
                        <span>
                          <i class="fa fa-bar-chart-o icon-right-xs "></i>
                          Stats
                        </span>
                      </a>
                    </li>
                    <li ui-sref-active="active">
                      <a ui-sref="inventory">
                        <span>
                          <i class="fa fa-list-ul icon-right-xs "></i>
                          Inventory
                        </span>
                      </a>
                    </li>
                    <li ui-sref-active="active">
                      <a ui-sref="messages">
                        <span>
                          <i class="fa fa-send icon-right-xs "></i>
                          Messages
                        </span>
                      </a>
                    </li>
                    <li ui-sref-active="active">
                      <a ui-sref="income({year:year})">
                        <span>
                          <i class="fa fa-money icon-right-xs "></i>
                          Income
                        </span>
                      </a>
                    </li>
                    <li ui-sref-active="active">
                      <a ui-sref="config">
                        <span>
                          <i class="fa fa-gears icon-right-xs "></i>
                          Config
                        </span>
                      </a>
                    </li>
                    <li ui-sref-active="active">
                      <a ui-sref="users">
                        <span>
                          <i class="fa fa-users icon-right-xs "></i>
                          Users
                        </span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="col-sm-4 col-md-3 col-lg-4 no-padding" id="collapse-xs" collapse="searchCollapsed">
                <form class="navbar-form" role="search" name="searchTel">
                  <div class="input-group col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0" ng-class="{'has-error':telephoneSearchError, 'has-success':telephoneSuccess}" ng-show="isAuthenticated()">
                    <input ng-model="telephoneSearch" placeholder="Search Clients" typeahead-template-url='helperDirectives/templates/typeahead-tpls/typeahead-index.html' typeahead-min-length='1' typeahead="client for client in clientsFilter({searchField:$viewValue}, 'firstname', 'lastname', 'telephone')" name="telephone" type="text" ng-minlength='10' class="form-control" typeahead-loading="loadingClients" typeahead-on-select='searchPhone($item)'>
                    <div class="input-group-btn">
                      <button class="btn btn-default" ng-class="{'btn-danger':telephoneSearchError,'btn-success':telephoneSuccess}" type="submit" >
                        <i class="fa" ng-class="{'fa-search':!loadingClients,'fa-spinner fa-spin':loadingClients}"></i>
                      </button>
                    </div>
                  </div>
                </form>
               </div>
               <ul class="nav navbar-right hidden-xs" ng-hide="isAuthenticated()">
                <button type="button" class="navbar-btn btn btn-primary" ng-click="login()"> Sign in </button>
               </ul>
               <ul class="nav navbar-right navbar-nav hidden-xs" ng-show="isAuthenticated()">
                <li class="dropdown">
                  <a class="dropdown-toggle"> 
                    <span> {{currentUser.firstname}} {{currentUser.lastname}} </span>
                    <i class="fa fa-caret-down icon-left-xs"></i> 
                  </a>
                  <ul class="dropdown-menu", style="min-width:100px;">
                    <li ui-sref-active="active">
                      <a ui-sref="edit({username:currentUser.username})" class="text-center">
                        <span> 
                          <i class="fa fa-user icon-right-xs"></i>
                          Profile 
                        </span>
                      </a>
                    </li>
                    <li>
                      <a ng-click='logout()' class="text-center">
                        <span>
                          <i class="fa fa-sign-out icon-right-xs"></i>
                          Log out
                        </span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
          </div>
        </nav>
    </header>
    <div class="container">
      <div ng-show="isAuthenticated()" ui-view="main"></div>
      <footer class="footer hidden-print">
        <div>
          <div class="footer-inner">
            <div class="col-xs-5">
                <a href="http://cellbetter.com" target="_blank">
                  <img class="img-responsive" style="height:40px" src="public_store/assets/cellbetterfinal-horizontal-01.svg">
                </img>
                </a>
            </div>
            <div class="col-xs-7 text-right top-buffer-xs">
              <p>
                <small>
                  <span ng-click="printCCForm()" class="btn-link" ng-show="isAuthenticated()">
                    <span class="hidden-xs">Credit Card</span> Form
                  </span>
                  <span ng-show="isAuthenticated()"> | </span>
                  &copy; 2015 Cell Better, Inc.
                </small>
              </p>
            </div>
           </div>
        </div>
      </footer>
  </div>
  </snap-content>
    <script>
      localStorage.clear();
      deferredBootstrapper.bootstrap({
        element:document,
        module:'cellbetter-store',
        moduleResolves: [
          {
            module:'constants',
            resolve: {
              STORE: ['$http', function ($http) {
                var a = document.createElement('a');
                a.href = document.URL;
                var path = a.pathname.split('/')[1];
                var url = '/api/v1/stores/' + path;
                return $http.get(url,{cache:false}).success(function (store) {
                  store.storePrefix = '/api/v1/stores/'+store._id;
                  return store;
                }, function (err) {
                  alert("No such store");
                });
              }]
            }
          }
        ],
        onError: function (err) {
          alert("No such store");
        }
      });
    </script>
</html>
