.modal-header
  button.close.grow(type="button", ng-click="cancel()") &times;
  h3.modal-title Add new phone to inventory
.modal-body
  form(novalidate='', name='form')
    //- input.form-control(type='text', typeahead='invoice.client.lastname for client in clientsFilter({lastname:$viewValue})', typeahead-loading="loadingClientsName", ng-model='invoice.client.lastname', placeholder='Lastname', capitalize-first='', typeahead-on-select='invoice.addClient($item)', typeahead-template-url='helperDirectives/templates/typeahead-tpls/nameitem.html')
    .row
      .form-group.col-md-6.col-xs-7(ng-class='{"has-error":form.description.$dirty && form.description.$invalid && !form.description.$focused}')
        label.control-label(for='name') Phone Name
        input.form-control(ng-enter='(form.$valid && !phone.isValid()) && submit(phone)', typeahead="i for i in phone.$predictPhoneNames($viewValue)", typeahead-on-select="phone.cloneInfo($item)", focus-this='true', name='description', type='text', placeholder='iPhone 5', ng-model='phone.description', required='')
        div(ng-show='form.description.$dirty && form.description.$invalid && !form.description.$focused')
          span.help-block(ng-show='form.description.$error.required') Please enter a phone name.
    .row
      .form-group.col-md-6.col-xs-7(ng-class='{"has-error":form.imei.$dirty && form.imei.$invalid && !form.imei.$focused}')
        label.control-label(for='imei') IMEI
        input.form-control(ng-enter='(form.$valid && phone.isValid()) && submit(phone)', 
 placeholder='501754275110134', name='imei', ng-model='phone.imei', required='')
        div(ng-show='form.imei.$dirty && form.imei.$invalid && !form.imei.$focused')
          span.help-block(ng-show='form.imei.$error.required') Please enter an IMEI number.
    .row
      .form-group.col-md-3.col-xs-6
        label.control-label(for="location") Location
        select.form-control(ng-model="phone.store.locationId", ng-options="l.id as l.name for l in phone.store.locations", name="location", required='')
    .row
      .form-group.col-md-12(ng-class='{"has-error":form.fixed_cost.$dirty && form.fixed_cost.$invalid && !form.fixed_cost.$focused}')
        label.control-label(for='fixed_cost') Cost
        .input-group.col-xs-4.col-sm-2
          span.input-group-addon.fa.fa-dollar
          input.form-control(ng-enter='(form.$valid && phone.isValid()) && submit(phone)', 
 placeholder='50', name='fixed_cost', ng-model='phone.fixed_cost', required='', type="number")
        div(ng-show='form.fixed_cost.$dirty && form.fixed_cost.$invalid && !form.fixed_cost.$focused')
          span.help-block(ng-show='form.fixed_cost.$error.required') Please enter the cost of the phone.
    .row
      .form-group.col-md-12(ng-class='{"has-error":form.amount.$dirty && form.amount.$invalid && !form.amount.$focused}')
        label.control-label(for='amount') Price
        .input-group.col-xs-4.col-sm-2
          span.input-group-addon.fa.fa-dollar
          input.form-control(ng-enter='(form.$valid && phone.isValid()) && submit(phone)', 
 placeholder='150', name='amount', ng-model='phone.amount', required='', type="number")
        div(ng-show='form.amount.$dirty && form.amount.$invalid && !form.amount.$focused')
          span.help-block(ng-show='form.amount.$error.required') Please enter a price.
.modal-footer
  button.btn.btn-danger(ng-click='cancel()', type="button")
    i.fa.fa-times.icon-right.grow-icon
    | Cancel
  button.btn.btn-success(ng-click='submit(phone)', ng-disabled='form.$invalid && !phone.isValid()', type="button")
    i.fa.fa-check.icon-right.grow-icon
    | Add Phone