
.slide-down, .slide-down.ng-hide-remove {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 50px;
  opacity: 1;
}

.slide-down.ng-hide, .slide-down.ng-hide-add {
  height: 0px;
  opacity: 0;
}

.align-information-dash {
  margin-left: 39px;
}

@media only screen and (max-width : @screen-xs-max) {
  .align-information-dash {
    margin-left:-20px;
  }
}

.align-dash-long {
  margin-left: 30px;
}

.align-dash-short {
  margin-right:7px;
}

@media only screen and (max-width : @screen-xs-max) {
  h5.margin-xs {
    margin-top: 20.5px;
    margin-bottom: 20.5px;
  }
  .no-padding-xs {
    padding-right: 0px;
    padding-left: 0px;
  }
  .margin-top-xs {
    margin-top: 22px;
  }
}

.datepicker-container {
  display:inline-block;
  min-height:290px;
}

.client-information-container {
  border-bottom: 1px solid @table-border-color;
  padding-bottom:20px;
}

@media only screen and (min-width : @screen-xs-max) {
  .message-margin {
    margin-right:15px;
    margin-left: 15px;
  }
}