form(name='form', novalidate='', role="form")
  .modal-header
    button.close.grow(type="button", ng-click='cancelLogin()') &times;
    h4.modal-title Sign in
  .modal-body
    .form-group.col-xs-12
      .alert.alert-warning.alert-dismissable(ng-show='authReason')
        button.close.grow(type="button", ng-click='authReason=""') &times;
        | {{authReason}}
      .alert.alert-danger.alert-dismissable(ng-show='authError')
        button.close.grow(type="button", ng-click='authError=""') &times;
        | {{authError}}       
    .row
      .form-group.col-xs-12
        label(for='username') Username
        .input-group
          .input-group-addon
            i.fa.fa-user
          input.form-control(name='login', id='username', type='text', placeholder='Username', ng-model='user.username', required='', autofocus='')
    .row
      .form-group.col-xs-12
        label(for='inputPassword') Password
        .input-group
          .input-group-addon
            i.fa.fa-key
          input.form-control(id='inputPassword', type='password', name='pass', ng-model='user.password', placeholder='Password', required='')
      .form-group.col-xs-12
        button.btn.btn-default.btn-sm(type='button', ng-model='user.rememberme', btn-checkbox btn-checkbox-true="true", btn-checkbox-false="false")
          i.fa.icon-right(ng-class="{'fa-square-o':!user.rememberme,'fa-check-square-o':user.rememberme}")
          | Remember me
  .modal-footer
    button.btn.btn-primary(ng-click='login(user)', ng-disabled='form.$invalid')
      i.fa.fa-sign-in.icon-right.grow-icon
      span Sign in
    button.btn.btn-danger(ng-click='cancelLogin()')
      i.fa.fa-times.grow-icon.icon-right
      span Cancel