.row.chat-window.col-xs-12.col-lg-3.col-md-4.col-sm-6.hidden-print
  .col-xs-12.col-md-12
    .panel
      .panel-heading.chat-top-bar(ng-click='chat.toggle()')
        .col-md-8.col-xs-8
          h3.panel-title
            icon.fa.fa-comments.icon-right-xs
            span Chat
            span(ng-show="(chat.unreadMessages > 0) && chat.isHidden") &nbsp;({{chat.unreadMessages}})
        .col-md-4.col-xs-4(style='text-align: right;')
          span.fa.icon-minum(ng-class='chat.isHidden ? "fa-plus" : "fa-minus"')
      .panel-body.msg-container-base(ng-hide="chat.isHidden", scroll-glue='', when-scrolled="chat.getMoreMessages()")
        .row.msg-container(ng-show="chat.isLoadingMessagesTracker.active()")
          .col-xs-12.text-center
            icon.fa.fa-spinner.fa-spin
        div(ng-repeat='message in chat.messages | orderBy:"created_date":false', ng-switch='', on='message.type')
          .row.msg-container(ng-class="chat.selfAuthored(message) ? 'chat-msg-sent' : 'chat-msg-receive'", ng-switch-when='message')
            .col-xs-2.col-sm-3.profile(ng-class="{'col-xs-push-10 col-sm-push-9':chat.selfAuthored(message)}")
              img(ng-src="{{message.user.thumbnailChat}}")
            .col-xs-10.col-sm-9.chat-msg-container(ng-class="{'col-sm-pull-3 col-xs-pull-2':chat.selfAuthored(message)}")
              .chat-msg
                p
                  strong.name {{message.user.name}}:
                  span.message {{message.content}}
                span.date(am-time-ago="message.created_date")
          .row.msg-container(ng-switch-when='notification')
            .col-xs-12.text-center
              strong.typing {{ message.content }}
        .row
          .col-xs-12
            span.typing {{chat.typingMessage}}
      .panel-footer(ng-hide="chat.isHidden")
        form(style='display:inherit', ng-submit='chat.sendMessage()')
          .input-group
            input.form-control.input-sm(type='text', placeholder='Write your message here...', ng-model='chat.content', ng-keyup="chat.updateTyping()")
            span.input-group-btn
              button.btn.btn-sm.btn-info(type='submit', ng-disabled="!chat.isValidContent()")
                i.fa.fa-send.grow-icon
                span.icon-left-xs Send
