
.chat-window {
  bottom: 0;
  float: right;
  margin-left: 10px;
  position: fixed;
  right: 0;
  z-index: 9999;

  .panel {
    border: 0;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0;
    .panel-body, .panel-footer {
      border-left: 2px solid @navbar-default-bg;
      border-right: 2px solid @navbar-default-bg;
    }
  }
}

// Chat Top Bar Class
.chat-top-bar {
  background: @navbar-default-bg;
  color: @navbar-default-color;
  overflow: hidden;
  padding: 10px;
  position: relative;

  .icon-minim {
    padding: 2px 10px;
  }
}

// Chat Container Class
.msg-container-base {
  background: @btn-default-bg;
  margin: 0;
  max-height: 300px;
  overflow-x: hidden;
  padding: 0 10px 0px;

  &::-webkit-scrollbar-track {
    background-color: @panel-footer-bg;
  }

  .msg-container {
    display: flex;
    overflow: hidden;
    padding: 10px;

    .profile {
      padding-left:0px;
      padding-right:0px;
      text-align: center;
      img {
        max-height: 56px;
        border-radius: 50%;
      }
    }
  }

}

.chat-msg-sent {
  .chat-msg:before {
    right:-9px;
    border-width: 15px 15px 0px 0px;
    border-color:white transparent transparent transparent;
  }
}

.chat-msg-receive {
  .chat-msg:before {
    left:-9px;
    border-width: 0px 15px 15px 0;
    border-color: transparent white transparent transparent;
  }
}

.date, .typing {
  color: @gray-light;
  font-size: 75%;
  text-align: left;
  margin-left:6px;
}


.chat-msg-container {
  padding-left:5px;
  padding-right:5px;

  // Chat Message Class
  .chat-msg {
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    max-width: 100%;
    padding: 10px;
  
    &:before {
      content:'';
      position: absolute;
      top:0px;
      border-style: solid;
      -webkit-filter: drop-shadow(0px 1px 0px rgba(0,0,0,0.2));
    }

    p {
      font-size: @font-size-small;
      margin: 0 0 .2rem;
      word-wrap: break-word;
      .name {
        font-weight: bold;
        display:block;
      }
      .message {
        margin-left:5px;
        display:block;
      }
    }

  }

}

.input-sm {
  height:36px;
}
