div
  .row.well.well-sm
    div
      .col-xs-2.top-buffer-calendar
        a.button.btn.btn-link.btn-xs(ng-click="PaymentDay.changeDay(-1)", tooltip-placement="right", tooltip="{{PaymentDay.leftTooltip | date:'EEE MMM d'}}", tooltip-append-to-body='true')
          i.fa.fa-lg.fa-chevron-left
      .col-xs-8.text-center
        h2
          span.hidden-xs(ng-bind="::PaymentDay.day | date:'fullDate'")
          span.visible-xs-inline(ng-bind="::PaymentDay.day | date:'MMM d, yyyy'")
          a.button.btn.btn-xs.btn-link(ui-sref="payments({year:$state.prevParams.year, month:$state.prevParams.month})", tooltip-placement="bottom", tooltip="{{$state.prevParams.month | date:'MMMM'}}", tooltip-append-to-body='true')
            i.fa.fa-calendar.icon-sm
          span.label.popover-payment-day.icon-left(popover-template="PaymentDay.note.paymentsDayTemplateUrl", popover-toggle="PaymentDay.note.isOpen", ng-click="PaymentDay.note.showPopover()", ng-class="{'label-primary bold':PaymentDay.note.isOpen, 'label-info':(PaymentDay.note.hasNote()&&!PaymentDay.note.isOpen), 'label-default':(!PaymentDay.note.isOpen && !PaymentDay.note.hasNote()) }", popover-placement="bottom") {{ PaymentDay.note.text }}
          h6.visible-xs
            span (
            span(ng-bind="::PaymentDay.day | date:'EEEE'")
            span )
      .col-xs-2.top-buffer-calendar.text-right
        a.button.btn.btn-link.btn-xs(ng-click='PaymentDay.changeDay(1)', tooltip-placement="left", tooltip="{{PaymentDay.rightTooltip | date:'EEE MMM d'}}", tooltip-append-to-body='true')
          i.fa.fa-lg.fa-chevron-right
  .row.well.well-sm.ng-hide
    .col-xs-6
      h4 Reminders
    .col-xs-6 
      a.button.btn.btn-link.btn-xs
        i.fa.fa-lg.fa-plus
  .row
    ul.nav.nav-tabs(role="tablist")
      li.col-xs-4.text-center.padding-payments(ng-class="{'active':$state.is('payments.day.none.client')}")
        a(ui-sref="payments.day.none.client({id:PaymentDay.prevParams['payments.day.none.client']})", ui-sref-opts="{reload: false}") Upcoming Payments (
          span(ng-bind="::PaymentDay.filteredClients['none'].length")
          span )
      li.col-xs-4.text-center.padding-payments(ng-class="{'active':$state.is('payments.day.creditcard.client')}")
        a(ui-sref="payments.day.creditcard.client({id:PaymentDay.prevParams['payments.day.creditcard.client']})") Recurring Payments (
          span(ng-bind="::PaymentDay.filteredClients['creditcard'].length")
          span )
      li.col-xs-4.text-center.padding-payments(ng-class="{'active':$state.is('payments.day.prepaid.client')}")
        a(ui-sref="payments.day.prepaid.client({id:PaymentDay.prevParams['payments.day.prepaid.client']})", ui-sref-opts="{reload: false}") Prepaid Payments (
          span(ng-bind="::PaymentDay.filteredClients['prepaid'].length")
          span )
  .row
    .col-xs-12.col-sm-5.col-md-5.well.margin-top-client-list(style="background-color:white")
      .row(ng-click="(isCollapsed = !isCollapsed)")
        .col-xs-12
          h4.margin-left(ng-class="{'bold':(PaymentDay.clients.length>0)}")
            span.hidden-sm {{PaymentDay.clients.length}}
            span &#32;{{$state.current.data.header}}
            button.btn.btn-link.btn-xs.pull-right
              i.fa.fa-chevron-down.base-spin(ng-class="{'spin-up':isCollapsedFunc(), 'fa-chevron-down base-spin':PaymentDay.clients.length, 'text-info fa-minus':!PaymentDay.clients.length  }")
      div(collapse="!isCollapsedFunc()")
        .col-xs-12.top-buffer
          .col-xs-3.col-xs-offset-1.col-sm-4.col-sm-offset-2.col-md-3.col-md-offset-3
            buttton.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click="sort('display');displayicon=false", ng-mouseenter='(displayicon = true)', ng-mouseleave='displayicon = false', name="display")
              label.control-label.icon-right-xs Name
              i.fa.fa-lg(ng-class='{"fa-sort-up": (isSortUp("display") || displayicon), "fa-sort-desc":isSortDown("display")}')
          .col-xs-3.col-xs-offset-2.col-sm-2.col-md-3.text-center.col-md-offset-1.col-lg-offset-1.hidden-sm
            button.btn.btn-link.btn-link-default.btn-xs(type="button", ng-click="sort('plan');planicon=false", ng-mouseenter='(planicon = true)', ng-mouseleave='planicon = false', name="plan")
              label.control-label.icon-right-xs Plan
              i.fa.fa-lg(ng-class='{"fa-sort-up": (isSortUp("plan") || planicon), "fa-sort-desc":isSortDown("plan")}')
        .col-xs-12.top-buffer-xs.table-height
          .col-xs-12.top-border.padding.border-fade(ng-repeat='client in PaymentDay.clients track by client._id', ng-click='PaymentDay.changeClient(client)', ng-class='{"selected bold":($stateParams.id===client._id), "bottom-border":$last}')
            .hidden-xs.hidden-sm.col-xs-1.col-md-1
              span {{$index+1}}
            .col-xs-6.col-md-6.col-sm-9.no-padding-sm.text-center.top-buffer-xs-only
              a(ui-sref='clientinfo.detail.info({id:client._id})', ng-bind="::client.display")
            .col-xs-3.col-md-3.text-center.top-buffer-xs-only.hidden-sm
              span(ng-bind="::client.plan | currency")
            .col-xs-2.col-sm-3.col-md-1.col-lg-2.text-center.top-buffer-xs-only
              i.fa.icon-right(ng-class="{'fa-check-square-o':client.messageSent(),'fa-square-o':!client.messageSent()}")
        .col-xs-12.top-buffer.text-right(ng-show="!$state.is('payments.day.creditcard.client')")
          button.btn.btn-sm.btn-info(ng-click='PaymentDay.sendSMSToAll()')
            i.fa.fa-send.icon-right-xs.grow-icon
            | Send to All
    .col-xs-12.col-sm-7.col-md-7.padding-left-right-client
      div(ui-view='')
