div
  form(role="form", novalidate='')
    .form-group
      textarea.form-control(rows="6", ng-model='PaymentDay.setclient.message', required='', capitalize-first='')
  .row
    .col-xs-8
      dropdown-singleselect(size='sm', ng-model="PaymentDay.setclient.language", icon="fa-language", options="PaymentDay.setclient.languages")
      //- select.form-control( ng-options='l.id as l.name for l in languages', ng-model='msg.language')
     .col-xs-4.text-right
       button.btn.btn-sm.btn-info(ng-click='sendSMS(PaymentDay.setclient)')
         i.fa.fa-send.icon-right-xs.grow-icon
         | Send