div(ui-view='')
  .row.well.well-sm.no-padding-xs(style="margin-bottom:0px;border-bottom:0px;")
    div
      .col-xs-2.top-buffer
        a.button.btn.btn-link.btn-xs(ng-click="calendar.move(-1)", tooltip-placement="right", tooltip="{{calendar.leftTooltip | date:'MMM yyyy'}}", tooltip-append-to-body='true')
          i.fa.fa-lg.fa-chevron-left
      .col-xs-8.text-center
        h2.hidden-xs {{calendar.activeDate | date:'MMMM yyyy' }}
        h2.visible-xs {{calendar.activeDate | date:'MMM yyyy' }}
      .col-xs-2.text-right.top-buffer
        a.button.btn.btn-link.btn-xs(ng-click="calendar.move(1, calendar.activeDate)", tooltip-placement="left", tooltip="{{calendar.rightTooltip | date:'MMM yyyy'}}", tooltip-append-to-body='true')
          i.fa.fa-lg.fa-chevron-right
    .col-xs-12.no-padding
      .col-xs-4-6.text-center.no-padding-xs.no-padding-sm(ng-repeat="label in calendar.rows[0] track by $index")
        h4
          span.hidden-xs.hidden-sm {{label.date | date:'EEEE'}}
          span.visible-xs.visible-sm {{label.date | date:'EEE'}}
  .row(ng-repeat="row in calendar.rows track by $index")
    .col-xs-4-6.left-border.right-border.bottom-border.top-border.border-fade.day-height.text-link(ng-repeat="day in row track by $index")
      .vertical-align
        .bottom-buffer-sm.text-center-xs.text-center-sm(ng-class="{'text-info':day.isToday()}")
          em(ng-class="{'line-through':day.isPast()}", ng-click="day.goPaymentsDay('creditcard')") {{ day.date | date:'dd' }}
          span.label.pull-right.hidden-xs(popover-template="day.note.popoverTemplateUrl", popover-toggle="day.note.isOpen", style="margin-top:3px", ng-click="day.note.showPopover()", ng-class="{'label-primary bold':day.note.isOpen, 'label-info':(day.note.hasNote()&&!day.note.isOpen), 'label-default':(!day.note.isOpen && !day.note.hasNote()) }") {{ day.note.text }}
        .text-center.hidden-xs.hidden-sm(ng-click="day.goPaymentsDay('prepaid')")
          span {{ day.prepaid_payments }} Prepaid
        .text-center.hidden-xs.hidden-sm(ng-click="day.goPaymentsDay('creditcard')")
          span {{ day.creditcard_payments }} Recurring
        .text-center.hidden-xs.hidden-sm(ng-click="day.goPaymentsDay('none')")
          span {{ day.none_payments }} Upcoming

