h3.popover-title {{PaymentDay.note.paymentsPopoverTitle}}
  icon.fa.fa-close.pull-right(ng-click="PaymentDay.note.showPopover()")
.popover-content
  textarea.form-control#notes(rows='5', name="notes", placeholder="{{'Please input some notes for ' + PaymentDay.note.paymentsPopoverTitle }}" ng-model="PaymentDay.note.content", ng-keypress="($event.which === 13)?PaymentDay.note.showPopover():0")