h3.popover-title {{day.note.paymentsPopoverTitle}}
  icon.fa.fa-close.pull-right(ng-click="day.note.showPopover()")
.popover-content
  textarea.form-control#notes(rows='5', name="notes", placeholder="{{'Please input some notes for ' + day.note.paymentsPopoverTitle }}" ng-model="day.note.content", ng-keypress="($event.which === 13)?day.note.showPopover():0")