.modal-header
  button.close.grow(type="button", ng-click="cancel()") &times;
  h3.modal-title Crop your new profile picture
.modal-body
  form(name="profile-picture", novalidate='')
    .profile-picture-cropper
      img-crop(image="dataUrls", area-type="square", change-on-fly="true",result-image="myCroppedImage", result-image-size="240")
.modal-footer
  button.btn.btn-danger(ng-click='cancel()')
    i.fa.fa-times.icon-right.grow-icon
    | Cancel
  button.btn.btn-success(ng-click='submit(myCroppedImage)')
    i.fa.fa-check.icon-right.grow-icon
    span Set
    span.hidden-xs &nbsp;Profile Picture
