.upload-div
  .drop-box(ng-show='dropSupported',accept="image/*", ng-file-drop='onFileSelect($files)', ng-file-drop-available='dropSupported=true')
    span(ng-if='!user.thumbnail')  Drop file here 
    img.img-rounded(ng-src='{{user.thumbnail}}', alt='')
  input.top-buffer(ng-model='myModel', accept="image/*", ng-multiple="false", resetOnClick="true" , type='file', ng-file-select='onFileSelect($files)')
  .error-file-upload
    .alert.alert-danger(ng-show='error')
      button.close.grow(type='button', ng-click='error=""') &times;
      | {{error}}
