

.upload-div {
  text-align: center;
}

.sel-file {
  padding: 1px 5px;
  font-size: smaller;
  color: grey;
  text-align: center;
}

.response {
  padding-top: 30px;
}

.response>ul {
  list-style-type: decimal;
}

.response li, .response .reqh {
  color: blue;
  font-size: smaller;
  padding-bottom: 5px; 
}

.progress {
  display: inline-block;
  width: 100px;  
  border: 3px groove #CCC;
}

.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}

.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 250px;
  height: 250px; 
  text-align: center;
}

.drop-box.dragover {
  border: 5px dashed blue;
}

/* for IE*/
.js-fileapi-wrapper {
  display: inline-block;
  vertical-align: middle;  
}

// button {
//   padding: 1px 5px;
//   font-size: smaller;
//   margin: 0 3px; 
// }

.ng-v {
  float: right;
}

.sel-file img {
  float: left;
  width: 18px;
  height: 18px;
  padding-right: 10px;
  text-align: center;
}

.sub {
  font-size: smaller;
  color: #777;
  padding-top: 5px;
  padding-left: 10px;
}

.profile-picture-cropper {
  overflow:hidden;
  margin: 0 auto;
  max-width: 400px;
  height:400px;
}

#cropped-image{
  height:150px;
  width:150px;
  overflow:hidden;
}

.error-file-upload {
  margin-top:15px;
}
