.row
  form(name='form', role="form", novalidate='')
    .well
      .row
        .col-sm-12
          legend {{user.username}}
        .col-xs-12.col-sm-6
          .form-group.col-xs-12(ng-class='{"has-error":form.email.$dirty && form.email.$invalid && !form.email.$focused}')
            label(for='email')
              strong E-mail
            .input-group
              input.form-control#email(type='email', name='email', ng-model='user.email', required='')
            div(ng-show='form.email.$dirty && form.email.$invalid && !form.email.$focused')
              span.help-block(ng-show='form.email.$error.required') Please enter your email.
              span.help-block(ng-show='form.email.$error.email') This is not a valid email.
              span.help-block(ng-show='form.email.$error.checkingEmail') Checking email...
              span.help-block(ng-show='form.email.$error.emailAvailable') Email not available
          .form-group.col-xs-12(ng-class='{"has-error":form.firstname.$dirty && form.firstname.$invalid && !form.firstname.$focused}')
            label(for='firstname')
              strong First Name
            .input-group
              input.form-control#firstname(type='text', name='firstname', ng-model='user.firstname', required='')
            div(ng-show='form.firstname.$dirty && form.firstname.$invalid && !form.firstname.$focused')
              span.help-block(ng-show='form.firstname.$error.required') Please enter your first name.
          .form-group.col-xs-12(ng-class='{"has-error":form.lastname.$dirty && form.lastname.$invalid && !form.lastname.$focused}')
            label(for='lastname')
              strong Last Name
            .input-group
              input.form-control#lastname(type='text', name='lastname', ng-model='user.lastname', required='')
            div(ng-show='form.lastname.$dirty && form.lastname.$invalid && !form.lastname.$focused')
              span.help-block(ng-show='form.lastname.$error.required') Please enter your last name.
          .form-group.col-sm-12.col-xs-6(ng-class='{"has-error":form.location.$error.required && !form.location.$focused}')
            label
              strong Location
            .input-group
              select.form-control(name='location', ng-model='user.store.locationId', ng-options='t.id as t.name for t in user.store.locations', required='')  
            div(ng-show='form.location.$dirty && form.location.$invalid && !form.location.$focused')
              span.help-block(ng-show='form.location.$error.required') This is a required field
          div
            .form-group.col-xs-7.col-sm-5
              .input-group
                button.btn.btn-default.btn-xs(type="button", ng-model='user.changepassword', btn-checkbox='', btn-checkbox-true="true", btn-checkbox-false="false")
                  i.fa.icon-right-xs.grow-icon(ng-class='{"fa-unlock":user.changepassword,"fa-lock":!user.changepassword}')
                  span Change Password
            .form-group.col-xs-5(ng-if='isAdmin()')
              .input-group
                button.btn.btn-default.btn-xs(type="button", ng-if="(user.username != currentUser.username)" , ng-model="user.admin", btn-checkbox='', btn-checkbox-true="true", btn-checkbox-false="false")
                  i.fa.icon-right-xs(ng-class="{'fa-square-o':!user.admin,'fa-check-square-o':user.admin}")
                  span Admin
                  i.fa.fa-wrench.icon-left-xs
                span(ng-if="user.username == currentUser.username") Admin
                  i.fa.fa-wrench.icon-left-xs
          div(ng-show="user.changepassword")
            .form-group.col-xs-12(ng-class='{"has-error":form.password.$error.required && !form.password.$focused}')
              label(for='password')
                strong Password
              .input-group
                input.form-control#password(type='password', name='password', ng-model='user.password')
              div(ng-show='form.password.$dirty && form.password.$invalid && !form.password.$focused')
                span.help-block(ng-show='form.password.$error.required') Please enter your password.
            .form-group.col-xs-12(ng-class='{"has-error":(form.passwordRepeat.$error.required || form.passwordRepeat.$error.equal)}')
              label(for='passwordRepeat')
                strong Password (repeat)
              .input-group
                input.form-control#passwordRepeat(type='password', name='passwordRepeat', ng-model='password', validate-equals='user.password')
              div(ng-show='form.passwordRepeat.$dirty && form.passwordRepeat.$invalid && !form.passwordRepeat.$focused')
                span.help-block(ng-show='form.passwordRepeat.$error.required') This is a required field
                span.help-block(ng-show='form.passwordRepeat.$error.equal') Passwords do not match.
        .col-xs-12.col-sm-6
          .form-group.col-xs-12
            label(for='username')
              strong Profile Picture
            file-upload
      .row.top-buffer
        .col-xs-12
          .form-group.text-center-xs
            button.btn.btn-primary(ng-click='saveUser(user)', ng-disabled='form.$invalid')
              i.fa.fa-save.icon-right.grow-icon
              | Save
            button.btn.btn-danger(ng-click='goBack($state)')
              i.fa.fa-times.icon-right.grow-icon
              | Cancel
