div(ui-view='main')
  .row.page-header
    .col-xs-7
      h1 Stores
    .col-xs-5.text-right.top-buffer-md
      button.btn.btn-primary.btn-sm(type="button", ui-sref="newstore")
        i.fa.fa-plus.icon-right-xs.grow-icon-xs
        span New Store
  .row
    .well.col-xs-2.text-center(ng-repeat="store in stores")
      a(ui-sref="store({id:store._id})") {{ store.name }}
