div.visible-print.row
  .col-md-12.text-center
    h2 {{store.name}}
    address(style="white-space: pre;")
      span(style="text-align:left") {{store.locationInfo.address.formatted_address | address}}
  .col-md-12.text-center
    h4 Recurring Payment Authorization Form
  .col-md-12
    p Schedule your payment to be automatically deducted from your Visa or MasterCard.  Just complete and sign this form to get started!
  .col-md-12
    strong Recurring Payments Will Make Your Life Easier:
    ol
      li It's conveniant (saving you time and postage)
      li Your payment is always on time (even if you're out of town, eliminating late charges)
  .col-md-12
    strong Here's How Recurring Payments Work:
    br
    | You authorize regularly scheduled charges to your credit card.  You will be charged the amount indicated below each billing period.  You agree that no prior-notification will be provided unless the date or amount changes, in which case you will receive notice from us at least 10 days prior to the payment being collected.
  .col-md-12.top-buffer.bottom-buffer-sm
    strong Please complete the information below:
    br
    | I __________________________ authorize {{store.name}} to charge my credit card indicated below for $ ____ for payment of my phone bill.
  .col-xs-6
    p Billing Address:  _____________________________
    p City, State, Zip:  _____________________________
    p Phone Number #1:  _____________________________
  .col-xs-6
    p Phone Number #2:  _____________________________
    p Phone Number #3:  _____________________________
    p Phone Number #4:  _____________________________
  .col-xs-7.top-buffer
    strong Credit Card Information:
    br
    .col-xs-12
      p Card (circle one):  Visa      MasterCard      Amex      Discover
    .col-xs-12
      p Cardholder Name:  _____________________________
    .col-xs-12
      p Account Number:  _____________________________
    .col-xs-12
      p Exp. Date: _______ / _______
    .col-xs-12
      p CVV (3 digit number on back of card) ________
  .col-xs-5.top-buffer
    .col-xs-12.top-buffer
      p Signature:  ______________________
    .col-xs-12.top-buffer.bottom-buffer
      p Date:  _______ / _______ / _______
    .col-xs-12.bottom-buffer
      p Amount:  $ ________
  .col-xs-12.top-buffer
    .well.well-sm
      p(style="font-size:9px;")
        small I understand that this authorization will remain in effect until I cancel it in writing, and I agree to notify {{store.name}} in writing of any changes in my account information or termination of this authorization at least 15 days prior to the next billing date. If the above noted payment dates fall on a weekend or holiday, I understand that the payments may be executed on the next business day. For ACH debits to my checking/savings account, I understand that because these are electronic transactions, these funds may be withdrawn from my account as soon as the above noted periodic transaction dates. In the case of an ACH Transaction being rejected for Non Sufficient Funds (NSF) I understand that {{store.name}} may at its discretion attempt to process the charge again within 30 days, and agree to an additional service charge for each attempt returned NSF which will be initiated as a separate transaction from the authorized recurring payment. I acknowledge that the origination of ACH transactions to my account must comply with the provisions of U.S. law.  I certify that I am an authorized user of this credit card/bank account and will not dispute these scheduled transactions with my bank or credit card company; so long as the transactions correspond to the terms indicated in this authorization form. 
