
@media only screen and (max-width : @screen-xs-max) {
  .small-padding-xs {
    padding-left:5px;
    padding-right: 5px;
  }
}

.amt-padding {
  padding-left:10px;
  padding-right:10px;
}

.phone-padding-left {
  padding-left: 10px;
}
.phone-padding-right {
  padding-right: 10px;
}

.header-margin {
  margin-top: 35px;
}