.row.top-buffer
  .col-sm-6.col-xs-12
    form.form-horizontal(role="form")
      .row
        .col-xs-6.col-sm-12
          .form-group
            label.col-xs-12.col-sm-4.control-label(for="carrier") Carrier
            .col-sm-7.col-xs-12.col-lg-6
              select.form-control#carrier(ng-model='client.carrier', name="carrier", ng-options='s.id as s.name for s in client.carriers', analytics-category="Client", analytics-event="Change Carrier", analytics-label="{{client.carrier}}", analytics-on="change")
        .col-xs-6.col-sm-12
          .form-group
            label.col-xs-12.col-sm-4.control-label(for="plan") Plan
            .col-xs-9.col-sm-7.col-lg-4
              .input-group
                span.input-group-addon $
                input.form-control#plan(money='', ng-model='client.plan', name="plan", analytics-category="Client", analytics-on="blur", analytics-event="Change Plan", analytics-label="{{client.plan}}")
      .row
        .col-sm-12.col-xs-6
          .form-group
            label.col-sm-4.col-xs-12.control-label(for="language") Language:
            .col-sm-7.col-xs-11.col-lg-5
              select.form-control#language(ng-options='l.id as l.name for l in client.languages', ng-model='client.language', analytics-category="Client", analytics-event="Change Language", analytics-label="{{client.language}}", analytics-on="change")
        .col-sm-12.col-xs-6
          .form-group
            label.col-sm-5.col-md-4.col-xs-12.control-label(for="paiduntil") Next payment due:
            .col-sm-6.col-xs-12.col-md-6.col-lg-5
              .input-group.hackyhack-custom
                input.form-control(ng-class="{'psuedo-input-focus':opened}", type="text", show-weeks='false', datepicker-popup='dd-MMM-yyyy', ng-click="opened = !opened", ng-model="client.paiduntil", is-open="opened", analytics-category="Client", analytics-event="Change Payment Due", analytics-on="click")
                span.input-group-btn
                  button.btn.btn-default(type="button", ng-click="$event.preventDefault();$event.stopPropagation();opened=!opened")
                    i.fa.fa-calendar.grow(ng-class="{'grow grow-hover-helper-icon':opened}")
      .row
        .col-xs-12
          .form-group
            label.col-sm-3.col-xs-12.col-md-3.control-label(for="paymenttype") Payment type:
            .col-xs-12.col-sm-9.col-md-9
              payment-type(client="client", analytics-category="Client", analytics-event="Change Payment Type")
        .col-xs-12
          .form-group
            label.col-sm-5.col-md-5.col-lg-4.control-label(for="recieve_sms") Payment Reminders:
            .col-xs-12.col-sm-7.text-center
              .input-group
                button.btn.btn-default.btn-xs(type="button", btn-checkbox='', name="recieve_sms", ng-model="client.receive_sms", analytics-category="Client", analytics-event="Receive SMS", analytics-on="click")
                  i.fa.grow-icon-xs(ng-class="{'fa-square-o':!client.receive_sms,'fa-check-square-o':client.receive_sms}")
                  span.icon-left-xs Receive SMS
  .col-sm-6.col-xs-12
    form.form-horizontal(role="form")
      .form-group
        label.col-sm-2.control-label#address(for="address") Address:
        .col-xs-12.col-sm-10
          textarea.form-control(placeholder="{{client.store.locationInfo.address.formatted_address}}", type="text", id="address",name="address", rows="3", ng-model="client.address.formatted_address", typeahead="address.formatted_address for address in client.$predictAddress($viewValue)", typeahead-on-select='client.onSelectAddress($item)', analytics-on="blur", analytics-event="Add Address", analytics-category="Client")
      .form-group.top-buffer
        label.col-sm-2.control-label(for="notes") Notes:
        .col-xs-12.col-sm-10
          textarea.form-control#notes(ng-model='client.notes', rows='3', name="notes", placeholder="Please input some notes about this client", analytics-on="blur", analytics-event="Change Notes", analytics-category="Client", analytics-label="{{client.notes}}")
      .form-group.top-buffer
        label.col-sm-2.control-label(for="notes") Message:
        .col-xs-12.col-sm-10
          textarea.form-control#message(ng-model='client.message_info', rows='3', name="message", placeholder="Send a text message this client", analytics-on="blur", analytics-event="Change SMS Content", analytics-category="Client", analytics-label="{{client.message}}")
          .text-right.top-buffer-xs
            button.btn.btn-info.btn-xs(type="button", ng-click="sendSMS(client)", ng-disabled="(client.message.length <= 0)", analytics-on="click", analytics-event="Send SMS", analytics-category="Client")
              i.fa.fa-send.icon-right-xs.grow-icon
              span Send
.row.top-buffer
  .form-group
    div(ng-class="{'col-xs-6 text-right':isAdmin(), 'col-xs-12 text-center':!isAdmin()}")
      button.btn.btn-md.btn-primary( type='button', ng-click='saveClient(client)', analytics-on="click", analytics-event="Save Client", analytics-category="Client", ng-disabled="!client.isExistingClient()")
        i.fa.fa-save.icon-right.grow-icon
        | Save
    .col-xs-6(ng-show="isAdmin()")
      button.btn.btn-md.btn-danger(type='button', ng-click='delClient(client)', analytics-on="click", analytics-event="Delete Client", analytics-category="Client")
        i.fa.fa-trash-o.icon-right.grow-icon
        | Delete