.row
  .col-md-3.hidden-sm.hidden-xs
    .well.client-table
      ul.nav.nav-pills.nav-stacked
        li.nav-header.text-center.bottom-buffer
          div.input-group
            input.form-control(ng-model='x.searchField', placeholder='Search Clients', type='text', analytics-on="blur", analytics-category="Client", analytics-event="Search Client")
            span.input-group-addon
              i.fa.fa-search
        li.text-center(ng-repeat="client in clients | filter:x | limitTo:12 track by client._id", ng-class="{'active':($stateParams.id === client._id)}")
          a(ui-sref='clientinfo.detail.info({id:client._id})')
            span {{client.display}}
  .col-xs-12.col-md-9(ui-view='')
