div
  .row.page-header
    .col-sm-6.col-xs-12.text-center-xs.edit-inline-wrapper
      h2( edit-in-place='', prevent-click="false", input-placeholder="Firstname", value="client.firstname") {{client.firstname}}
      h2( edit-in-place='', prevent-click="false", input-placeholder="Lastname", value="client.lastname") {{client.lastname}}
    .col-sm-6.col-xs-12.text-center-xs.text-right
      h2.edit-inline-padding( edit-in-place='', prevent-click="false", input-placeholder="0123456789", ng-class="{'text-danger':!client.isExistingClient()}", value="client.telephone") {{client.telephone | tel}}
  .row
    ul.nav.nav-tabs
      li.col-xs-6.text-center(ui-sref-active="active")
        a(ui-sref="clientinfo.detail.info") Information
      li.col-xs-6.text-center(ui-sref-active="active")
        a(ui-sref="clientinfo.detail.invoices({page:client.invoice_page})") Invoices
  div(ui-view='')
