.row.top-buffer
  .col-sm-3.col-sm-offset-1.text-center.hidden-xs
    h4 Date
  .col-sm-2.hidden-xs.text-center
    h4 Time
  .col-sm-3.hidden-xs.text-center
    h4 Invoice Number
  .col-xs-11.col-sm-2.text-center.text-right-xs
    h4 Total
client-invoice-list
.row.top-buffer
  .col-xs-8
    pagination(total-items="client.invoice_count", ng-model="client.invoice_page", ng-change="changeInvoicePage(client)")
  .col-xs-4.text-right
    a.button.btn.btn-sm.btn-primary( type='button', ui-sref="invoice({id:client._id})", analytics-on="click", analytics-category="Client", analytics-event="Go To Invoice")
      i.fa.fa-file-text-o.grow-icon.icon-right
      | New Invoice