div
  div( ng-controller='viewInvoiceCtrl', ng-repeat='invoice in client.invoices track by invoice._id', ng-switch='', on="isSelected()")
    .row.top-border.border-fade(ng-class='{ "select-invoice":isSelected(invoice) }', ng-click='toggleSelected()')
      .col-xs-1.padding.hidden-xs.bottom-top-buffer
        span {{$index+1}}
      .col-xs-6.col-sm-3.padding.text-center.bottom-top-buffer
        span {{invoice.created_date | date:'EEE. MMM d, y'}}
      .col-xs-3.col-sm-2.padding.text-center.bottom-top-buffer
        span {{invoice.created_date | date:'shortTime'}}
      .col-xs-3.padding.text-center.hidden-xs.bottom-top-buffer
        span &#35;{{invoice.invoice_number}}
      .col-xs-2.padding.text-center.bottom-top-buffer
        span {{invoice.grandtotal | currency }}
      .col-xs-1.padding.text-right.bottom-top-buffer
        button.btn.btn-link.btn-xs
          i.fa.fa-chevron-down.base-spin(ng-class="{'spin-up':isSelected() }")
    .row.invoice-container-clientinfo.selected.left-border.right-border.animate-dailylog(ng-switch-when='true', stop-event='click')
      invoice
  .row.top-border
