
.ui-iconpicker.dropdown {
  margin-right: 15px;
}

.ui-iconpicker#category {
  .btn-link {
    .btn-default;
  }
  .btn-xs {
    line-height: inherit;
  }
  .dropdown-toggle {
    padding-left: 15px;
    padding-right: 15px;
  }
}
3
.ui-iconpicker#category > button > i {
  font-size: @font-size-small;
}


.ui-iconpicker.dropdown:hover .dropdown-toggle {
  color: @link-color;
  background-color: white;
  border-color:white;
}

.ui-iconpicker > button > i {
  padding-right: 0px !important;
  font-size: @font-size-h4;
}

.ui-iconpicker > button.btn-link {
  color:black;
}

@media (min-width: 768px) and (max-width: 991px) {
  .ui-iconpicker > ul.dropdown-menu {
    max-height: 30.1em !important;
    width: 60.1em !important;
  }
}

@media (min-width: 1200px) {
  .ui-iconpicker > ul.dropdown-menu {
    max-height: 40.1em !important;
    width: 50.1em !important;
  }
}