div(ui-view='')
  .row
    .well.well-sm.glow.col-sm-6.col-xs-12.right-margin(style='cursor:pointer;', ui-sref="edit({username:user.username})", ng-repeat='user in users track by user._id')
      button.close.grow(type="button", ng-click="removeUser(user)", stop-event='click') &times;
      div
        .col-xs-5.text-center
          img.img-thumbnail.img-responsive(ng-src='{{user.thumbnail}}', alt='', ng-init="user.thumbnail = user.thumbnail || 'http://placehold.it/240x240&text='+user.firstname+' '+user.lastname")
        .col-xs-7
          h4
            | {{user.firstname}} {{user.lastname}}
          p.truncate-string
            i.fa.fa-user.icon-right
            i.fa.fa-wrench.icon-right(ng-show='user.admin')
            | {{user.username}}
            br
            a(stop-event='click', ng-href='mailto:{{user.email}}')
              i.fa.fa-envelope-o.icon-right
              | {{user.email}}
            br
            i.fa.fa-location-arrow.icon-right
            | {{user.store.locationInfo.name}}
  .row
    .col-xs-12
      button.btn.btn-default(type="button", ui-sref="new")
        i.icon-right.fa.fa-user-plus.grow
        | Add User
